.solutions__menu_content.solutions__menu_content--selected
  div.float-right
    = image_tag('logos/logo_ontheagenda.png', size: '80x26')
  div.float-none
    h5 On the Agenda
    div.float-none
      nav id="navbar-solutions"
        h4= link_to 'Creating inclusive gender balanced businesses', '#company-2', class: 'animateScroll'
        ul.nav.flex-column
          li.nav-item
            = link_to 'Put gender (back) on the agenda', '#step-1-1', class: 'nav-link animateScroll'
          li.nav-item
            = link_to 'Analyze your current situation', '#step-1-2', class: 'nav-link animateScroll'
          li.nav-item
            = link_to 'Strategy workshops', '#step-1-3', class: 'nav-link animateScroll'
          li.nav-item
            = link_to 'Management training', '#step-1-4', class: 'nav-link animateScroll'
          li.nav-item
            = link_to 'Project management', '#step-1-5', class: 'nav-link animateScroll'
          li.nav-item
            = link_to 'Measuring progress', '#step-1-6', class: 'nav-link animateScroll'
          li.nav-item
            = link_to '1-year all-inclusive package', '#step-1-7', class: 'nav-link animateScroll'
.solutions__menu_content
  div.float-none
    h4= link_to 'Back to overview', solutions_path
