.anchor id="company-2__step-1"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      /.col-12.col-lg-8
      /  .image-container.image-container--big
      /    = image_tag('icons/icon_growth.svg')
      /  h2.pt-3 Offer
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-1"
    .row
      .col-12
        .float-left.bg-white
          | Keynote, Workshop
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong 30 minutes - ½ day
        h1
          strong Put gender (back) on the agenda
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-0.mb-0 The first step is to engage leaders and managers through a high-impact, thought-provoking presentation or half-day workshop on the why and how of gender balance. This is crucial if:
        ul.pl-4.pb-5
          li Your company has tried unsuccessfully for years to get more women into leadership
          li Your team suffers from “gender fatigue”
          li Your team has never considered the topic to be worth their time
          li Your team has never discussed the subject before
          li Leaders and middle managers are not aligned on the why and how of gender balance
          li You’ve been making incremental progress and want to take the next step to transformational change
        h3 Pricing
        h4
          ' Indicative price for Executive / Senior audience:
          strong 22.000 DKK + VAT
        h4
          ' Indicative price for employee / middle management audience:
          strong 56.000 DKK + VAT
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'On the Agenda', name: 'Put gender (back) on the agenda'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-2"
    .row
      .col-12
        .float-left.bg-white
          | Analysis
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Quick scan of your current situation
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | We review KPIs, internal and external data, conduct confidential interviews with managers in different functions and at different levels to provide an evidence-based analysis of the current situation, identify key issues and recommend next steps.
        h3 Pricing
        h4
          ' Indicative prices:
          strong 15.000 DKK/day, 2200 DKK/hour + VAT
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'On the Agenda', name: 'Quick scan of your current situation'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-3"
    .row
      .col-12
        .float-left.bg-white
          | Building strategy
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong ½ - 1 day
        h1
          strong Strategy workshops
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | Recent research shows that the most effective strategies are produced by the people affected by them – managers and employees. We design and facilitate strategizing processes tailored to your organization that engages managers and employees in identifying problems and solutions. Besides building ownership of the strategy, the process facilitates learning, as adults learn best when working with others to solve concrete problems. Each workshop results in specific recommendations for action that will be submitted for comment and approval by top management or the project management team.
        h3 Pricing
        h4
          ' Indicative price:
          strong 34.000 – 64.000 DKK + VAT
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'On the Agenda', name: 'Strategy workshops'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-4"
    .row
      .col-12
        .float-left.bg-white
          | Building competences
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong ½ - 1 day
        h1
          strong Management training - coaching and workshops
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | You need to equip your managers –at all levels –with the skills they need to bring your gender balance strategy to life.
          br
          br
          | We offer one on one and group coaching, which allows managers to address specific issues they are facing in the here and now.
          br
          br
          | We design workshops for managers to build the necessary competences for discussing and resolving gender-related issues on their own as well as opportunities to reflect on current management practice as it relates to gender balance. Where appropriate, we use highly effective interactive creative methods – such as our own Serious Game, Mosaic®, LEGO® Serious Play®, and theater –to create learning experiences rather than “listening” experiences.
        h3 Pricing
        h4
          ' Executive and Senior management level coaching:
          strong 3.500 DKK/hour + VAT
        h4
          ' Coaching for line/middle managers, team leaders:
          strong  2.200 DKK/hour + VAT
        h4
          ' Indicative price:
          strong  34.000 - 68.000 DKK + VAT
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'On the Agenda', name: 'Management training - coaching and workshops'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-5"
    .row
      .col-12
        .float-left.bg-white
          | Consulting
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Project management
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | We provide ongoing advice and review of project plans, deliverables and key communications, assistance in managing sceptics, getting buy-in from key stakeholders or resolving issues.
        h3 Pricing
        h4
          ' Indicative price:
          strong 2200 DKK/hour + VAT
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'On the Agenda', name: 'Project management'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-6"
    .row
      .col-12
        .float-left.bg-white
          | Reviews
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Measuring progress
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | We help you stay on course by providing qualitative and quantitative progress reviews, implementation support and evaluating roll-out plans.
        h3 Pricing
        h4
          ' Indicative price:
          strong 2200 DKK/hour + VAT
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'On the Agenda', name: 'Measuring progress'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-7"
    .row
      .col-12
        .float-left.bg-white
          | Comprehensive support
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong 1 year
        h1
          strong 1-year all-inclusive package
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | We recommend that companies that have not yet begun working on gender balance or where previous attempts have stalled or collapsed commit to a one-year package including steps 1-5 above. Pricing depends on size, structure, and current situation of the company.
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'On the Agenda', name: '1-year all-inclusive package'}, class: 'keynote__button btn btn-primary btn-primary--small'
