.anchor id="company-2"
.row.solutions__header
  .col-12.col-lg-8
    h1.pr-5.pb-1 Creating inclusive gender balanced businesses
    h5.pb-4
      ' In cooperation with
      strong On the Agenda
    h3.pb-3
      strong On the Agenda is a boutique management consultancy focusing on creating inclusive gender balanced businesses.
      ' We help organizations begin and continue their journeys toward gender balance until they reach their goals. We offer services to support all the essential steps to complete the journey.
    = link_to 'Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'On the Agenda', name: 'Creating inclusive gender balanced businesses'}, class: 'btn btn-primary full-offfer-button'
  .hidden-md-down.col-lg-4.pl-1.solutions__header_img
    = image_tag('icons/services_1_axiom.svg')
/ TODO: transform this into loop after transfering offers to DB
.row.solutions__step.margin-negative
  .col-12
    hr.hr--dark
== render 'offer'
