.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_growth.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 Your D&I Strategy
    h4 Setting a successful strategy for your D&I work
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Engaged Leadership', name: 'Building an innovative culture based on inclusion and diversity' }, class: 'btn btn-secondary full-offer-button'

.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_bulb.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 D&I health check and objectives
    h4 Analyzing your D&I status and setting D&I objectives for your organization
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Engaged Leadership', name: 'Building an innovative culture based on inclusion and diversity' }, class: 'btn btn-secondary full-offer-button'

.row.solutions__step.pb-4
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_conversation.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 Building awareness and progress
    h4 Understanding unconscious bias and how it affects your business
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Engaged Leadership', name: 'Building an innovative culture based on inclusion and diversity' }, class: 'btn btn-secondary full-offer-button'
