.anchor id="company-5"
.row.solutions__header
  .col-12
    h5.pb-3
      ' In cooperation with
      <br>
      strong Engaged Leadership, Eva Eliasson
    h1.pr-5.pb-1 Building an innovative culture based on inclusion and diversity
    h3.pb-3
      | Our focus is on strategical and tactical support for organizations that want to increase their innovation by means of Diversity and Inclusion. Creating an inclusive culture that will allow innovation to prosper. A culture that will help diverse talents to advance as well as to be attractive for diverse talents outside the company...
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_growth.svg')
    h3 Your D&I Strategy
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_bulb.svg')
    h3 D&I health check and objectives
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_conversation.svg')
    h3 Building awareness and progress
  .col-12
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Engaged Leadership', name: 'Building an innovative culture based on inclusion and diversity' }, class: 'btn btn-primary my-3 full-offer-button'
