.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_growth.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 Parental Leave Forum
    h4 Stop losing talents to parental leave
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Potential Company', name: 'Unfold your talents’ full potential - Create diverse careers' }, class: 'btn btn-secondary full-offer-button'
/ REPEAT
.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_bulb.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2  Changing minds
    h4 Send new fathers on paternity leave and take diversity to a new level
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Potential Company', name: 'Unfold your talents’ full potential - Create diverse careers' }, class: 'btn btn-secondary full-offer-button'
.row.solutions__step.pb-4
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_conversation.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2  Development and culture programs
    h4 Make your talent pipeline gender- and value balanced at all career stages
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Potential Company', name: 'Unfold your talents’ full potential - Create diverse careers' }, class: 'btn btn-secondary full-offer-button'
