.solutions__menu_content.solutions__menu_content--selected
  div.float-right
    = image_tag('logos/logo_engaged.png', size: '50x35')
  div.float-none
    h5 Engaged Leadership
    div.float-none
      nav id="navbar-solutions"
        ul.nav.flex-column
          li.nav-item
            = link_to 'Introductory lecture', '#company-4', class: 'animateScroll'
          li.nav-item
            = link_to 'Setting a strategy for D&I', '#step-1', class: 'animateScroll'
          li.nav-item
            = link_to 'Workshop - Building a Strategy', '#step-1', class: 'animateScroll'
          li.nav-item
            = link_to 'Building a D&I health check', '#step-2', class: 'animateScroll'
          li.nav-item
            = link_to 'Setting D&I objectives for your organization', '#step-2', class: 'animateScroll'
          li.nav-item
            = link_to 'Workshop - Unconscious Bias ', '#step-3', class: 'animateScroll'
.solutions__menu_content
  div.float-none
    h4= link_to 'Back to overview', solutions_path
