.anchor id="step-1"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_growth.svg')
        h2.pt-3 Your D&I Strategy
      .col-12
        hr.pb-md-5
    / KEYNOTE
  .col-12.keynote
    .anchor id="step-1"
    .row
      .col-12
        .float-left.bg-white
          | Keynote
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Setting a successful strategy for your Diversity & Inclusion work
          hr
    .row.justify-content-center.keynote-content
      .col-12
        .pt-2
          p An inclusive culture that allows a diverse workforce to apply all their inherent creativity can make innovation prosper. There are much data available backing a business case for D&I. But how do I get about to build such a culture? To have a successful strategy is the first key step.
          p We can provide you with independent parts such as:
          ol
            li Introductory Lecture covering; Why is Diversity and Inclusion important for your business? Who is gaining? How to create an innovative culture built on D&I. Critical Success factors
            li Strategic consulting: Advice on how to set a strategy for your company´s D&I work. Situation analysis. What do you want to achieve? Which are your critical success factors? Gap analysis. How to get there?
            li A facilitated workshop where you build your strategy

    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Engaged Leadership', name: 'Your D&I Strategy'}, class: 'keynote__button btn btn-primary btn-primary--small'

/ STEP 2
.solutions__steps_divider
  hr
.anchor id="step-2"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_bulb.svg')
        h2.pt-3 D&I health check and objectives
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor id="step-2"
    .row
      .col-12
        .float-left.bg-white
          | Keynote
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Analyzing your D&I status and setting D&I objectives for your organization
          hr
    .row.justify-content-center.keynote-content
      .col-12
        .pt-2
          p To follow your work and measure progress are critical success factors. We will assist you in setting up a heat map where you will have a clear picture on where the organization stands in terms of D&I. In the format of a D&I health check, you will get a tailor made tool that will serve as a baseline for an action plan as well as a follow up.
          p Companies that are outstanding in this area often mention clear D&I objectives for the organization as key. And of course it is well known – what you measure will be done. But how do you set D&I objectives for an organization and for colleagues?  What are relevant objectives? How to measure?
          p We can provide you with guidance in possible options and assist you in building the framework that is suitable for your strategy.

    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Engaged Leadership', name: 'D&I health check and objectives'}, class: 'keynote__button btn btn-primary btn-primary--small'
/ STEP 3
.solutions__steps_divider
  hr
.anchor id="step-3"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_conversation.svg')
        h2.pt-3 Building awareness and progress
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor id="step-3"
    .row
      .col-12
        .float-left.bg-white
          | Keynote
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong 3 hours
        h1
          strong Understanding unconscious bias and how it affects your business
          hr
    .row.justify-content-center.keynote-content
      .col-12
        .pt-2
          p Unconscious bias is present in all of us – it is natural. Therefore, it is crucial to be aware of them and how they affect our everyday decisions. Not until then can we build an open tolerant culture with sound business decisions.
          p Through a 3 h workshop you will know:
          p What is unconscious bias? How does it affect our business? Does it refer to me? How can I check my biases? How it is linked to your work with Diversity and Inclusion? How can we go from unconscious bias to conscious inclusion?

    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Engaged Leadership', name: 'Building awareness and progress'}, class: 'keynote__button btn btn-primary btn-primary--small'
