.anchor id="company-4"
.row.solutions__header
  .col-12.col-lg-8
    h1.pr-5.pb-1 Building an innovative culture based on inclusion and diversity
    h5.pb-4
      ' In cooperation with
      strong Engaged Leadership, Eva Eliasson
    h3.pb-3 Engaged leadership is a consultancy focusing on strategical and tactical support for organizations that wants to increase their innovation by means of Diversity and Inclusion. Creating an inclusive culture that will allow innovation to prosper. A culture that will help diverse talents to advance as well as to be attractive for diverse talents outside the company.
    h3.pb-3 Eva has extensive management experience from the pharmaceutical industry and has successfully worked hands on with D&I in both an in-country as well as international organization. Eva will be able to help you to make an analysis of your baseline status, support you in putting your strategies in place and to make them come true into measurable results.
    = link_to 'Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Engaged Leadership', name: 'Building an innovative culture based on inclusion and diversity' }, class: 'btn btn-primary full-offfer-button'
  .hidden-md-down.col-lg-4.pl-1.solutions__header_img
    = image_tag('icons/services_1_axiom.svg')
/ TODO: transform this into loop after transfering offers to DB
.row.solutions__step.margin-negative
  .col-12
    hr.hr--dark
== render 'offer'
