== render 'user_logged/solutions/more_info'
.container.solutions
  h1.signup.text-center.mb-3.pb-5
    | SOLUTIONS
    br
    | Expanded possibilities
  .row
    .col-12.col-lg-3.push-lg-9.solutions__menu
      .solutions__menu_header
        h6 Currently provided services:
      .solutions__menu--sticky
        == render 'menu'
    .col-12.col-lg-9.pull-lg-3.solutions__content
      / TODO: transform this into loop after transfering offers to DB
      == render 'partner'
      .row.solutions__footer.solutions__footer--detailed
        .col-12
          .div.solutions__footer-cardlike
            .row
              .col-12.col-lg-7
                h3 If You have any additional questions or maybe a suggestion about more service possibilities, feel free to give us a hint!
              .col-12.col-lg-1
              .col-12.col-lg-4
                = link_to 'Contact us', 'mailto:welcome@gogetty.co', class: 'btn btn-primary btn-primary--narrow'
            hr.py-1
            h5
      .row.solutions__footer.solutions__footer--gradiented
        .col-12.col-xl-7
          h1.pb-3 We will provide more services in the near future.
          h4 Make sure You don’t miss them by visiting our site often, or simply following us on social media.
          = link_to image_tag('icons/fb_line_icon.svg'), 'https://www.facebook.com/gogetty.co/', target: '_blank', class: 'img-services'
          = link_to image_tag('icons/in_line_icon.svg'), 'https://www.linkedin.com/company/17923191/', target: '_blank', class: 'img-services'
        .hidden-lg-down.col-xl-5
          = image_tag('icons/bottom_additional_services.svg', class: 'img-bg')
