#all_policies.modal.fade aria-hidden="true" aria-labelledby="all_policies_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/all_policies.svg')
          #all_policies_label.modal-title Our Diversity & Inclusion Policies
      .modal-body.px-5
        - @company.all_policies.each do |diversity_policy|
          p.card-text
            - if diversity_policy.additional
              | &#65533;
            - else
              | &#10004;
            = diversity_policy.name
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button" Close
