#how_this_works_become_admin.modal.fade aria-hidden="true" aria-labelledby="how_this_works_become_admin_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/hey_this_is_important.svg')
          #how_this_works_add_company_label.modal-title.px-5 Hey! This is important
      .modal-body.px-5
        ' As an administrator of your Company's GoGetty Profile you will be able
        ' to update the company profile, including general information as well as
        | diversity facts, constituting your company's diversity score.
      .modal-footer
        button.btn.btn-secondary type="button" id='proceed' Proceed
#become_admin.modal.fade aria-hidden="true" aria-labelledby="become_admin_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/invitation_admin.svg')
          #add_admin_label.modal-title Become an admin
      - if policy(:users).pro?
        = simple_form_for @become_admin_form,
                          url: user_logged_become_admin_path(@company.id),
                          html: {class: 'form-inline', id: 'become_admin_form'},
                          method: :get do |f|
          .modal-body.px-5
            = f.input :acceptance,
                      as: :boolean,
                      label: "I verify that I am official representative of this company \
                      and have the right to act on behalft of my company in the creation \
                      of this page",
                      id: 'form_company_become_admin_acceptance'
          .modal-footer
            = f.button :submit, 'Become an admin', class: 'button btn btn-secondary'
      - else
       .modal-body
         ' Please buy a subscription to be able to edit your company details
         ' and Diversity and Ethnicity charts. Follow
         = link_to 'this link', new_subscription_path(company_id: @company.id)
         |  to choose subscription.
