ul#chartTabs.nav.nav-tabs role="tablist" 
  li.nav-item
    a#gender-tab.nav-link.active.tab-shadow-right aria-controls="gender" aria-selected="true" data-tab="chart" data-toggle="tab" href="#gender" role="tab"  
      i.fa.fa-circle#chart-diversity-active
      span.gender-title Gender score
  li.nav-item
    a#ethnicity-tab.nav-link.tab-shadow-left aria-controls="ethnicity" aria-selected="false" data-tab="chart" data-toggle="tab" href="#ethnicity" role="tab"  
      i.fa.fa-circle#chart-ethnicity-active.hidden-soft
      span Ethnicity score
#chartTabsContent.tab-content
  = render 'show_management'
  = render 'show_ethnicity_legend'