#company_information_request.modal.fade aria-hidden="true" aria-labelledby="company_information_request_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/request_information.svg')
          #goal_request_label.modal-title
            = "Curious about how #{@company.name} wants to reach their ambitious diversity goals. Ask your question here, and GoGetty will reach out to #{@company.name} for more information."
      = simple_form_for @company_information_request_form,
                        url: user_logged_company_information_requests_path,
                        html: {id: 'user_logged_company_information_request_form'},
                        method: :post do |f|
        .modal-body
          | Request more information
          = f.input :comment, as: :text, wrapper_html: {class: 'justify-content-center'}, input_html: {class: 'w-100'}, label: false
          = hidden_field_tag :authenticity_token, form_authenticity_token
          = f.input :company_id, as: :hidden, input_html: { value: @company.id }
        .modal-footer
          = f.button :submit, 'Send request', class: 'button btn btn-secondary'
