- company.company_profile_histories.order(created_at: :desc).each_with_index do |history, i|
  tr
    - if i.zero?
      td= company.name
      td= truncate(company.industry&.name, length: 16)
      td= company.country&.en_name
    - else
      td colspan="3"

    td= history.diversity_score
    td= history.now_director_woman_count
    td= history.now_director_man_count
    td= history.goal_director_woman_count
    td= history.goal_director_man_count
    td= history.now_cxo_woman_count
    td= history.now_cxo_man_count
    td= history.goal_cxo_woman_count
    td= history.goal_cxo_man_count
    td= history.now_vp_woman_count
    td= history.now_vp_man_count
    td= history.goal_vp_woman_count
    td= history.goal_vp_man_count
    td= history.now_middle_woman_count
    td= history.now_middle_man_count
    td= history.goal_middle_woman_count
    td= history.goal_middle_man_count
    td.date-col= history.created_at
