- company_profile = company.company_profile.decorate
.col-xl-3.col-lg-4.col-md-6.text-center.mb-4
  .card
    a.card-block.clearfix.py-3 href='#{user_logged_company_path(company)}'
      .company_info-featured
        .card-img-top
          .score-graph.score-graph--tile.mx-auto.mb-3
            = inline_svg('score_graph_featured-company.svg', data: {score: company_profile.total_diversity_score})
            .score-graph__value-wrapper.company-tile-svg
              .score-graph__logo
                = company.logo_extra_small
      .card-subtitle.mt-3.mb-1
        = company.name
      .paragraph-small title="#{company.industry&.name}"
        = truncate(company.industry.name, length: 16) rescue "&nbsp;".html_safe
    .company_info-values.horizontal-border-top
      .card-title
        .label.label-scores Scores:
        .chart-values
          .chart-result
            .paragraph-small 
              | Gender
            h6 = number_to_percentage(company_profile.total_diversity_score, precision: 0) || '0%'
          .fa.fa-info-circle
      .card-title
        .chart-values
          .chart-result
            .paragraph-small Ethnicity
            .search-results.ml-2
              .label.label-extra-small 
                span.span-value = company.languages_count 
                span  Languages
              .label.label-extra-small 
                span.span-value = company.nationalities_count 
                span  Nationalities
          .fa.fa-info-circle
    .company_info-actions.pb-3.horizontal-border.horizontal-border-top
      div.learn-more
        = link_to 'Display profile', user_logged_company_path(company), class: 'btn btn-link'
        i.fa.fa-arrow-right
      = follow_helper(company, current_user)
    
