.ml-3.mr-3
  .progress.mb-1
    .progress-bar aria-valuemax="100" aria-valuemin="0" aria-valuenow="#{bar_state}" role="progressbar" style=("width: #{bar_state}%")
  p.card-text.pt-0.mb-0
    = full_label
