#diversity_request.modal.fade aria-hidden="true" aria-labelledby="diversity_request_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/request_information.svg')
          #diversity_request_label.modal-title
            = "Curious about #{@company.name}'s Diversity Score?"
      = simple_form_for @diversity_request_form,
                        url: user_logged_diversity_requests_path,
                        html: { id: 'user_logged_diversity_request_form'},
                        remote: true,
                        method: :post do |f|
        .modal-body.px-5
          - if @company_profile.diversity_present
            | Request more information by leaving a free text comment:
          - else
            | Request more information
          = hidden_field_tag :authenticity_token, form_authenticity_token
          = f.input :company_id, as: :hidden, input_html: { value: @company.id }
          - if @company_profile.diversity_present
            = f.input :comment, as: :text
          - else
            = check_box_tag :curious, '1', true, disabled: true
            = label_tag :curious, "GoGetty Diversity Score for #{@company.name}"
        .modal-footer
          = f.button :submit, 'Send request', class: 'button btn btn-secondary'
