#edit_diversity.modal.fade aria-hidden="true" aria-labelledby="edit_diversity_label" role="dialog" class="edit-diversity" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/edit_info.svg')
          #edit_diversity_label.modal-title Edit diversity
      = simple_form_for @company_profile_form, url: user_logged_company_profile_path(@company.id) do |f|
        .modal-body.px-4
          .row
            .col-6
              | Now
            .col-6
              | Goal
          hr

          .row.text-left
            .col-12
              = f.input :director_name, label: false, input_html: {class: "level-name-input"}, wrapper_html: {class: "level-name-input-wrapper"}
              = f.input :director_hide, as: :boolean, label: "Our company does not have Board of Directors", input_html: {class: "isNotLevel"}
              = f.hidden_field :director_in_percenatge, as: :boolean
              .text-center.slidePercentage.cstm_switch
                span.spn_per Percentage
                label.switch
                  = check_box_tag 'director_in_percenatge', f.object.director_in_percenatge, !f.object.director_in_percenatge, class: "isNotCheckbox switch-input setting-status"
                  span.slider.round
                span.spn_num Numbers

          / Numbers
          .row.count-fields.cstn_frm_num
            .col-3
              .form-group
                = f.label :now_director_woman_count
                .input_wrap
                  = f.input :now_director_woman_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
              .form-group
                = f.label :now_director_man_count
                .input_wrap
                  = f.input :now_director_man_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
            .col-6
            .col-3
              .form-group
                = f.label :goal_director_woman_count
                .input_wrap
                  = f.input :goal_director_woman_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
              .form-group
                = f.label :goal_director_man_count
                .input_wrap
                  = f.input :goal_director_man_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'

          / Percentage
          .row.count-fields.cstn_frm
            .col-3.pad_lt.pad_rt
              .form-group
                = f.label :now_director_woman_percentage
                .input_wrap
                  = f.input :now_director_woman_percentage, wrapper: false, label: false
                  span.perc %
              .form-group
                = f.label :now_director_man_percentage
                .input_wrap
                  = f.input :now_director_man_percentage, wrapper: false, label: false
                  span.perc %
            .col-6
              .emp_level
                h5 Employee on this level
                .emp_level_input
                  .form-group
                    = f.label :now_director_total
                    = f.input :now_director_total, wrapper: false, label: false
                  .form-group
                    = f.label :goal_director_total
                    = f.input :goal_director_total, wrapper: false, label: false
            .col-3.pad_lt.pad_rt
              .form-group
                = f.label :goal_director_woman_percentage
                .input_wrap
                  = f.input :goal_director_woman_percentage, wrapper: false, label: false
                  span.perc %
              .form-group
                = f.label :goal_director_man_percentage
                .input_wrap
                  = f.input :goal_director_man_percentage, wrapper: false, label: false
                  span.perc %

          .row.text-left
            .col-12
              = f.input :cxo_name, label: false, input_html: {class: "level-name-input"}, wrapper_html: {class: "level-name-input-wrapper"}
              = f.input :cxo_hide, as: :boolean, label: "Our company does not have CxO", input_html: {class: "isNotLevel"}
              = f.hidden_field :cxo_in_percenatge, as: :boolean
              .text-center.slidePercentage.cstm_switch
                span.spn_per Percentage
                label.switch
                  = check_box_tag 'cxo_in_percenatge', f.object.cxo_in_percenatge, !f.object.cxo_in_percenatge, class: "isNotCheckbox switch-input setting-status"
                  span.slider.round
                span.spn_num Numbers

          / Numbers
          .row.count-fields.cstn_frm_num
            .col-3
              .form-group
                = f.label :now_cxo_woman_count
                .input_wrap
                  = f.input :now_cxo_woman_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
              .form-group
                = f.label :now_cxo_man_count
                .input_wrap
                  = f.input :now_cxo_man_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
            .col-6
            .col-3
              .form-group
                = f.label :goal_cxo_woman_count
                .input_wrap
                  = f.input :goal_cxo_woman_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
              .form-group
                = f.label :goal_cxo_man_count
                .input_wrap
                  = f.input :goal_cxo_man_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'

          / Percentage
          .row.count-fields.cstn_frm
            .col-3.pad_lt.pad_rt
              .form-group
                = f.label :now_cxo_woman_percentage
                .input_wrap
                  = f.input :now_cxo_woman_percentage, wrapper: false, label: false
                  span.perc %
              .form-group
                = f.label :now_cxo_man_percentage
                .input_wrap
                  = f.input :now_cxo_man_percentage, wrapper: false, label: false
                  span.perc %
            .col-6
              .emp_level
                h5 Employee on this level
                .emp_level_input
                  .form-group
                    = f.label :now_cxo_total
                    = f.input :now_cxo_total, wrapper: false, label: false
                  .form-group
                    = f.label :goal_cxo_total
                    = f.input :goal_cxo_total, wrapper: false, label: false
            .col-3.pad_lt.pad_rt
              .form-group
                = f.label :goal_cxo_woman_percentage
                .input_wrap
                  = f.input :goal_cxo_woman_percentage, wrapper: false, label: false
                  span.perc %
              .form-group
                = f.label :goal_cxo_man_percentage
                .input_wrap
                  = f.input :goal_cxo_man_percentage, wrapper: false, label: false
                  span.perc %

          .row.text-left
            .col-12
              = f.input :vp_name, label: false, input_html: {class: "level-name-input"}, wrapper_html: {class: "level-name-input-wrapper"}
              = f.input :vp_hide, as: :boolean, label: "Our company does not have VP", input_html: {class: "isNotLevel"}

              = f.hidden_field :vp_in_percenatge, as: :boolean
              .text-center.slidePercentage.cstm_switch
                span.spn_per Percentage
                label.switch
                  = check_box_tag 'vp_in_percenatge', f.object.vp_in_percenatge, !f.object.vp_in_percenatge, class: "isNotCheckbox switch-input setting-status"
                  span.slider.round
                span.spn_num Numbers

          / Numbers
          .row.count-fields.cstn_frm_num
            .col-3
              .form-group
                = f.label :now_vp_woman_count
                .input_wrap
                  = f.input :now_vp_woman_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
              .form-group
                = f.label :now_vp_man_count
                .input_wrap
                  = f.input :now_vp_man_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
            .col-6
            .col-3
              .form-group
                = f.label :goal_vp_woman_count
                .input_wrap
                  = f.input :goal_vp_woman_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
              .form-group
                = f.label :goal_vp_man_count
                .input_wrap
                  = f.input :goal_vp_man_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'

          / Percentage
          .row.count-fields.cstn_frm
            .col-3.pad_rt.pad_rt
              .form-group
                = f.label :now_vp_woman_percentage
                .input_wrap
                  = f.input :now_vp_woman_percentage, wrapper: false, label: false
                  span.perc %

              .form-group
                = f.label :now_vp_man_percentage
                .input_wrap
                  = f.input :now_vp_man_percentage, wrapper: false, label: false
                  span.perc %
            .col-6
              .emp_level
                h5 Employees on this level
                .emp_level_input
                  .form-group
                    = f.label :now_vp_total
                    = f.input :now_vp_total, wrapper: false, label: false
                  .form-group
                    = f.label :goal_vp_total
                    = f.input :goal_vp_total, wrapper: false, label: false
            .col-3.pad_lt.pad_rt
              .form-group
                = f.label :goal_vp_woman_percentage
                .input_wrap
                  = f.input :goal_vp_woman_percentage, wrapper: false, label: false
                  span.perc %
              .form-group
                = f.label :goal_vp_man_percentage
                .input_wrap
                  = f.input :goal_vp_man_percentage, wrapper: false, label: false
                  span.perc %

          .row.text-left
            .col-12
              = f.input :middle_name, label: false, input_html: {class: "level-name-input"}, wrapper_html: {class: "level-name-input-wrapper"}
              = f.input :middle_hide, as: :boolean, label: "Our company does not have Middle Management", input_html: {class: "isNotLevel"}
              = f.hidden_field :middle_in_percenatge, as: :boolean
              .text-center.slidePercentage.cstm_switch
                span.spn_per Percentage
                label.switch
                  = check_box_tag 'middle_in_percenatge', f.object.middle_in_percenatge, !f.object.middle_in_percenatge, class: "isNotCheckbox switch-input setting-status"
                  span.slider.round
                span.spn_num Numbers

          / Numbers
          .row.count-fields.cstn_frm_num
            .col-3
              .form-group
                = f.label :now_middle_woman_count
                .input_wrap
                  = f.input :now_middle_woman_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
              .form-group
                = f.label :now_middle_man_count
                .input_wrap
                  = f.input :now_middle_man_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
            .col-6
            .col-3
              .form-group
                = f.label :goal_middle_woman_count
                .input_wrap
                  = f.input :goal_middle_woman_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'
              .form-group
                = f.label :goal_middle_man_count
                .input_wrap
                  = f.input :goal_middle_man_count, wrapper: false, label: false
                  span.perc
                    = image_tag 'icons/user_icon.png'

          /  Percentage
          .row.count-fields.cstn_frm
            .col-3.pad_lt.pad_rt
              .form-group
                = f.label :now_middle_woman_percentage
                .input_wrap
                  = f.input :now_middle_woman_percentage, wrapper: false, label: false
                  span.perc %
              .form-group
                = f.label :now_middle_man_percentage
                .input_wrap
                  = f.input :now_middle_man_percentage, wrapper: false, label: false
                  span.perc %
            .col-6
              .emp_level
                h5 Employees on this level
                .emp_level_input
                  .form-group
                    = f.label :now_middle_total
                    = f.input :now_middle_total, wrapper: false, label: false
                  .form-group
                    = f.label :goal_middle_total
                    = f.input :goal_middle_total, wrapper: false, label: false
            .col-3.pad_lt.pad_rt
              .form-group
                = f.label :goal_middle_woman_percentage
                .input_wrap
                  = f.input :goal_middle_woman_percentage, wrapper: false, label: false
                  span.perc %
              .form-group
                = f.label :goal_middle_man_percentage
                .input_wrap
                  = f.input :goal_middle_man_percentage, wrapper: false, label: false
                  span.perc %

          .row.text-left
            .col-12.text-center
              div.mb-4
                h4.d-inline-block Set Diversity goal for a year
                = f.input :goal_year, collection: (Time.zone.now.year + 1)..(Time.zone.now.year + 11), include_blank: false, label: false, wrapper_html: {class: "d-inline-block ml-3"}
              = f.button :submit, 'Save changes', class: 'button btn btn-secondary mb-4'
