#edit_ethnicity.modal.fade aria-hidden="true" aria-labelledby="edit_ethnicity_label" role="dialog" class="edit-ethnicity" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .modal-background
        .text-right.pr-2.pt-1
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true" &times;
        .modal-header.pt-1
          .text-center
            h5#edit_ethnicity_label Edit Ethnicity score
      .modal-body
        ul#ethnicityForm.nav.nav-tabs role="tablist" 
          li.nav-item
            a#languages-tab.nav-link.active.tab-shadow-right aria-controls="languages" aria-selected="true" data-tab="form" data-toggle="tab" href="#languages" role="tab"  
              i.fa.fa-circle#languages-active
              span Languages
          li.nav-item
            a#nationalities-tab.nav-link.tab-shadow-left aria-controls="nationalities" aria-selected="false" data-tab="form" data-toggle="tab" href="#nationalities" role="tab"  
              i.fa.fa-circle#nationalities-active.hidden-soft
              span Nationalities
        .tab-content
          = render "edit_ethnicity_languages"
          = render "edit_ethnicity_nationalities"
