#edit_information.modal.fade aria-hidden="true" aria-labelledby="edit_information_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/edit_info.svg')
          #edit_information_label.modal-title Edit information
      = simple_form_for @company_information_form, url: user_logged_company_information_path, method: :put do |f|
        .modal-body.px-5
          = f.input :first_video
          = f.input :second_video
          = f.input :diversity_plans_title, label: 'Custom diversity plans title'
          = f.input :gender_diversity_plans, as: :text
          = f.input :ethnicity_diversity_plans, as: :text
          = f.input :contact, as: :text

        .modal-footer
          = f.button :button, class: 'button btn btn-primary', data: { disable_with: "<i class='fa fa-spinner fa-spin'</i>" } do
            span.label-white UPDATE
