#edit_goals.modal.fade aria-hidden="true" aria-labelledby="edit_goals_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/edit_info.svg')
          #edit_goals_label.modal-title Edit 'How we will reach the goals'
      .modal-body.px-5
        = simple_form_for :goals_ways, url: user_logged_goals_ways_path, html: {class: 'form-inline justify-content-center'} do |f|
          = f.input :company_id, as: :hidden, input_html: {value: @company.id}
          = f.input :description
          = f.button :submit, 'Add', class: 'button btn btn-small'
        - @company.goals_way.each do |goals_way|
          = goals_way.description
          = link_to ' [Delete]', user_logged_goals_way_path(goals_way), method: :delete
          br
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button" Close
