#nationalities.tab-pane.fade aria-labelledby="nationalities-tab" role="tabpanel" 
  .tabs-assets.pt-5
    = simple_form_for @nationalities_new_form, url: user_logged_company_nationalities_path, remote: true, method: :post do |f|
      = f.hidden_field :company_id, value: @company.id
      .input-group-select.mb-3
        = f.input :nationality_id, collection: Nationality.pluck(:name, :id), label: false
        .input-group-append
          = button_tag 'ADD NEW', class: 'btn button btn-primary btn-square label', data: { disable_with: "ADDING <i class='fa fa-spinner fa-spin'></i>" }
  - unless @nationalities.empty?
    = form_tag user_logged_company_nationality_path(@company.id), method: :put, id: 'update_nationalities' do |f|
      .tabs-assets.pt-3
        - @nationalities_edit_form.each_with_index do |nationality, index|
          = simple_fields_for 'nationalities[]', nationality do |f|
            = f.hidden_field :id
            .remove-tile
              .chart-tile
                div
                  i.fa.fa-square(class="square-#{index+1}")
                  span.chart-value-small= f.object.nationality.name
                = f.text_field :count, label: false, class: 'chart-desc'
              = link_to user_logged_company_nationality_path(nationality), method: :delete, remote: true, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" } do
                i.fa.fa-times
      .modal-background.mt-5
        .modal-footer
          .input-group-append
            = button_tag 'UPDATE', class: 'btn button btn-primary btn-square label', data: { disable_with: "SAVING <i class='fa fa-spinner fa-spin'></i>" }
