#edit_policies.modal.fade aria-hidden="true" aria-labelledby="edit_policies_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/edit_info.svg')
          #edit_policies_label.modal-title Edit policies
      .modal-body.px-5
        - if options_for_policies(@company).length > 0
          = simple_form_for :companies_diversity_policies, url: user_logged_companies_diversity_policies_path, html: {class: 'form-inline my-2 justify-content-center'} do |f|
            = f.input :company_id, as: :hidden, input_html: {value: @company.id}
            = f.input :diversity_policy_id, collection: options_for_policies(@company), include_blank: false
            = f.button :submit, 'Add', class: 'button btn btn-small'
        - else
          | All possible policies already added.
          br
        = simple_form_for :text_policies, url: user_logged_text_policies_path, html: {class: 'form-inline my-2 justify-content-center'} do |f|
          = f.input :company_id, as: :hidden, input_html: {value: @company.id}
          = f.input :name, label: 'Diversity policy'
          = f.button :submit, 'Add', class: 'button btn btn-small'
        - @company.companies_diversity_policies.each do |companies_diversity_policy|
          .my-2
            = companies_diversity_policy.diversity_policy.name
            = link_to ' [Delete]', user_logged_companies_diversity_policy_path(companies_diversity_policy), method: :delete
        - @company.text_policies.each do |text_policy|
          = text_policy.name
          = link_to ' [Delete]', user_logged_text_policy_path(text_policy), method: :delete
          br
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button" Close
