#edit_summary.modal.fade aria-hidden="true" aria-labelledby="edit_summary_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/edit_info.svg')
          #edit_summary_label.modal-title Edit summary
      = simple_form_for @company_data_form, url: user_logged_company_datum_path(@company.id), html: {class: 'form-inline '} do |f|
        .modal-body.px-5
          = f.input :employees_count_id, collection: options_for_employees_count,
                                         include_blank: false,
                                         input_html: {class: 'ml-3 my-1'},
                                         wrapper_html: {class: 'justify-content-center'}
          = f.input :liabilities, input_html: {class: 'ml-3 my-1'}, wrapper_html: {class: 'justify-content-center'}
          = f.input :revenue, input_html: {class: 'ml-3 my-1'}, wrapper_html: {class: 'justify-content-center'}
        .modal-footer
          = f.button :submit, 'Save changes', class: 'button btn btn-secondary'
