#languages.tab-pane.fade.show.active aria-labelledby="languages-tab" role="tabpanel"
  .tabs-assets.pt-5
    = simple_form_for @languages_new_form, url: user_logged_company_languages_path, remote: true, method: :post do |f|
      = f.hidden_field :company_id, value: @company.id
      .input-group-select.mb-3
        = f.input :language_id, collection: Language.pluck(:name, :id), label: false
        .input-group-append
          = button_tag 'ADD NEW', class: 'btn button btn-primary btn-square label', data: { disable_with: "ADDING <i class='fa fa-spinner fa-spin'></i>" }
  - unless @languages.empty?
    = form_tag user_logged_company_language_path(@company.id), method: :put, id: 'update_languages' do |f|
      .tabs-assets.pt-3
        - @languages_edit_form.each_with_index do |language, index|
          = simple_fields_for 'languages[]', language do |f|
            = f.hidden_field :id
            .remove-tile
              .chart-tile
                div
                  span.chart-value-small= f.object.language.name
                = f.text_field :count, label: false, class: 'chart-desc'
              = link_to user_logged_company_language_path(language), method: :delete, remote: true, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" } do
                i.fa.fa-times
      .modal-background.mt-5
        .modal-footer
          .input-group-append
            = button_tag 'UPDATE', class: 'btn button btn-primary btn-square label', data: { disable_with: "SAVING <i class='fa fa-spinner fa-spin'></i>" }
