= simple_form_for :follow,
  url: user_logged_follows_path,
  html: {class: 'user_logged_follow_form'},
  remote: true,
  method: :post do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  = f.input :company_id, input_html: {value: company.id}, as: :hidden
  = f.button :submit, 'FOLLOW',   class: 'btn btn-primary btn-block follow',   style: "#{follow}"
  = f.button :submit, 'UNFOLLOW', class: 'btn btn-primary btn-block unfollow', style: "#{unfollow}"
