/ #goal_request.modal.fade aria-hidden="true" aria-labelledby="goal_request_label" role="dialog" tabindex="-1"
/   .modal-dialog role="document"
/     .modal-content
/       .text-right.py-2.px-3
/         button.close aria-label="Close" data-dismiss="modal" type="button"
/           span aria-hidden="true" &times;
/       .modal-header
/         .text-center
/           .modal-title-image.py-3=image_tag('icons/request_information.svg')
/           #goal_request_label.modal-title
/             = "Curious about how #{@company.name} wants to reach their ambitious diversity goals. Ask your question here, and GoGetty will reach out to #{@company.name} for more information."
/       = simple_form_for @goal_request_form,
/                         url: user_logged_goal_requests_path,
/                         html: {id: 'user_logged_goal_request_form'},
/                         remote: true,
/                         method: :post do |f|
/         .modal-body
/           | Request more information
/           = hidden_field_tag :authenticity_token, form_authenticity_token
/           = f.input :company_id, as: :hidden, input_html: { value: @company.id }
/         .modal-footer
/           = f.button :submit, 'Send request', class: 'button btn btn-secondary'
