#add_admin.modal.fade aria-hidden="true" aria-labelledby="add_admin_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/invitation_admin.svg')
          #add_admin_label.modal-title Invite admin
      .modal-body.px-5
        = simple_form_for @create_admin,
                          url: user_logged_company_settings_admin_invites_path,
                          html: {id: 'user_logged_company_settings_admin_invite_form'},
                          remote: :true,
                          method: :post do |f|
          = f.input :company_id, as: :hidden, input_html: {value: @company.id}
          = f.input :email, label: 'Invite new admin by email:'
          .modal-footer
            = f.button :submit, 'Invite', class: 'button btn btn-secondary'
#invite_admin_success.modal.fade aria-hidden="true" aria-labelledby="invite_admin_success_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/request_sent.svg')
          #invite_admin_success_label.modal-title Invitation has been sent
      .modal-body.px-5
        | We will notify you if that person accepts your invitation
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button" Return to company profile
