#missing_subscription.modal.fade aria-hidden="true" aria-labelledby="missing_subscription_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/hey_this_is_important.svg')
          #edit_summary_label.modal-title Subscription missing
      .modal-body.px-5
        ' Congratulations! You are the administrator of this company. You will soon be able to edit your company profile.
        ' Upgrade now to a
        = link_to 'higher subscription plan', new_subscription_path
        |  and you will be ready to build a diverse employer brand for your innovative company.
      .modal-footer.modal-footer-dark
        = link_to 'See available subscription plans', new_subscription_path, class: 'btn btn-small'
