= simple_form_for @policy_request_form,
                  url: user_logged_policy_requests_path,
                  html: {class: 'form-inline', id: 'user_logged_policy_request_form'},
                  remote: true,
                  method: :post do |f|
  .modal-body
    | Choose from the predefined policies (multiple selections are welcome):
    = hidden_field_tag :authenticity_token, form_authenticity_token
    = f.input :company_id, as: :hidden, input_html: { value: @company.id }
    = f.simple_fields_for :diversity_policies_policy_requests do |diversity_policies_policy_request|
      = render '/user_logged/companies/diversity_policies_policy_request_fields', f: diversity_policies_policy_request
    = link_to 'Add diversity policy field', '#', class: 'button btn btn-small my-1', id: 'policy_request_add_field'
    br
    = "Feel free to ask #{@company.name} about any other diversity policy - "
    | simply add it in the free text comment box:
    = f.input :comment, as: :text, wrapper_html: {class: 'justify-content-center'}, input_html: {class: 'w-100'}, label: false
  .modal-footer
    = f.button :submit, 'Send request', class: 'button btn btn-secondary'
