#policy_request.modal.fade aria-hidden="true" aria-labelledby="policy_request_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/request_information.svg')
          #policy_request_label.modal-title
            = "Curious about #{@company.name}’s Diversity Policies?"
            br
            | Request more information
      #user_logged_policy_request
        == render 'policy_request_form'
