#request_success.modal.fade aria-hidden="true" aria-labelledby="request_success_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/request_sent.svg')
          #request_success_label.modal-title
            - if current_user.name.to_s != ''
              = "#{current_user.name}, we have received your request and will notify "
            - else
              = "We have received your request and will notify "
            = "#{@company.name} shortly"
      .modal-body.px-5
        = "Thank you for showing #{@company.name} that you care about how serious "
        | they are about making it's Top Management more diverse and inclusive.
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button" Return to company profile
