- if policy(@company).company_admin_with_paid_plan? && (current_user.name.present? && current_user.surname.present?)
  .card.mb-3
    .card-block
      == render partial: 'user_logged/posts/new'
== render partial: 'user_logged/posts/post', collection: @posts
