.card.text-center.container-policies
  - if policy(@company).company_admin?
    .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
      = link_to '#', data: {target: '#edit_policies', toggle: 'modal'}, class: 'card-primary-action' do
        i.fa.fa-pencil
    == render 'edit_policies'
  .card-block
    h4.card-title.paragraph-bold Our Diversity & Inclusion Policies
    hr
    - if @company.all_policies.count.zero?
      - if policy(@company).company_admin?
        / = link_to '#', class: 'btn btn--small-circle', data: {target: '#policy_request', toggle: 'modal'} do
        /   small.font-italic.align-baseline i
        / = link_to 'Request information', '#', class: 'btn btn--pink', data: {target: '#policy_request', toggle: 'modal'}
        / == render 'policy_request'
      - else
        | No data yet.
    - else
      - @company.all_policies[0..9].map do |diversity_policy|
        = policy_helper(diversity_policy)
      - if user_signed_in? && !policy(@company).company_admin?
        / = link_to '#', data: {target: '#policy_request', toggle: 'modal'}, title: 'Request more info',
        /         class: 'btn btn--small-circle'  do
        /   small.font-italic.align-baseline i
        / == render 'policy_request'
  - unless @company.all_policies.count.zero?
    .card-footer
      = link_to 'Show all', '#', data: {target: '#all_policies', toggle: 'modal'}, class: 'nav-link'
      == render 'all_policies'
