.col-md-6
  .text-center.container-diversity-score
    #edit_diversity_form_link
      - if policy(@company).company_admin_with_paid_plan?
        .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
          = link_to '#', data: {target: '#edit_diversity', toggle: 'modal'}, class: 'card-primary-action' do
            i.fa.fa-pencil
        == render 'edit_diversity'
      - elsif policy(@company).company_admin?
        .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
          = link_to '#', data: {target: '#missing_subscription', toggle: 'modal'}, class: 'card-primary-action' do
            i.fa.fa-pencil
    .container-diversity-score-score#container-diversity-chart
      .h-100
        - if policy(@company).company_admin_with_basic_plan?
          div.disabled-tooltip#upgrade-tooltip-gender.hidden-soft 
            .upgrade-tooltip
              span = link_to 'Upgrade', new_subscription_path
              |  subscription to show details.
        - elsif policy(@company).company_with_basic_plan?
          div.disabled-tooltip#upgrade-tooltip-gender.hidden-soft 
            .upgrade-tooltip
              span 
              | Only admins with active subscriptions can edit GoGetty diversity scores.
        .disabled-chart#disabled-diversity-chart.hidden
        - if policy(@company).company_admin_with_basic_plan?
          .disabled-chart-2
        .card-block
          .chart-title
            h6 Gender
            .paragraph SCORE
          .card-img.mt-4
            .score-graph
              = inline_svg('score_graph.svg', data: {score: @company_profile.total_diversity_score})
              .score-graph__value-wrapper
                .score-graph__value
                .score-graph-small
                  = inline_svg('score_graph_small.svg', class: 'score-graph-small__graph', data: {women: @company_profile.women_number, men: @company_profile.men_number})
                  .score-graph-small__value-wrapper
                    .score-graph-small__value
                      .score-graph-small__head-wrapper
                        p.score-graph-small__value--women
                        = inline_svg('icons/female-head.svg', class: 'score-graph-small__head')
                      .score-graph-small__head-wrapper
                        p.score-graph-small__value--men
                        = inline_svg('icons/male-head.svg', class: 'score-graph-small__head')
            / - if !(policy(@company).company_admin? || policy(@company).company_not_active_admin?)
            /   = link_to '#', data: {target: '#diversity_request', toggle: 'modal'}, title: 'Request more info', class: 'btn btn--small-circle'  do
            /     small.font-italic.align-baseline i
            /   == render 'diversity_request'

      -if !@company.object.admins.present? && @company.object.country.try(:en_name).eql?('Denmark') && @company.object.cvr_number.present?
        .bb_link.bb_desktop
          span.mr-1 = image_tag 'bb_logo.png', class: 'img'
          span = link_to 'Find more company data', "https://www.bisbase.com/search/index.php?q=#{@company.cvr_number}", target: '_blank', class: 'btn btn-default button btn btn-primary'
