.card.text-center.container-goals
  / - if policy(@company).company_admin?
  /   .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
  /     = link_to '#', data: {target: '#edit_goals', toggle: 'modal'}, class: 'card-primary-action' do
  /       i.fa.fa-pencil
  /   == render 'edit_goals'
  .card-block
    h4.card-title.paragraph-bold How we will reach the goals
    hr
    - if @company.goals_way.count.zero?
      - if !policy(@company).company_admin? 
      - else
        | No data yet.
    - else
      == render partial: 'user_logged/companies/goals_way', collection: @company.goals_way
