#ethnicity.tab-pane.fade aria-labelledby="ethnicity-tab" role="tabpanel" 
  .card.text-center.container-management
    .card-block.pb-2
      h6 Company statistics
    .card-block
      .row  
        .col-6
          .paragraph-black.pb-3
            = 'Nationality'.pluralize(@nationalities.count)
            span.pull-right.chart-value= @nationalities.count
          - @nationalities.json_short.each_with_index do |nationality, index|
            - unless index == 7
              .chart-tile
                i.fa.fa-square(class="square-#{index+1}")
                span.chart-value-small= nationality[:count]
                span.chart-desc= nationality[:name]
          - if @nationalities.count > 7
            .chart-tile#dropdown-other-nationalities
              i.fa.fa-square.square-8
              span.chart-value-small= @nationalities.json_short.last[:count]
              span.chart-desc Others
              i.fa.fa-angle-down.pull-right#nationalities-arrow-down
              i.fa.fa-angle-up.pull-right.hidden#nationalities-arrow-up
            #nationalities-dropdown.hidden
              - @nationalities[7..-1].each do |nationality|
                .chart-tile
                  i.fa.fa-square.square-8
                  span.chart-value-small= nationality.count
                  span.chart-desc= nationality.name
        .col-6
          .paragraph-black.pb-3
            = 'Language'.pluralize(@languages.count)
            span.pull-right.chart-value= @languages.count
          - @languages.json_short.each_with_index do |language, index|
            - unless index == 7
              .chart-tile
                span.chart-value-small= language[:count]
                span.chart-desc= language[:name]
          - if @languages.count > 7
            .chart-tile#dropdown-other-languages
              span.chart-value-small= @languages.json_short.last[:count]
              span.chart-desc Others
              i.fa.fa-angle-down.pull-right#languages-arrow-down
              i.fa.fa-angle-up.pull-right.hidden#languages-arrow-up
            #languages-dropdown.hidden
              - @languages[7..-1].each do |language|
                .chart-tile
                  span.chart-value-small= language.count
                  span.chart-desc= language.name
