= content_tag :div, class: 'nationalities_list_temp', data: {nationalities: @nationalities.json_short}{}
.col-md-6
  .text-center.container-ethnicity-score#container-ethnicity-chart
    - if policy(@company).company_admin_with_inclusive_plan?
      .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
        = link_to '#', data: {target: '#edit_ethnicity', toggle: 'modal'}, class: 'card-primary-action' do
          i.fa.fa-pencil
      == render 'edit_ethnicity'
    - elsif policy(@company).company_admin?
      .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
        = link_to '#', data: {target: '#missing_subscription', toggle: 'modal'}, class: 'card-primary-action' do
          i.fa.fa-pencil
    .container-diversity-score-score#container-ethnicity-chart
      .h-100
        - if policy(@company).company_admin? && !policy(@company).company_admin_with_inclusive_plan?
          div.disabled-tooltip#upgrade-tooltip.hidden-soft
            .upgrade-tooltip
              span = link_to 'Upgrade', new_subscription_path
              |  subscription to show details.
        - elsif !policy(@company).company_with_inclusive_plan?
          div.disabled-tooltip#upgrade-tooltip.hidden-soft
            .upgrade-tooltip
              span 
              | Only admins with active subscriptions can edit GoGetty ethnicity scores.
        .disabled-chart#disabled-ethnicity-chart
        - if policy(@company).company_admin? && !policy(@company).company_with_inclusive_plan?
          .disabled-chart-2
        .card-block
          .chart-title
            h6 Ethnicity
            .paragraph SCORE
          .card-img.mt-4
            .ethnicity-graph-container
              .ethnicity-graph__desc
                .ethnicity-graph__desc--text= 'Language'.pluralize(@languages.count)
                .ethnicity-graph__desc--value= @languages.count
                .ethnicity-graph__desc--value-small= @nationalities.count
                .ethnicity-graph__desc--text= 'Nationality'.pluralize(@nationalities.count)
              canvas#ethnicityChart
            
