- if user_signed_in? && policy(@company).company_admin? && !policy(@company).company_superadmin?
  p.card-text You are editor of this company.
- if user_signed_in? && policy(@company).company_superadmin?
  p.card-text You are admininistrator of this company.
- if user_signed_in? && policy(@company).company_admin? && !policy(@company).company_superadmin?
  p.card-text.text-danger
    ' Congratulations! You are the editor of this company. You will soon be able to edit your company profile. Upgrade now to a
    = link_to 'higher subscription plan', new_subscription_path
    |  and you will be ready to build a diverse employer brand for your innovative company.
- elsif user_signed_in? && policy(@company).company_admin_with_basic_plan?
  p.card-text.text-danger
    ' Congratulations! You are the administrator of this company. You will soon be able to edit your company profile. Upgrade now to a
    = link_to 'higher subscription plan', new_subscription_path
    |  and you will be ready to build a diverse employer brand for your innovative company.
- if policy(@company).company_admin? && (current_user.name.nil? || current_user.surname.nil?)
  p.card-text.text-danger
    ' Please update your name in your 
    = link_to 'user profile', edit_user_logged_account_settings_path
    |  to be able to post an update on your Company Profile.
- if @company.updated_at != @company.created_at
  p.card-text= "Company profile was last updated in #{@company.updated_at_str}."

- if user_signed_in? && current_user.platform_admin?
  p.card-text= link_to 'Edit company in the platform console', edit_user_logged_platform_settings_company_path(@company), target: :_blank
