.col-xl-7.col-lg-6
  .container-summary
    .card-block
      - if policy(@company).company_admin_with_paid_plan?
        .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
          = link_to '#', data: {target: '#edit_summary', toggle: 'modal'}, class: 'card-primary-action' do
            i.fa.fa-pencil
        == render 'edit_summary'
      - elsif policy(@company).company_admin?
        .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
          = link_to '#', data: {target: '#missing_subscription', toggle: 'modal'}, class: 'card-primary-action' do
            i.fa.fa-pencil
      .row
        .col.col-auto#trigger-point
          =@company.logo
        .col.m-auto
          h3= @company.name
          p.lead.paragraph-gray= @company.industry_city
      .row
        .col.col-sm-6
          ul.list-unstyled.mt-5
            li.label 
              i.fa.fa-user-o 
              | Employees:
            li.paragraph.mb-3.paragraph-dark = @company_profile.employees_count.blank? ? "No data" : "#{@company_profile.employees_count}"
            li.label
              i.fa.fa-tasks
              | Liabilities info:
            li.paragraph.paragraph-dark = @company_profile.c_liabilities.blank? ? "No data" : "#{@company_profile.c_liabilities}"
        .col.col-sm-6
          ul.list-unstyled.mt-5
            li.label
              i.fa.fa-bars
              | Revenue info:
            li.paragraph.mb-3.paragraph-dark = @company_profile.c_revenue.blank? ? "No data" : "#{@company_profile.c_revenue}"
            li.label
              i.fa.fa-calendar-o
              | Last update:
            li.paragraph.paragraph-dark = @company.updated_at_str.blank? ? "No data" : "#{@company.updated_at_str}"
    .card-footer
      .row
        .col
          == render 'show_summary_admin_update'
