.card.text-center.container-information
  - if policy(@company).company_admin?
  - if policy(@company).company_admin_with_paid_plan?
    .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
      = link_to '#', data: {target: '#edit_information', toggle: 'modal'}, class: 'card-primary-action' do
        i.fa.fa-pencil
    == render 'edit_information'
  - elsif policy(@company).company_admin?
    .card-primary-action__wrapper.card-primary-action__wrapper--right-corner
      = link_to '#', data: {target: '#missing_subscription', toggle: 'modal'}, class: 'card-primary-action' do
        i.fa.fa-pencil
  .card-block.text-align-left
    h6.card-title.mb-4.mt-2 How do we support an inclusive culture
    ol#company_information_list
      - if @company_information.first_video.present?
          li.paragraph-bold.mb-2 Watch our informative videos
          .videos-container
            .video
              = embed_video(@company_information.first_video, '100%', '150')
            - if @company_information.second_video.present?
              .video
                = embed_video(@company_information.second_video, '100%', '150')
      .spacer
      li.paragraph-bold.mb-2 #{@company_information.diversity_plans_title}
      ul#planTabs.nav.nav-tabs.nav-tabs-plan.pb-3.pt-2.hidden role="tablist" 
        li.nav-item
          a#plan-gender-tab.nav-link.active.tab-shadow-right aria-controls="gender" aria-selected="true" data-tab="plan" data-toggle="tab" href="#plan-gender" role="tab"  
            i.fa.fa-circle#plan-diversity-active
            span.gender-title Gender
        li.nav-item
          a#plan-ethnicity-tab.nav-link.tab-shadow-left aria-controls="ethnicity" aria-selected="false" data-tab="plan" data-toggle="tab" href="#plan-ethnicity" role="tab"
            i.fa.fa-circle.hidden-soft#plan-ethnicity-active
            span Ethnicity
      .row.no-gutters
        .col-12.show-data
          #planTabsContent.tab-content
            #plan-gender.tab-pane.fade.show.active aria-labelledby="plan-ethnicity-tab" role="tabpanel" 
              div
                .row
                  .col-6.show-data
                    == render "show_policies"
                  .col-6.show-data
                    .card.text-center.container-goals
                      .card-block
                        h4.card-title.paragraph-bold How we will reach the goals
                        hr
                        - if @company_information.gender_diversity_plans.present?
                          = format_text(@company_information.gender_diversity_plans)
                        - else
                          | No Gender data yet.
            #plan-ethnicity.tab-pane.fade aria-labelledby="plan-gender-tab" role="tabpanel"
              .paragraph-small
                - if @company_information.ethnicity_diversity_plans.present?
                  = format_text(@company_information.ethnicity_diversity_plans)
                - else
                  | No Ethnicity data yet.
      .spacer
      li.paragraph-bold.mb-2 Contact us directly
      .paragraph-small
        - if @company_information.contact.present?
          = format_text(@company_information.contact)
        - else
          | No data yet.
    - if !policy(@company).company_admin?
      = link_to '#', data: {target: '#company_information_request', toggle: 'modal'}, title: 'Request more info' do
        button.btn.btn-default.button-transparent.mt-4.mb-3 type="button"  REQUEST INFORMATION
      == render 'company_information_request'
