#gender.tab-pane.fade.show.active aria-labelledby="gender-tab" role="tabpanel"
  .card.text-center.container-management
      .card-block.pb-4
        h6 = @company_profile.director_name
      .row.horizontal-border
        - if @company_profile.director_hide
          .col-12
            p Our company does not have Board of Directors
        - else
          .col-6.vertical-border.mb-3
            p.card-text.paragraph.mb-2= "#{@company.current_year} status"
            div= diversity_status_helper(@company_profile.state_director_numbers, "", @company_profile.state_director)
          .col-6
            p.card-text.paragraph.mb-2= "#{@company_profile.goal_year} goal"
            div= diversity_status_helper(@company_profile.goal_director_numbers, "", @company_profile.goal_director)
      .top-management-section  
        .card-block.pb-4
          h6 Top Management
        -if !@company_profile.cxo_hide || !@company_profile.vp_hide
          .row
              .col-6.vertical-border.mb-3
                p.card-text.paragraph.mb-2= "#{@company.current_year} status"
              .col-6
                p.card-text.paragraph.mb-2= "#{@company_profile.goal_year} goal"
        .row
          -if @company_profile.cxo_hide
            .col-12
              p Our company does not have CxO
          -else
            .col-6.vertical-border.mb-3
              div= diversity_status_helper(@company_profile.state_cxo_numbers, @company_profile.cxo_name, @company_profile.state_cxo)
            .col-6
              div= diversity_status_helper(@company_profile.goal_cxo_numbers, @company_profile.cxo_name, @company_profile.goal_cxo)
        .row.horizontal-border
          -if @company_profile.vp_hide
            .col-12
              p Our company does not have VP
          -else
            .col-6.vertical-border.mb-3
              div= diversity_status_helper(@company_profile.state_vp_numbers, @company_profile.vp_name, @company_profile.state_vp)
            .col-6
              div= diversity_status_helper(@company_profile.goal_vp_numbers, @company_profile.vp_name, @company_profile.goal_vp)
      .card-block.pb-4
        h6 = @company_profile.middle_name
      .row
        - if @company_profile.middle_hide
          .col-12
            p Our company does not have Middle Management
        - else
          .col-6.vertical-border.mb-3
            p.card-text.paragraph.mb-2= "#{@company.current_year} status"
            div= diversity_status_helper(@company_profile.state_middle_numbers, "", @company_profile.state_middle)
          .col-6
            p.card-text.paragraph.mb-2= "#{@company_profile.goal_year} goal"
            div= diversity_status_helper(@company_profile.goal_middle_numbers, "", @company_profile.goal_middle)
