.container-grid
  .card
    .container
      .row.pt-4
        .col-12
          .pull-right= link_to 'Export CSV', user_logged_companies_path(format: :csv)
          h4 Featured Companies
          hr
      .row
        .col-12
          .card-deck
            table.table.table-responsive#companies-table
              tr
                th Company Name
                th Industry
                th Country
                th Diversity score
                th now_director_woman_count
                th now_director_man_count
                th goal_director_woman_count
                th goal_director_man_count
                th now_cxo_woman_count
                th now_cxo_man_count
                th goal_cxo_woman_count
                th goal_cxo_man_count
                th now_vp_woman_count
                th now_vp_man_count
                th goal_vp_woman_count
                th goal_vp_man_count
                th now_middle_woman_count
                th now_middle_man_count
                th goal_middle_woman_count
                th goal_middle_man_count
                th.date-col created_at
              = render(partial: 'company_row',
                       collection: @companies,
                       as: :company) || 'No companies found.'
