== render 'layouts/secondary_navbar'
== render 'layouts/fixed_navbar'
.top-info
  .container
    .row.no-gutters
      == render 'show_summary'
      .col-xl-5.col-lg-6
        .row
          == render 'show_diversity'
          == render 'show_ethnicity'
.bottom-info
  .container    
    .row.flex-md-column-reverse.flex-sm-column-reverse.flex-xs-column-reverse.flex-lg-row.no-gutters
      .col-xl-7.col-lg-6
        #show_stream_container.container-stream
          == render 'show_stream'
      - if user_signed_in?
        == render 'request_success'
      - if policy(@company).company_admin?
        == render 'missing_subscription'
      .col-xl-5.col-lg-6.float-tabs
        == render 'charts_legend'
        == render 'show_information'
