== render layout: 'user_logged/platform_settings/layout' do
  .row.justify-content-center.mb-4
    = "Edition of '#{@language.name}'"
  .row.justify-content-center.mb-4
    = simple_form_for @language, url: user_logged_platform_settings_language_path do |f|
      == render partial: 'form', locals: {f: f}
