== render layout: 'user_logged/platform_settings/layout' do
  = link_to 'Add new', new_user_logged_platform_settings_language_path
  table.table.table-responsive
    tr
      th Name
      th Actions
    - @languages.each do |language|
      tr
        td= language.name
        td
          = link_to 'Edit', edit_user_logged_platform_settings_language_path(language)
          br
          = link_to('Delete', user_logged_platform_settings_language_path(language), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs')
