.anchor id="company-7"
.row.solutions__header
  .col-12
    h5.pb-3
      ' In cooperation with
      <br>
      strong Girls are Awesome
    h1.pr-2.pb-1 Reach the female consumer and grow your business
    h3.pb-3
      | Girls Are Awesome is a media platform and brand dedicated to increasing and redefining female representation. Girls are Awesome produce original cutting edge content, merchandise and experiences. Girls are Awesome connect brands, audiences and communities via our versatile portfolio of products and services, allowing everyone to participate in the movement...
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Girls are Awesome', name: 'Customized D&I solutions for your needs'}, class: 'btn btn-primary my-3 full-offer-button'