= simple_form_for :company, url: user_logged_platform_settings_request_companies_path, html: {class: 'form-inline pb-3 justify-content-center'}, method: :post do |f|
  = f.input :company_id, collection: options_for_companies.unshift(['All companies', '-1']), include_blank: false, label: false, wrapper_html: {class: 'pr-2'}, selected: session[:requests_company_id]
  = f.button :submit, 'Update company'