== render layout: 'user_logged/platform_settings/layout' do
  == render partial: 'user_logged/platform_settings/requests/company_form'
  h2 Info requests
  table.table.table-responsive
    tr
      th
      th All requests
      th= link_to 'Company information requests', user_logged_platform_settings_company_information_requests_path
      th= link_to 'GoGetty Diversity Score', user_logged_platform_settings_diversity_requests_path
      th= link_to 'Diversity & Inclusion Policies', user_logged_platform_settings_policy_requests_path
      th= link_to 'How we will reach the goals', user_logged_platform_settings_goal_requests_path
    tr
      td Total
      td= all_info_requests
      td= @company_information_requests.count
      td= @diversity_requests.count
      td= @policy_requests.count
      td= @goal_requests.count
    tr
      td Today:
      td= today_all_info_requests
      td= @company_information_requests.today.count
      td= @diversity_requests.today.count
      td= @policy_requests.today.count
      td= @goal_requests.today.count
    tr
      td Last week:
      td= week_all_info_requests
      td= @company_information_requests.week.count
      td= @diversity_requests.week.count
      td= @policy_requests.week.count
      td= @goal_requests.week.count
    tr
      td Last month:
      td= month_all_info_requests
      td= @company_information_requests.month.count
      td= @diversity_requests.month.count
      td= @policy_requests.month.count
      td= @goal_requests.month.count
    tr
      td This year:
      td= year_all_info_requests
      td= @company_information_requests.year.count
      td= @diversity_requests.year.count
      td= @policy_requests.year.count
      td= @goal_requests.year.count
  br
  br
  h2 New company requests
  = paginate @company_requests
  table.table.table-responsive.table-responsive
    tr
      th Created at
      th Company
      th Talent
      th Email
      / th Resolved?
    - @company_requests.each do |company_request|
      tr
        td= company_request.created_at
        td= company_request.name
        td= "#{company_request.user.name} #{company_request.user.surname}"
        td= company_request.user.email
        / td= "Resolved: #{company_request.resolved.humanize}"
  = paginate @company_requests
  h2 Solutions requests
  = paginate @solution_requests
  table.table.table-responsive.table-responsive
    tr
      th Created at
      th Company
      th Name
      th User
      th Email
    - @solution_requests.each do |solution_request|
      tr
        td= solution_request.created_at
        td= solution_request.company
        td= solution_request.name
        td= "#{solution_request.user.name} #{solution_request.user.surname}"
        td= solution_request.user.email
  = paginate @solution_requests
