== render layout: 'user_logged/platform_settings/layout' do
  == render partial: 'user_logged/platform_settings/requests/company_form'
  h2 Company information requests
  = paginate @company_information_requests
  table.table.table-responsive
    tr
      th Created at
      th Created by
      th Creator email
      th Company
      th Comment
    - @company_information_requests.each do |company_information_request|
      tr
        td= company_information_request.created_at
        td= company_information_request.user.full_name
        td= company_information_request.user.email
        td= company_information_request.company.name
        td= company_information_request.comment
  = paginate @company_information_requests
