== render layout: 'user_logged/account_settings/layout' do
  .container
    / h1.text-center.mb-5 Edit Password
    .row.justify-content-center.mb-4
      .authform
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form'}) do |f|
        = devise_error_messages!
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          div
            | Currently waiting confirmation for: #{resource.unconfirmed_email}
          hr/
        fieldset
          = f.input :password, autocomplete: 'off', placeholder: 'New password'
          = f.input :password_confirmation, placeholder: 'New password confirmation'
        fieldset
          p You must enter your current password to make changes.
          = f.input :current_password, placeholder: 'Current password'
        = f.button :submit, 'Update', class: 'button right'
      / .authform
        / h3 Cancel Account
        / p Unhappy? We'll be sad to see you go.
        / = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button right'
