.background-white.sign_up-modes
  .container-fluid
    .row
      .col-lg-5
        .container
          .row
            .col-lg-12
              .forms
                ul#pills-tab.nav.nav-pills.mb-4 role="tablist" 
                  li.nav-item
                    a#pills-login-tab.nav-link aria-controls="pills-login" aria-selected="true" data-toggle="pill" href="#pills-login" role="tab" Log In
                  li.nav-item
                    a#pills-register-tab.nav-link.ml-3.active aria-controls="pills-register" aria-selected="false" data-toggle="pill" href="#pills-register" role="tab" Register
                #pills-tabContent.tab-content
                  #pills-login.tab-pane.fade aria-labelledby="pills-login-tab" role="tabpanel" 
                    h6.mb-3 Welcome to GoGetty!
                    == render partial: 'log_in_form'
                  #pills-register.tab-pane.fade.show.active aria-labelledby="pills-register-tab" role="tabpanel"
                    h6.mb-3 We believe that diversity in all management levels is utilizing all available talents to the fullest
                    == render partial: 'sign_up_form'
      .col-lg-7.login-image.hidden-md-down

/ Social media meta tags
meta property="og:title" content="GoGetty - It's all about diversity!"
meta property="og:image" content="#{image_url('gogetty_ogimage.png')}" 

