== render layout: 'user_logged/company_settings/layout' do
  h2 GoGetty Diversity Score requests
  = paginate @diversity_requests
  table.table.table-responsive
    tr
      th Created at
      th Response
      / th Resolved?
    - @diversity_requests.each do |diversity_request|
      tr
        td= diversity_request.created_at
        td= diversity_request.response
        / td= diversity_request.resolved.humanize
  = paginate @diversity_requests
