- if @admin_requests.count.positive?
  | Requests list:
  table.table.table-responsive
    tr
      th Name
      th Surname
      th Email
      th Cancelled?
      th Revoked?
      th Accepted?
      th Actions
    - @admin_requests.each do |admin_request|
      tr
        td= admin_request.user_name
        td= admin_request.user_surname
        td= admin_request.email
        td= admin_request.cancelled
        td= admin_request.revoked
        td= admin_request.accepted
        td
          - if admin_request.acceptable
            = simple_form_for admin_request, url: user_logged_company_settings_admin_request_path(admin_request), html: {class: 'form-inline'} do |f|
              = f.button :submit, 'Accept', class: 'button-xs'
          - if admin_request.revokable
            = simple_form_for admin_request, url: user_logged_company_settings_admin_request_path(admin_request), method: :delete, html: {class: 'form-inline'} do |f|
              = f.button :submit, 'Revoke', class: 'button-xs'
- else
  | There's no admin requests.
br
