| Admins list:
table.table.table-responsive
  tr
    th Name
    th Surname
    th Email
    th Superadmin?
  - @admins.each do |admin|
    tr
      td= admin.name
      td= admin.surname
      td= admin.email
      td
        = simple_form_for admin, url: user_logged_company_settings_admin_path(admin), html: {class: 'form-inline'} do |f|
          = f.input :superadmin, label: '', as: :boolean
          | &nbsp;
          = f.button :submit, 'Submit', class: 'btn btn-primary'
          | &nbsp;
          = link_to("Delete",
                    user_logged_company_settings_admin_path(admin),
                    data: { confirm: "Are you sure?" },
                    method: :delete, class: 'btn btn-primary')
