- if @admin_invites.count.positive?
  | Invites list:
  table.table.table-responsive
    tr
      th Name
      th Surname
      th Email
      th Cancelled?
      th Accepted?
      th Actions
    - @admin_invites.each do |admin_invite|
      tr
        td= admin_invite.user_name
        td= admin_invite.user_surname
        td= admin_invite.email
        td= admin_invite.cancelled
        td= admin_invite.accepted
        td
          - if admin_invite.cancellable
            = simple_form_for admin_invite, url: user_logged_company_settings_admin_invite_path(admin_invite), html: {class: 'form-inline'} do |f|
              = f.button :submit, 'Cancel', class: 'button-xs'
- else
  | There's no admin invites.
br
