.solutions__menu_content.solutions__menu_content--selected
  div.float-right
    = image_tag('logos/logo_axiom.png', size:'51x32')
  div.float-none
    h5 Axiom
  div.float-none
    nav id="navbar-solutions"
      h4= link_to 'Customized D&I Solutions', '#company-1', class: 'animateScroll'
      ul.nav.flex-column
        li.nav-item
          = link_to 'General awareness', '#step-1', class: 'nav-link animateScroll'
          ul
            li.nav-item
              = link_to 'Why D&I?', '#step-1-1', class: 'nav-link animateScroll'
            li.nav-item
              = link_to 'D&I and growth - Executive level', '#step-1-2', class: 'nav-link animateScroll'
            li.nav-item
              = link_to 'D&I and growth - Middle level', '#step-1-3', class: 'nav-link animateScroll'
        li.nav-item
          = link_to 'Changing minds', '#step-2', class: 'nav-link animateScroll'
          ul
            li.nav-item
              = link_to 'Mentality Change Program', '#step-2-1', class: 'nav-link animateScroll'
        li.nav-item
          = link_to 'Development and culture programs', '#step-3', class: 'nav-link animateScroll'
          ul
            li.nav-item
              = link_to 'BRAX test', '#step-3-1', class: 'nav-link animateScroll'
            li.nav-item
              = link_to 'Coaching of female talents', '#step-3-2', class: 'nav-link animateScroll'
        li.nav-item
          = link_to 'Adapted processes and systems', '#step-4', class: 'nav-link animateScroll'
          ul
            li.nav-item
              = link_to 'Leadership assimilation', '#step-4-1', class: 'nav-link animateScroll'
            li.nav-item
              = link_to 'Succession planning', '#step-4-2', class: 'nav-link animateScroll'
            li.nav-item
              = link_to 'Mentoring programs', '#step-4-3', class: 'nav-link animateScroll'
            li.nav-item
              = link_to 'Sponsoring programs', '#step-4-4', class: 'nav-link animateScroll'
            li.nav-item
              = link_to 'Training', '#step-4-5', class: 'nav-link animateScroll'
.solutions__menu_content
  div.float-none
    h4= link_to 'Back to overview', solutions_path
