.anchor id="step-1"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_growth.svg')
        h2.pt-3 Step 1
        h1.pb-2 General awareness
        h4 Build general awareness with keynotes and workshops that will allow your organization to be exposed to the possibilities of D&I, and introduce new norms and standards to strengthen your organization and leverage its full potential.
      .col-12
        hr.pb-md-5
    / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-1"
    .row
      .col-12
        .float-left.bg-white
          | Keynote
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong 1 ½ - 2 hours
        h1
          strong Why The Business case of D&I is an offer you can’t refuse
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5 Investing in D&I is a missed opportunity for many organizations. Do you want to motivate your leadership team or your staff to embrace D&I and support a culture that is more inclusive? Let us help you kick-start the openness by describing the business-case for why D&I should be an integrated part of every organizational culture.
        h3 Pricing
        h4
          ' Indicative price for Executive / Senior audience:
          strong 3,5k-5k €
        h4
          ' Indicative price for employee / middle management audience:
          strong 1,8k-2,5k €
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Why The Business case of D&I is an offer you can’t refuse'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-2"
    .row
      .col-12
        .float-left.bg-white
          | Workshop
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong 3 hours
        h1
          strong Why D&I will facilitate growth in your organization
          br
          | (Executive level)
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | If you want to realize the integration of new processes and tools, your chances of success increase if the top management is on board and aligned on why the new goals are crucial to the success of the organization. Do you want to motivate your leadership team to embrace D&I and let it cascade down through the organization?
          br
          br
          | With a 3 hour workshop you will both kick-start the openness to D&I and the participants will personally experience which positive effects can be promoted via D&I and why it is so crucial that we change the status quo. Pave the way for the executive team to become change agents for D&I and bring more value to your organization with D&I.
        h3 Pricing
        h4
          ' Indicative price for Executive / Senior audience:
          strong 6k-10k €
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Why D&I will facilitate growth in your organization (Executive level)'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-1-3"
    .row
      .col-12
        .float-left.bg-white
          | Workshop
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong 3 hours
        h1
          strong Why D&I will facilitate growth in your organization
          br
          | (Middle Management)
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | Research from Axiom Consulting Partners show that some of the people most resistant to D&I are found in the middle management. Do you wish to address resistance to change? Do you want to motivate your middle managers to embrace D&I and support a culture that is more diverse and inclusive?
          br
          br
          | With a 3 hour workshop you will both kick-start the openness to D&I and the participants will personally experience which positive effects can be promoted via D&I and why it is so crucial that we change the status quo. Pave the way for the middle management to become change agents for D&I.
        h3 Pricing
        h4
          ' Indicative price for Middle Management audience:
          strong 3k-6k €
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Why D&I will facilitate growth in your organization (Middle Management)'}, class: 'keynote__button btn btn-primary btn-primary--small'
/ STEP 2
.solutions__steps_divider
  hr
.anchor id="step-2"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_bulb.svg')
        h2.pt-3 Step 2
        h1.pb-2 Changing minds
        h4 Create a mindset in your organization that supports and builds the foundation of a diverse and inclusive culture. With in-depth workshops you can learn the underlying mechanisms, avoid roadblocks and be equipped and inspired to successfully integrate D&I initiatives.
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-2-1"
    .row
      .col-12
        .float-left.bg-white
          | In depth workshops
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong ½ day
        h1
          strong Mentality Change Program
          br
          | (Executive level)
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5 Investing in D&I is a missed opportunity for many organizations. Do you want to motivate your leadership team or your staff to embrace D&I and support a culture that is more inclusive? Let us help you kick-start the openness by describing the business-case for why D&I should be an integrated part of every organizational culture.
        h3 Pricing
        h4
          ' Indicative price for Executive / Senior audience:
          strong 3,5k-5k €
        h4
          ' Indicative price for employee/middle management audience:
          strong 1,8k-2,5k €
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Mentality Change Program'}, class: 'keynote__button btn btn-primary btn-primary--small'
/ STEP 3
.solutions__steps_divider
  hr
.anchor id="step-3"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_conversation.svg')
        h2.pt-3 Step 3
        h1.pb-2 Development and culture programs
        h4 Invest in your internal talent with individual coaching, mentoring programs or development-programs, and empower them to break through biases, glass ceilings and other career challenges.
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-3-1"
    .row
      .col-12
        .float-left.bg-white
          | Brax test
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Is your organization attracting the right talent?
          br
          | Find out with the new BRAX test developed in cooperation with Harvard researchers
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | Success in the war for talent depends on winning hearts and minds of employees. In order to thrive, the fit between organization, culture and people is crucial.
          br
          br
          | Recent advances in cognitive and neuro-sciences now allow us to understand and to measure the deepest motives beyond the decisions people take —including career choices.
          br
          br
          | Understanding which implicit motives employees seek to fulfil through their professional occupation, positively influence talent attraction and retention efficiency. Identify what truly motivates the employees, with unprecedented accuracy and scientific validity.
        h3 Pricing
        h4
          ' Indicative price
          strong 10k-35k €
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Is your organization attracting the right talent?'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-3-2"
    .row
      .col-12
        .float-left.bg-white
          | Coaching
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Coaching of female talents
          br
          | Strengthen the talent in your organization through individual coaching
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | Do you wish to support your female talents with individual support, challenges and personal development? Through coaching comes opportunity to develop thinking, decision making, problem solving, behavior and the way in which we engage in professional relationships.
          br
          br
          | Coaching can be valuable independently of your number of years of experience, and will only become increasingly essential the further you grow in your career.
          br
          br
          | Axiom Consulting Partners Europe offers coaching based on a robust psychological background, and integrates the newest research, to ensure that the coaching will be highly valuable and facilitate personal and professional development.
        h3 Pricing
        h4
          ' In depth coaching track of 6 in-depth sessions at junior/middle management level incl. Personality testing:
          strong 6k €
        h4
          ' In depth coaching track of 6 in-depth sessions at senior/executive management level incl. Personality testing:
          strong 9k €
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Coaching of female talents'}, class: 'keynote__button btn btn-primary btn-primary--small'
/ STEP 4
.solutions__steps_divider
  hr
.anchor id="step-4"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_strategy.svg')
        h2.pt-3 Step 4
        h1.pb-2 Adapted processes and systems
        h4 Plan ahead and integrate the most recent D&I knowledge into the core of your organization with adapted systems and processes eg. Leadership Assimilation and Succession Planning.
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-4-1"
    .row
      .col-12
        .float-left.bg-white
          | Leadership assimilation
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Integrating a new leader on a team
          br
          | (Executive level)
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | Normal onboarding processes includes having a phone and a computer set up, and many new leaders are left on their own to figure out how to navigate in the culture, unwritten rules and norms in the group. This is a time where it is important to work proactively with potential resistance within the group of the direct reports and the organization. Change resistance is in our DNA. Along with change-resistance follows a series of consequences, which have great impact on the effectiveness and accomplishments of the organization.
          br
          br
          | With a Leadership Assimilation program, you will substantially increase the success rate of your new leader, and the program can turn change resistance into highly valuable momentum. Leadership Assimilation will fundamentally increase the success rate of new leaders.
        h3 Pricing
        h4
          ' Indicative price:
          strong 10k-25k €
          br
          em Leadership Assimilation is a highly customized tool, to make sure that you get exactly the right solution for your leaders. Contact us if you wish to discuss the opportunities of Leadership Assimilation.
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Integrating a new leader on a team'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-4-2"
    .row
      .col-12
        .float-left.bg-white
          | Succession planning
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Making your entire talent pool available through inclusive succession planning
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | In a rapport from 2015, it was shown that of the leaders in the pipeline for becoming CEO in US and Canada, only 3% were women (PwC). There is a general lack of focus on women in the pipeline for executive and senior positions, and organizations are missing out on unprecedented amounts of talent.
          br
          br
          | Axiom Consulting Partners will support you in updating your Succession Planning process and will fine-tune your ability to discover high potentials earlier in the career paths of the women in the organization. We take into account the culture of your organization and integrating latest research to successfully promote female leadership on the executive level.
          br
          br
          | Make sure that you have access to all your talent and that your talent has access to your leadership pipeline with Succession Planning.
        h3 Pricing
        h4
          ' Indicative price
          strong 25k-55k €
          br
          em Contact us if you wish to discuss the opportunities of Leadership Assimilation so we can make sure that we customize a solution that fits exactly with your organizational needs.
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Making your entire talent pool available through inclusive succession planning'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-4-3"
    .row
      .col-12
        .float-left.bg-white
          | Mentoring programs
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Facilitate personal development and support the career of your female talent through a mentoring program
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | Should your female talents have a trusted advisor who supports their long-term development and acts as a sounding board, coach and mentor? Do you wish to strengthen the retention of your female talent? Do you wish to ensure a stronger knowledge transfer in your organization, improved motivation and encourage a learning culture where your talent is supported through times of change?
          br
          br
          | A Mentoring Program in your organization will benefit your female talent by creating momentum around learning and personal development. It will strengthen internal career tracks through empowerment and challenges from a more senior member of the organization. The mentor will in return experience purposeful leadership development and further strengthen the organizational ownership.
          br
          br
          | Axiom Consulting Partners Europe will train your executives to fully involve in the role of mentoring, and will partner with you to identify the right talent and the right match between mentor and mentee.
        h3 Pricing
        h4
          ' Indicative price:
          strong 25-40k €
          br
          em Let us contact you if you are considering empowering your female talent through a Mentoring Program, and we can find the right solution for your organization, your culture and your talent.
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Facilitate personal development and support the career of your female talent through a mentoring program'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-4-4"
    .row
      .col-12
        .float-left.bg-white
          | Sponsoring programs
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Pave the way for the career-development of your female talents through a sponsoring program
          hr
    .row.justify-content-center.keynote-content
      .col-12
        h2.pt-2.pb-5
          | A Sponsoring Program is a progressive support for your female talent and high potentials. A sponsor will actively support the development of the protégé and be an advocate for their progress. The highly involved protégé works together with the sponsor, and the reciprocity builds momentum that will bring tangible career progress.
          br
          br
          | With a sponsor, a person is more likely to gain strong relations with senior leaders and build connections with important clients and customers. The sponsor will experience a strong team-player and a secured legacy.
          br
          br
          | Axiom Consulting Partners Europe will train your executives to truly sponsor your talent, and we will support you in identifying and preparing the right talent for the right sponsors.
        h3 Pricing
        h4
          ' Indicative price:
          strong 15-40k €
          br
          em Contact us if you want to know how a Sponsoring Program can support the career path of your female talent.
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Pave the way for the career-development of your female talents through a sponsoring program'}, class: 'keynote__button btn btn-primary btn-primary--small'
  / KEYNOTE
  .col-12.keynote
    .anchor.anchor__lower id="step-4-5"
    .row
      .col-12
        .float-left.bg-white
          | Training
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong 2-6 months
        h1
          strong Intensive 3 module career boost for female high-potentials
          hr
    .row.justify-content-center.keynote-content.keynote-content
      .col-12
        h2.pt-2.pb-5
          | The 3-module training will empower, strengthen and facilitate career development for your female high-potentials.
          br
          br
          | Give your female talent a strong knowledge about networking, personal branding, mentoring and work-life balance. With this comprehensive toolbox you will fundamentally strengthen the capacity of your female talent to unfold their talent in the organization.
          br
          br
          | This solution is highly recommendable if the population of women decreases the further up you look at the levels in your organization. The three modules taking place over a period of 2-6 months will build momentum around your female talent, and will give them the proven tools to move up in the organization, and will give your organization access to the entire talent pool.
        h3 Pricing
        h4
          ' Indicative price:
          strong 75-90k €
          br
          em Up to 30 participants
          br
          em Let us contact you if you are considering empowering your female talent through a 3-module program, and we can find the right solution for your organization, your culture and your talent.
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Intensive 3 module career boost for female high-potentials'}, class: 'keynote__button btn btn-primary btn-primary--small'
