.anchor id="company-1"
.row.solutions__header
  .col-12.col-lg-8
    h1.pr-2.pb-1 Customized D&I solutions for your needs
    h5.pb-4
      ' In cooperation with
      strong Axiom Consulting Partners
    h3.pb-3 Diversity and inclusion is not a challenge - it is an opportunity. An opportunity for increased measures of revenue, innovation, engagement, work-environment, performance and competitiveness - Let us support you leverage the full potential of diversity and inclusion
    = link_to 'Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Customized D&I solutions for your needs'}, class: 'btn btn-primary full-offfer-button'
  .hidden-md-down.col-lg-4.pl-1.solutions__header_img
    = image_tag('icons/services_1_axiom.svg')
/ TODO: transform this into loop after transfering offers to DB
.row.solutions__step.margin-negative
  .col-12
    hr.hr--dark
== render 'offer'