== render layout: 'user_logged/platform_settings/layout' do
  .row.justify-content-center.mb-4
    = "Edition of '#{@employees_count.count}'"
  .row.justify-content-center.mb-4
    = simple_form_for @employees_count, url: user_logged_platform_settings_employees_count_path do |f|
      == render partial: 'form', locals: {f: f}
