== render layout: 'user_logged/platform_settings/layout' do
  = link_to 'Add new', new_user_logged_platform_settings_employees_count_path
  table.table.table-responsive
    tr
      th Order
      th Count
      th Actions
    - @employees_counts.each do |employees_count|
      tr
        td= employees_count.order
        td= employees_count.count
        td
          = link_to 'Edit', edit_user_logged_platform_settings_employees_count_path(employees_count)
          br
          = link_to('Delete', user_logged_platform_settings_employees_count_path(employees_count), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs')
