== render layout: 'user_logged/platform_settings/layout' do
  == render partial: 'user_logged/platform_settings/requests/company_form'
  h2 How we will reach the goals information requests
  = paginate @goal_requests
  table.table.table-responsive
    tr
      th Created at
      th Created by
      th Creator email
      th Company
      / th Response
      / th Resolved?
    - @goal_requests.each do |goal_request|
      tr
        td= goal_request.created_at
        td= goal_request.user.full_name
        td= goal_request.user.email
        td= goal_request.company.name
        / td= goal_request.response
        / td= goal_request.resolved.humanize
  = paginate @goal_requests
