== render layout: 'user_logged/company_settings/layout' do
  h2 Followers stats
  table.table
    thead
      th
      th Followers
    tbody
      tr
        td Total
        td= @followers_total_count
      tr
        td Today
        td= @followers_today_count
      tr
        td Last week
        td= @followers_week_count
      tr
        td Last month
        td= @followers_month_count
      tr
        td Last year
        td= @followers_year_count