== render layout: 'user_logged/account_settings/layout' do
  - if @upcoming_payment
    table.table.table-responsive
      tr
        th Planned for
        th Cost
      tr
        td= Time.zone.strptime(@upcoming_payment.next_payment_attempt.to_s, '%s')
        td= number_to_currency(@upcoming_payment.amount_due / BigDecimal.new('100'), locale: :da)
  - else
    | There's no upcoming payments.
