.modal.fade aria-hidden="true" aria-labelledby="edit_post_label" role="dialog" class="edit-post" tabindex="-1" id="edit_post_#{post.id}"
  .modal-dialog role="document"
    .modal-content
      .modal-background
        .text-right.pr-2.pt-1
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true" &times;
        .modal-header.pt-1
          .text-center
            h5 Edit post
      .modal-body.text-left
        = simple_form_for post,
                          url: user_logged_post_path(post),
                          html: {class: 'form-vertical', id: 'user_logged_post_form'},
                          method: :put do |f|
          = hidden_field_tag :authenticity_token, form_authenticity_token
          = f.input :title, label: false, placeholder: 'Title', input_html: { class: 'rounded-0' }
          = f.input :text, as: :text, label: false, placeholder: 'Add your post', input_html: { class: 'rounded-0 h-150px' }
          = f.input :video, placeholder: 'Link to YouTube/Vimeo video'
          - if post.video.present?
            .form-group.optional
              = f.check_box :remove_video
              = f.label ' Delete video'
          = f.label :photo
          = f.input :photo, label: false, as: :file
          - if post.photo.model.photo?
            .form-group.optional
              = f.check_box :remove_photo
              = f.label ' Delete photo'
          = f.button :button, class: 'button btn btn-primary', data: { disable_with: "<i class='fa fa-spinner fa-spin'</i>" } do
            span.label-white UPDATE
            i.fa.fa-comment-o
