== render 'user_logged/posts/share_post', post: post
= simple_form_for :like,
                  url: user_logged_likes_path,
                  html: {class: 'form-inline user_logged_like_form pull-right'},
                  remote: true,
                  method: :post do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  = f.input :post_id, input_html: {value: post.id}, as: :hidden
  .span.label = (post.likes.count == 1 ? "#{post.likes.count} like".html_safe : "#{post.likes.count} likes".html_safe)
  .button-like = button_tag(:submit, class: 'btn btn-link') do
    - if @current_user_likes.include?(post.id)
      i.fa.fa-heart
      span.label LIKED
    - else
      i.fa.fa-heart-o
      span.label LIKE
  span  
    - target_id = "#share-post-#{post.id}"
    = link_to '#', data: {target: target_id, toggle: 'modal'} do
      i.fa.fa-share-alt
