= simple_form_for @post_form,
                  url: user_logged_posts_path,
                  html: {class: 'form-vertical', id: 'user_logged_post_form'},
                  method: :post do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  = f.input :title, label: false, placeholder: 'Title', input_html: { class: 'rounded-0' }
  = f.input :text, as: :text, label: false, placeholder: 'Add your post', input_html: { class: 'rounded-0 h-150px' }
  = f.label :video
  = link_to 'delete','#', id: 'reset-video-field', class: 'mx-2'
  = f.input :video, label: false, placeholder: 'Link to YouTube/Vimeo video'
  = f.label :photo
  = link_to 'delete','#', id: 'reset-image-field', class: 'mx-2'
  = f.input :photo, label: false, as: :file
  .text-right
    = f.button :button, class: 'button btn btn-primary', data: { disable_with: "<i class='fa fa-spinner fa-spin'</i>" } do
      span.label-white PUBLISH
      i.fa.fa-comment-o
