- if post && policy(post).can_destroy?
  == render 'user_logged/posts/edit', post: @post_edit_forms[post.id]
.post-card id="post_#{post.id}"
  .card.mb-3
    .card-block
      .d-inline-block.pull-right
      - if post.company_id == @gogetty_id
        div.dropdown.gogetty-post
          = image_tag('gog-logo-footer.svg', class: 'w-60px')
      - if policy(post).can_destroy?
        .dropdown.pull-right
          - if post.company_id == @gogetty_id
            div.gogetty-post
              = image_tag('gog-logo-footer.svg', class: 'w-60px')
          span.toggle-data data-toggle="dropdown"
            i.fa.fa-ellipsis-v
          .dropdown-menu.dropdown-menu-right
            - edit_id = "#edit_post_#{post.id}"
            = link_to '#', class: 'dropdown-item delete-post-link', data: {target: edit_id, toggle: 'modal'} do
              | Edit
            = link_to 'Delete', user_logged_post_path(post), class: 'dropdown-item', data: {confirm: "Are you sure?"}, method: :delete
      .post
        .post__author 
          = post.creator.decorate.avatar_thumb 
          .d-inline-block.ml-3.pull-right
            h6.text-primary>= "#{post.creator.full_name}"
            span.label On behalf of
            span.label-link<= link_to post.company.name, user_logged_company_path(post.company)
          .post__date.label
            | Added
            p.label-dark= post.created_at.strftime("%T, %d.%m.%Y")
        - if post.text.chars.count >= 400
          .post__content.my-3.mt-4.paragraph-gray-light id="#{post.id}-short"
            - if post.title.present?
              h4= post.title
            - if post.photo.present?
              = image_tag post.photo, width: '100%'
            - if post.video.present?
              .container-video.mt-3
                = embed_video(post.video)
            .post-text
              = format_text(truncate(post.text, length: 400))
        .post__content.my-3.mt-4.paragraph-gray-light id="#{post.id}-long" class=(post.text.chars.count >= 400 ? 'hidden' : '') 
          - if post.title.present?
            h4= post.title
          - if post.photo.present?
            = image_tag post.photo, width: '100%'
          - if post.video.present?
            .container-video.mt-3
              = embed_video(post.video)
          .post-text
            = format_text(post.text)
        .spacer
        .post__actions
          .paragraph-link id="#{post.id}-show-more" data-id-post="#{post.id}" class=(post.text.chars.count >= 400 ? '' : 'hidden-soft')
            | Show more
            i.fa.fa-angle-down aria-hidden="true"
          .paragraph-link.hidden id="#{post.id}-show-less" data-id-post="#{post.id}"
            | Show less
            i.fa.fa-angle-up aria-hidden="true"
          div id="post__likes_#{post.id}"
            == render partial: 'user_logged/posts/likes', locals: {post: post}
        .post__comments
          .mb-2
            / - if post.likes.count.zero?
            /   ' Be the first person who liked this •
            / = "#{post.comments.count} Comments"
          div id="post__comments_#{post.id}"
            == render partial: 'user_logged/posts/comments', locals: {post: post}