.modal.fade aria-hidden="true" aria-labelledby="share-post" role="dialog" tabindex="-1" id="share-post-#{post.id}"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .share-post
          .row
            .col-12
              h5.pb-3 Share post
            .col-12
              .copy-btn
                input.mb-3 id="copy-button-#{post.id}" value = "#{post_url(id: post, company_id: post.company)}" readonly="true"
                button.btn.btn-primary.copyBtn id="copy-button-#{post.id}" COPY
                span.copy-tooltip id="span-copy-button-#{post.id}" style="display:none;" COPIED
