.show-post-log-out
  .top-info.py-4
    .container
      .row.no-gutters
        .col-xl-7.col-lg-6
          .container-summary
            .row
              .col.col-auto#trigger-point
                =@company.logo
              .col.m-auto
                h3= @company.name
                p.lead.paragraph-gray= @company.industry_city
  .bottom-info
    .container
      .row
        .col-xl-6.col-lg-6.my-4
          #show_stream_container.container-stream
            .post-card id="post_#{@post.id}"
              .card.mb-3
                .card-block
                  .d-inline-block.pull-right
                  - if @post.company_id == @gogetty_id
                    div.dropdown.gogetty-post
                      = image_tag('gog-logo-footer.svg', class: 'w-60px')
                  .post
                    .post__author 
                      = @post.creator.decorate.avatar_thumb 
                      .d-inline-block.ml-3.pull-right
                        h6.text-primary>= "#{@post.creator.full_name}"
                        span.label On behalf of
                        span.label-link<= link_to @post.company.name, user_logged_company_path(@post.company)
                      .post__date.label
                        | Added
                        p.label-dark= @post.created_at.strftime("%T, %d.%m.%Y")
                    - if @post.text.chars.count >= 400
                      .post__content.my-3.mt-4.paragraph-gray-light id="#{@post.id}-short"
                        - if @post.title.present?
                          h4= @post.title
                        - if @post.photo.present?
                          = image_tag @post.photo, width: '100%'
                        - if @post.video.present?
                          .container-video.mt-3
                            = embed_video(@post.video)
                        .post-text
                          = format_text(truncate(@post.text, length: 400))
                    .post__content.my-3.mt-4.paragraph-gray-light id="#{@post.id}-long" class=(@post.text.chars.count >= 400 ? 'hidden' : '') 
                      - if @post.title.present?
                        h4= @post.title
                      - if @post.photo.present?
                        = image_tag @post.photo, width: '100%'
                      - if @post.video.present?
                        .container-video.mt-3
                          = embed_video(@post.video)
                      .post-text
                        = format_text(@post.text)
                    .spacer
                    .post__actions
                      .paragraph-link id="#{@post.id}-show-more" data-id-post="#{@post.id}" class=(@post.text.chars.count >= 400 ? '' : 'hidden-soft')
                        | Show more
                        i.fa.fa-angle-down aria-hidden="true"
                      .paragraph-link.hidden id="#{@post.id}-show-less" data-id-post="#{@post.id}"
                        | Show less
                        i.fa.fa-angle-up aria-hidden="true"
                      div id="post__likes_#{@post.id}"
                        span.label = (@post.likes.count == 1 ? "#{@post.likes.count} like".html_safe : "#{@post.likes.count} likes".html_safe)
                    .post__comments
                      .mb-2
                      div id="post__comments_#{@post.id}"
                        == render partial: 'user_logged/comments/comment', collection: @post.comments.order(:created_at)
        .col-xl-6.col-lg-6.mt-5
            h1.mt-3
              | Check your employer's diversity scores for free
            .lead.mt-4.mb-4 We believe that diversity on all organizational levels is utilizing available talent to the fullest.
            .flex-display.mb-3
              = link_to 'REGISTER', new_user_registration_path, class: 'btn btn-primary btn--circle btn--dark btn-square'
              = link_to 'Log In', new_user_session_path, class: 'paragraph-link the-team mx-3 ml-4'
              i.fa.fa-arrow-right

/ Social media meta tags
meta property="og:title" content="#{@post.title}"
meta property="og:description" content="#{@post.text}"
meta property="og:image" content="#{@post.photo}" 
meta property='og:video' content="#{@post.video}"