.solutions__menu_content.solutions__menu_content--selected
  div.float-right
    = image_tag('logos/logo_ibb.svg', size: '51x23')
  div.float-none
    h5 Inspired Beyond Babies
    div.float-none
      nav id="navbar-solutions"
        h4= link_to 'Retain your talents during parental leave', '#company-3', class: 'animateScroll'
        ul.nav.flex-column
          li.nav-item
            = link_to 'General information', '#step-1', class: 'nav-link animateScroll'
.solutions__menu_content
  div.float-none
    h4= link_to 'Back to overview', solutions_path
