/OFFER
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12
        / KEYNOTE
        .col-12.keynote
          .anchor.anchor__lower id="step-1"
          .row.justify-content-center.keynote-content
            .col-12
              h2.pt-2.pb-0.mb-0
                | Loosing talents is expensive and re-onboarding of employees from parental leave can be both time-consuming and costly. But parental leave does not have to be an economic challenge – quite the opposite.
                br
                br
                | Inspired Beyond Babies (IBB) is a professional parental leave network for both men and women on parental leave that focuses on skill development through keynote speeches, workshops, knowledge sharing and networking. It is for those employees who seek inspiration and new knowledge while on leave.
                br
                br
                | By offering Inspired Beyond Babies as an employee benefit you are able to:
              ul
                li increase your retention rates for employees on leave
                li minimize the costs of re-onboarding employees returning from leave
                li create greater diversity in the company
                li increase your employer branding and attract more talents
                li getting even more skilled and strengthened employees returning from parental leave, ready to implement what they have learned
                li expand your employees' professional network as well as your own
              h2.pt-2.pb-5
                | IBB is a concrete initiative that provides you to leverage on the full potential of your employees and be at the front of the diversity agenda tapping into the value it has for your bottom line figures.
          .col-12.keynote__button_container
            .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Inspired Beyond Babies', name: 'Retain your talents during parental leave'}, class: 'keynote__button btn btn-primary btn-primary--small'
