.anchor id="company-3"
.row.solutions__header
  .col-12.col-lg-8
    h1.pr-5.pb-1 Retain your talents during parental leave
    h5.pb-4
      ' In cooperation with
      strong Inspired Beyond Babies
    h3.pb-3 Retain your talents during parental leave and pave the way for more gender diversity by investing in your employees skill development while on leave, so they return even more motivated and resource-full to work.
    = link_to 'Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Inspired Beyond Babies', name: 'Retain your talents during parental leave'}, class: 'btn btn-primary full-offfer-button'
  .hidden-md-down.col-lg-4.pl-1.solutions__header_img
    = image_tag('icons/services_1_axiom.svg')
/ TODO: transform this into loop after transfering offers to DB
.row.solutions__step.margin-negative
  .col-12
    hr.hr--dark
== render 'offer'
