== render layout: 'user_logged/platform_settings/layout' do
  == render partial: 'user_logged/platform_settings/requests/company_form'
  h2 Diversity & Inclusion Policies Requests
  = paginate @policy_requests
  table.table
    tr
      th Created at
      th Created by
      th Creator email
      th Company
      th Comment
      / th Response
      / th Resolved?
      th Sub requests
    - @policy_requests.each do |policy_request|
      tr
        td= policy_request.created_at
        td= policy_request.user.full_name
        td= policy_request.user.email
        td= policy_request.company.name
        td= policy_request.comment
        / td= policy_request.response
        / td= policy_request.resolved.humanize
        td
          - policy_request.diversity_policies_policy_requests.each do |diversity_policies_policy_request|
            = "- #{diversity_policies_policy_request.diversity_policy.name}"
            br
  = paginate @policy_requests
