.solutions__menu_content.solutions__menu_content--selected
  div.float-right
    = image_tag('logos/logo_introdus.png', size: '45x30')
  div.float-none
    h5 introDus
    div.float-none
      nav id="navbar-solutions"
        ul.nav.flex-column
          li.nav-item
            = link_to 'Preboarding', '#step-1', class: 'animateScroll'
          li.nav-item
            = link_to 'Onboarding', '#step-2', class: 'animateScroll'
          li.nav-item
            = link_to 'Offboarding', '#step-3', class: 'animateScroll'
.solutions__menu_content
  div.float-none
    h4= link_to 'Back to overview', solutions_path
