.anchor id="step-1"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_growth.svg')
        h2.pt-3 Preboarding: Having employees come back from parental leave or a longer period of absence
      .col-12
        hr.pb-md-5
    / KEYNOTE
  .col-12.keynote
    .anchor id="step-1"
    .row
      .col-12
        .float-left.bg-white
          | Keynote
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong forever!
        h1
          strong THE RIGHT TO THE BEST POSSIBLE RELATIONSHIP
          hr
    .row.justify-content-center.keynote-content
      .col-12
        .pt-2
          p Remember the last time you were to start something new? The feeling of butterflies in your stomach? The excitement and anticipation?
          p For any human being starting a new job is special. The thing is though that changing jobs often leaves you in a kind of limbo. You’re not quite done with the old one and not yet started on the new. But what if you’re on e.g. a parental leave? Well it’s basically the same because of the time spent away from your workplace.
          p The period up to the first day a crucial for both the company and the employee. This is where the relationship begins. This is why using the moment of power to Preboard the employee in the culture they are about to enter. Introduce them to their new colleagues, take them through SOP’s and policies that are crucial.
          p With Preboarding you build the best possible relationship with the new hire making the integration process efficient and personal – no matter gender, colour of their skin or physical conditions. Every new or existing employee is a human that deserves to get treated equally well.

    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'introDus', name: 'Preboarding'}, class: 'keynote__button btn btn-primary btn-primary--small'

/ STEP 2
.solutions__steps_divider
  hr
.anchor id="step-2"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_bulb.svg')
        h2.pt-3 Onboarding: Getting your employee up-to-speed from day 1 after a leave
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor id="step-2"
    .row
      .col-12
        .float-left.bg-white
          | Keynote
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong forever!
        h1
          strong THE RIGHT TO RETURN IN A SAFE MATTER
          hr
    .row.justify-content-center.keynote-content
      .col-12
        .pt-2
          p Vacation. A very legitimate reason for not being in the office for two to three weeks. Do you remember coming back to the office after some weeks away?
          p You get to meet Janet, the new intern. Your colleagues finished your giant project. Your boss implemented radical changes on how to document processes. Someone painted the walls. The coffee machine is still in the same spot though.
          p Now imagine you’ve been away for 6 months. Or 12!
          p Weird stuff you’ll come back to, huh?
          p We want to help new employees feel safe from day one. But this includes being absent for a longer period.
          p This is why we’ve partnered up with GoGetty in a quest to re-onboard employees after maternity leave.
          p Every new beginning is important – even though you been here before.

    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'introDus', name: 'Onboarding'}, class: 'keynote__button btn btn-primary btn-primary--small'
/ STEP 3
.solutions__steps_divider
  hr
.anchor id="step-3"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_conversation.svg')
        h2.pt-3 Offboarding: Saying goodbye in the best possible way
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor id="step-3"
    .row
      .col-12
        .float-left.bg-white
          | Keynote
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong introDus
        h1
          strong THE RIGHT TO PART WAYS IN A SAFE MATTER
          hr
    .row.justify-content-center.keynote-content
      .col-12
        .pt-2
          p Remember the last time you ended something that was a big part of your life? Whether it was a relationship with a person you really liked or a job you’ve had for years, every ending is different and leaves you with a feeling or experience.
          p This is why we’ll like to help you with the Offboarding of your beloved employees. To give them the best possible time in the last period with you. Also, to make sure that every personal and practical aspect of the employment is being taken care of.
          p By parting ways in the best and most positive way you give each other the possibility to work together again someday. By considering how the last time at your company will be your employee will feel safer knowing that everything is in order – and that you leave not with a goodbye but with a See you later!

    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'introDus', name: 'Offboarding'}, class: 'keynote__button btn btn-primary btn-primary--small'
