.anchor id="company-4"
.row.solutions__header
  .col-12.col-lg-8
    h1.pr-5.pb-1 Re-onboarding after parental leave made easy
    h5.pb-4
      ' In cooperation with
      strong introDus
    h3.pb-3 introDus provides an innovative, user-friendly and cloud-based Pre & Onboarding platform that works with any HR system. To us every employee is a human that deserves to get treated equally well.
    h3.pb-3 With the introDus platform we help companies produce happier and more satisfied employees through better integration and reducing costs significantly. Good Pre & Onboarding will help minimize the frequent replacement of employees and accelerate the time-to-performance curve by up to 85%. By focusing on solid employee communication through our Onboarding tool, retention rates can increase by up to 79%.
    h3.pb-3 After investing heavily in the recruiting process, companies lack tools for quick and seamless integration. This results in early resignations due to poor expectation alignment between the company and the new employee. This can lead to high costs associated with re-hiring. Recent studies show that losing an employee within the first year costs up to 1.5X the yearly salary.
    = link_to 'Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'introDus', name: 'Re-onboarding after parental leave made easy' }, class: 'btn btn-primary full-offfer-button'
  .hidden-md-down.col-lg-4.pl-1.solutions__header_img
    = image_tag('icons/services_1_axiom.svg')
/ TODO: transform this into loop after transfering offers to DB
.row.solutions__step.margin-negative
  .col-12
    hr.hr--dark
== render 'offer'
