#cancel_subscription.modal.fade aria-hidden="true" aria-labelledby="cancel_subscription_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/hey_this_is_important.svg')
          #how_this_works_add_company_label.modal-title.px-5 Are you sure you want to cancel subscription?
      .modal-body.px-5
        | Dear Company Administrator, please notice that your GoGetty Diverse Business Subscription is mandatory for a period of minimum 12 months. If you cancel it now, all the data on your Company's profile will disappear on &nbsp;
        span#end_date
      .modal-footer
        = link_to 'Cancel subscription', '#', method: 'delete', id: 'cancel_subscription_btn', class: 'btn btn-secondary btn-lg'
        = link_to "No. I don't want to cancel", '#', id: 'dont_cancel_subscription_btn', class: 'btn btn-primary btn-lg'

