== render layout: 'user_logged/account_settings/layout' do
  == render 'cancel_subscription'
  table.table.table-responsive
    tr
      th Created on
      th Last update
      th Plan name
      th Paid for to
      th Interval
      th Cancellation scheduled
      th Cancelled on
      th Actions
    - @plans_users.each do |plans_user|
      tr
        td= plans_user.created_at
        td= plans_user.updated_at
        td= plans_user.plan.name.humanize
        td
          nobr= plans_user.payed_for_to
        td= plans_user.interval
        td= plans_user.cancel_scheduled.humanize
        td
          nobr= plans_user.cancelled_on
        td
          - unless plans_user.cancelled_on || plans_user.cancel_scheduled
            = link_to 'Cancel subscription',
                      '#',
                      data: {target:  '#cancel_subscription',
                             toggle:  'modal',
                             link:    "#{user_logged_account_settings_plans_user_path(plans_user.id)}",
                             enddate: "#{plans_user.payed_for_to.strftime('%d.%m.%Y')}"},
                      class: 'cancel-subscription-btn'
