== render layout: 'user_logged/platform_settings/layout' do
  = link_to 'Add new', new_user_logged_platform_settings_industry_path
  table.table.table-responsive
    tr
      th Name
      th Actions
    - @industries.each do |industry|
      tr
        td= industry.name
        td
          = link_to 'Edit', edit_user_logged_platform_settings_industry_path(industry)
          br
          = link_to('Delete', user_logged_platform_settings_industry_path(industry), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs')
