== render layout: 'user_logged/account_settings/layout' do
  table.table.table-responsive
    tr
      th Created on
      th Last update
      th Base cost
      th Coupon used
      th Tax
      th Tax %
      th Total cost
      th State
    - @billings.each do |billing|
      tr
        td= billing.created_at
        td= billing.updated_at
        td= billing.amount_in_cents_local
        td= billing.coupon_value_str_local
        td= billing.tax_value
        td= billing.tax
        td= billing.cost
        td= billing.state.humanize
