.container
  .row
    .col-12
      .text-center
        | Resend email confirmation
  .row
    .col-md-3.col-lg-4
    .col-12.col-md-6.col-lg-4
      = simple_form_for :resend_confirmation, url: resend_confirmations_path, method: :post do |f|
          = f.input :email
          = f.button :submit, 'Resend'
      .col-12.col-md-6.col-lg-4
