#how_this_works_add_company.modal.fade aria-hidden="true" aria-labelledby="how_this_works_add_company_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/hey_this_is_important.svg')
          #how_this_works_add_company_label.modal-title.px-5 Hey! This is important
      .modal-body.px-5
        ' As an administrator of your Company's GoGetty Profile you will be able
        ' to update the company profile, including general information as well as
        | diversity facts, constituting your company's diversity score.
      .modal-footer
        button.btn.btn-secondary type="button" id='proceed' Proceed
#add_company.modal.fade aria-hidden="true" aria-labelledby="add_company_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/add_profile.svg')
          add_company_label.modal-title Add company
      = simple_form_for @company, url: user_logged_companies_path, html: {class: ''}, method: :post do |f|
        .modal-body.px-5
          = f.input :name
          = f.input :acceptance,
                    as: :boolean,
                    label: "I verify that I am official representative of this company \
                    and have the right to act on behalft of my company in the creation \
                    of this page"
        .modal-footer
          = f.button :submit, 'Create company', class: 'button btn btn-secondary'
