.row
  .col.sort-by.mb-3
    .paragraph.amount-companies
      span Found 
      = @companies_count
      |  companies
.row.justify-content-center
  = render(partial: 'user_logged/companies/company_tile',
            collection: @companies.decorate,
            as: :company) || 'No companies found.'
.row.justify-content-center.py-4.width-100
  = paginate @companies, params: {from_pagination: 'true', controller: 'company_searches', action: 'create', 'form_company_search_new[name]': @company_search.name.to_s}
- if !@companies.count.positive? && @company_search.name.to_s != ''
  == render 'no_companies_found'
