#company_request_success.modal.fade aria-hidden="true" aria-labelledby="company_request_success_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/request_sent.svg')
          #company_request_success_label.modal-title Request has been sent
      .modal-body.px-5
        = "Thank you, #{current_user.name}, for showing '#{@company_search.name}' that you care about how serious "
        | they are about making it's Top Management more diverse and inclusive.
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button" Return to search engine
