= simple_form_for @company_search_simple, url: post_create_company_searches_path, html: {class: 'form-inline'}, method: :post do |f|
  .search-group
    = f.input_field :name, class: 'input-search'
    .input-group-btn.input-group-btn-main-nav
      = f.button :button do
        i.fa.fa-search
