#no_companies_found.modal.fade aria-hidden="true" aria-labelledby="no_companies_found_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/negative_search_result.svg')
          no_companies_found_label.modal-title= "#{@company_search.name} is not yet registered on GoGetty"
      .modal-body.px-5
        = "If you care about how serious '#{@company_search.name}' is about "
        ' making their Top Management more diverse and inclusive, we will
        = "notify you once '#{@company_search.name}' has been registered on GoGetty."
        = simple_form_for :notify,
                          url: user_logged_company_requests_path,
                          html: {id: 'user_logged_company_requests_form'},
                          remote: true do |f|
          = f.input :name, as: :hidden, input_html: {value: @company_search.name}
          = f.input :notify,
                    as: :boolean,
                    label: "Notify me if #{@company_search.name} creates a GoGetty diversity profile."
          = f.button :submit, 'Send request', class: 'button btn btn-secondary'
      .modal-footer.modal-footer-dark
        button.btn.btn-primary data-dismiss="modal" type="button" id='add_company' Add a company
== render 'company_request_success'
