.companies-page
  .search
    .container
      .row.justify-content-center
        .col-12.col-md-10.col-lg-10.text-center.pt-5.pb-4
          h1 Search for a company in our directory
          == render 'add_company'
  = simple_form_for @company_search, url: post_create_company_searches_path, html: {id: 'full_company_search_form', 'data-type': 'json'}, remote: true, method: :get do |f|
    .container.container-search
        = f.input :alphabet_letter, as: :hidden
        .container-fluid
          .row.justify-content-center.search
            .col-md-10.col-lg-8
              .search_and_button
                .search_input
                  = f.input :name, label: false,  wrapper: :vertical_input_group
                    = f.input_field :name, class: 'form-control form-control--bright h-40px', placeholder: 'Find company by name or description'
                    .input-group-btn
                      = f.button :button, class: 'button btn btn-primary btn--circle btn--dark btn-square' do
                        | SEARCH
                - if user_signed_in?
              h3 or add it to our database
              .add_company_button.mb-4.mt-2
                = link_to 'ADD COMPANY TO THE LIST +', '#', data: {target: '#how_this_works_add_company', toggle: 'modal'}, class: 'btn btn-primary btn-lg btn-square'
        .filters-background
          .container
            .row.pt-4
              .col-md-12.col-lg-4.col-xl-3.text-center.content-justify-center
                #form_company_search_new_diversity_score.range-sliders
                  .range-slider
                    .range-slider-gender
                      .paragraph.mb-2 Gender
                      .inputs
                        = f.input :diversity_score_from, as: :integer, label: false, inner_html: {min: 0, max: 49}, wrapper: false
                        | to
                        = f.input :diversity_score_to, as: :integer, label: false, inner_html: {min: 1, max: 50, class: ''}, wrapper: false
                      .range-line.mt-3.mb-4
                        #slider-range-0-50.slider-input
                          input#form_company_search_new_diversity_score name='form_company_search_new[diversity_score]' readonly="readonly" style=("border:0; background-color:transparent;") type="text"
                  .range-slider
                    .range-slider-ethnicity
                      .paragraph.mb-2 Ethnicity
                      .inputs
                        = f.input :ethnicity_score_from, as: :integer, label: false, inner_html: {min: 0, max: 49}, wrapper: false
                        | to
                        = f.input :ethnicity_score_to, as: :integer, label: false, inner_html: {min: 1, max: 50, class: ''}, wrapper: false
                      .range-line.mt-3.mb-4
                        #slider-range-0-50-2.slider-input
                          input#form_company_search_new_ethnicity_score name='form_company_search_new[diversity_score]' readonly="readonly" style=("border:0; background-color:transparent;") type="text"
              .col-md-12.col-lg-8.col-xl-9
                .general-filters
                  .paragraph General filters
                  .filters-inputs
                    = f.input :employees_count_id, collection: options_for_employees_count.unshift(['Employees', '-1']), include_blank: false, label: false, input_html: {class: 'simple form-control--transparent'}
                    = f.input :location, placeholder: 'Location', label: false, input_html: {class: 'simple form-control--bright'}
                    = f.input :country_id, collection: options_for_country.unshift(['All countries', '-1']), include_blank: false, label: false, input_html: {class: 'simple form-control--transparent'}
                    = f.input :industry_id, collection: options_for_industry.unshift(['All industries', '-1']), include_blank: false, label: false, input_html: {class: 'simple form-control--transparent'}
                    .add_company_button
                      = f.submit "FILTER", class: 'btn btn-primary btn-lg'
        .container
          .row
            .col.sort-by.mt-2
              .paragraph.amount-companies.sort-by-flex.ml-auto
                span.mr-3 Sort by:
                = f.input :sort_id, collection: options_for_search_sort, include_blank: false, label: false, input_html: {class: 'simple form-control--transparent'}
  .wall.wall-search
    #search_list_container.container
      == render 'companies_search_list'
