.anchor id="company-2"
.row.solutions__header
  .col-12
    h5.pb-3
      ' In cooperation with
      <br>
      strong On the Agenda
    h1.pr-2.pb-1 Creating inclusive gender balanced business
    h3.pb-3
      | On the Agenda is a boutique management consultancy focusing on creating inclusive gender balanced businesses.We help organizations begin and continue their journeys toward gender balance until they reach their goals. We offer services to support all the essential steps to complete the journey...
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'On the Agenda', name: 'Creating inclusive gender balanced businesses'}, class: 'btn btn-primary my-3 full-offer-button'
