.container
  h1.text-center.mb-5
    | Edit Password
  .row.justify-content-center.mb-4
    .authform
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        h3 Change your password
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        = f.input :password, label: 'New password', autofocus: true, autocomplete: 'off'
        = f.input :password_confirmation, label: 'Confirm new password', autocomplete: 'off'
        = f.button :submit, 'Change my Password', class: 'button right'
