.container
  .row
    .col-12
      .text-center.py-5.my-4.forgot-password
        h3 Forgot your password?
        p.my-4 We'll send password reset instructions.
  .row
    .col-md-3.col-lg-4
    .col-12.col-md-6.col-lg-4
      .authform
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form'}) do |f|
          = devise_error_messages!
          = f.input :email, autofocus: true
          = f.button :submit, 'RESET PASSWORD', class: 'button right my-5 btn-square'
