.container
  .row
    .hidden-md-down.col-lg-3.pt-5.pb-5
      | &nbsp;
      br
      br
      - if current_user && current_user.provider == 'linkedin'
        p.btn.btn-secondary LinkedIn account connected
      br
      br
      br
    .col-12.col-lg-9.white-bg.pt-5.pb-5.settings_screen
      == render 'user_logged/account_settings/navbar'
      = yield
