.text-right
  ul.list-inline
    li.list-inline-item#profile= link_to 'Profile', edit_user_logged_account_settings_path, class: 'nav-link'
    li.list-inline-item#password= link_to 'Password', edit_user_registration_path, class: 'nav-link'
    li.list-inline-item#billings= link_to 'Billings', user_logged_account_settings_billings_path, class: 'nav-link'
    li.list-inline-item#subscriptions= link_to 'Subscriptions', user_logged_account_settings_plans_users_path, class: 'nav-link'
    li.list-inline-item#payments= link_to 'Upcoming payments', user_logged_account_settings_upcoming_payments_path, class: 'nav-link'
    li.list-inline-item#invites= link_to 'Admin invites', user_logged_account_settings_admin_invites_path, class: 'nav-link'
    - if current_user.stripe_customer_id.present?
      li.list-inline-item#update-card= link_to 'Update Card', new_user_logged_account_settings_payment_credential_path, class: 'nav-link'
