== render layout: 'user_logged/account_settings/layout' do
  .row
    .col-md-1.col-lg-2
    .col-12.col-md-10.col-lg-8
      .row.mb-5
        .col.col-auto
          = current_user.decorate.avatar
        .col.col-auto
          h3= current_user.full_name
          h4= current_user.title
  .row
    .col-md-1.col-lg-2
    .col-12.col-md-10.col-lg-8
      = simple_form_for @user, url: user_logged_account_settings_path do |f|
        | Avatar:
        = f.input :avatar, as: :file
        = f.input :remove_avatar, as: :boolean
        = f.input :name, autofocus: true, label: '', placeholder: 'Name', required: ''
        = f.input :surname, label: '', placeholder: 'Surname'
        = f.input :email, label: '', placeholder: 'Email'
        hr
        h4 Job information
        = f.input :company_name, label: '', placeholder: 'Company name'
        = f.input :title, label: '', placeholder: 'Title'
        / = f.input :company_representative, as: :boolean
        / hr
        / = f.input :newsletter_subscription, as: :boolean
        = f.button :submit, 'Update settings', class: 'btn btn-secondary right mr-5'
        - if current_user.company_id?
          .subscribe_btn
            = link_to "Back to my company", user_logged_company_path(current_user.company)
        .subscribe_btn.mt-8
          = link_to 'Sign up to our newsletter', 'http://eepurl.com/drkCB9', target: '_blank'
