.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_growth.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 Step 1. General awareness
    h4 Build general awareness with keynotes and workshops that will allow your organization to be exposed to the possibilities of D&I, and introduce new norms and standards to strengthen your organization and leverage its full potential.
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Customized D&I solutions for your needs'}, class: 'btn btn-secondary full-offer-button'
/ REPEAT
.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_bulb.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 Step 2. Changing minds
    h4 Create a mindset in your organization that supports and builds the foundation of a diverse and inclusive culture. With in-depth workshops you can learn the underlying mechanisms, avoid roadblocks and be equipped and inspired to successfully integrate D&I initiatives.
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Customized D&I solutions for your needs'}, class: 'btn btn-secondary full-offer-button'

.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_conversation.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 Step 3. Development and culture programs
    h4 Invest in your internal talent with individual coaching, mentoring programs or development-programs, and empower them to break through biases, glass ceilings and other career challenges.
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Customized D&I solutions for your needs'}, class: 'btn btn-secondary full-offer-button'

.row.solutions__step.pb-1.pb-4
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_strategy.svg')
  .col-12.col-md-9.pb-10.pb-4
    h1.pb-2.pt-2 Step 4. Adapted processes and systems
    h4 Plan ahead and integrate the most recent D&I knowledge into the core of your organization with adapted systems and processes eg. Leadership Assimilation and Succession Planning.
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Customized D&I solutions for your needs'}, class: 'btn btn-secondary full-offer-button'
