.anchor id="company-1"
.row.solutions__header
  .col-12
    h5.pb-3
      ' In cooperation with
      <br>
      strong Axiom Consulting Partners
    h1.pr-2.pb-1 Customized D&I solutions for your needs
    h3.pb-3
      | Diversity and inclusion is not a challenge - it is an opportunity. An opportunity for increased measures of revenue, innovation, engagement, work-environment, performance and competitiveness - Let us support you leverage the full potential of diversity and inclusion...
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_growth.svg')
    h3 General Awareness
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_bulb.svg')
    h3 Changing minds
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_conversation.svg')
    h3 Development and culture programs
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_strategy.svg')
    h3 Adapted processes and system
  .col-12
      = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Axiom', name: 'Customized D&I solutions for your needs'}, class: 'btn btn-primary my-3 full-offer-button'
