.media.mt-3
  = comment.creator.decorate.avatar_thumb
  .media-body.ml-2.pt-1
    strong.text-primary.mt-0>= "#{comment.creator.full_name}"
    = format_text(comment.text)

    - if policy(comment).can_destroy?
      .d-block
        small= link_to 'Delete', user_logged_comment_path(comment), data: { confirm: "Are you sure?" }, method: :delete, remote: true, class: 'text-muted delete-comment-link'
