= simple_form_for :comment,
                  url: user_logged_comments_path,
                  html: {class: 'form-inline user_logged_comment_form mt-3'},
                  remote: true,
                  method: :post do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  = f.input :post_id, input_html: {value: post.id}, as: :hidden
  = f.input :text, label: false, wrapper: :vertical_input_group, wrapper_html: { class: 'w-100 no-padding' }
    = f.input_field :text, class: 'form-control w-100', placeholder: 'Add your comment'
    .input-group-btn
      = f.button :button, class: 'button btn btn-primary btn-square-post' do
        span.label-white POST COMMENT
        i.fa.fa-comment-o
