== render layout: 'user_logged/account_settings/layout' do
  .row.justify-content-center.payment_row
    h5#edit_summary_label.text-center Update Card
    = form_tag user_logged_account_settings_payment_credentials_url, class: 'card_update_form', method: :post do |f|
      .payment
        span.payment-errors
      .form-group
        .col-xs-12.form-group.card.required
          label.control-label Card Number
          input.form-control.card-number data-stripe="number" maxlength="16" name="cardnumber" autocomplete="off" placeholder=("Card number") required="" onkeypress="return isNumberKey(event)"
      .form-group
        .col-xs-4.form-group.cvc.required
          label.control-label CVC
          input.form-control.card-cvc autocomplete="off" data-stripe="cvc" maxlength="4" name="cvc" placeholder=("CVC") required="" type="password" onkeypress="return isNumberKey(event)"
        .col-xs-4.form-group.expiration.required
          label.control-label Expiration
          input.form-control.card-expiry-month autocomplete="off" data-stripe="exp-month" maxlength="2" name="exp_month" placeholder="MM" required="" type="text" onkeypress="return isNumberKey(event)"
        .col-xs-4.form-group.expiration.required
          label.control-label
          input.form-control.card-expiry-year autocomplete="off" data-stripe="exp-year" maxlength="2" name="exp_year" placeholder="YY" type="text" required="" onkeypress="return isNumberKey(event)"
      .form-group.text-center
        .col-md-12.form-group
          button.pay_btn name="button" type="submit"  Update Credit Card

script language="Javascript"
  | function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if(charCode > 31 && (charCode < 48 || charCode > 57)){
      return false
    }
    else{
      return true
    }

  | }
