- company_profile = company.company_profile.decorate
.card.rounded.border-0.text-center.company_tile.show-followed-list class=[('hidden' if company_counter > 2)]
  a.card-block.clearfix.p-3 href='#{user_logged_company_path(company)}'
    .card-subtitle
      = company.name
    .paragraph-small title="#{company.industry&.name}"
      = truncate(company.industry.name, length: 16) rescue "&nbsp;".html_safe
    .company_info-featured
      .card-img-top
        .score-graph.score-graph--tile.mx-auto.mb-3
          = inline_svg('score_graph_featured-company.svg', data: {score: company_profile.total_diversity_score})
          .score-graph__value-wrapper.company-tile-svg
            .score-graph__logo
              = company.logo_extra_small
      .company_info-values.mt-2
        .card-title.mx-3
          .paragraph-small 
            .label.label-scores Scores:
            | Gender
          h6 = number_to_percentage(company_profile.total_diversity_score, precision: 0) || '0%'
        .card-title
          .paragraph-small Ethnicity
          .label.label-extra-small 
            span.span-value = company.languages_count 
            span  Languages
          .label.label-extra-small 
            span.span-value = company.nationalities_count 
            span  Nationalities
  - if company.posted_recently?
    .recently-posts
      .label.label-scores New activity:
      .recently-flex
        span.fa.fa-comment-o 
        .paragraph-small Posted recently
  .company_info-actions.pb-3.horizontal-border.horizontal-border-top
    div.show-profile
      = link_to 'Show profile', user_logged_company_path(company), class: 'btn btn-link'
      i.fa.fa-arrow-right
