.card.wall__container_search
  .container.py-4.px-3
    = simple_form_for @company_search_simple, url: post_create_company_searches_path, html: {class: 'form-inline'}, method: :post do |f|
      = f.input :name, label: false,  wrapper: :vertical_input_group, wrapper_html: {class: 'w-100'}
        = f.input_field :name, class: 'form-control w-400px form-control--dark form-control--bright', placeholder: 'Search company...'
        .input-group-btn
          = f.button :button, class: 'button btn btn-primary btn--circle btn--dark btn--bright' do
            i.fa.fa-search
    .text-center
      p.white.pt-4= link_to 'See all companies featured on GoGetty', company_searches_path
