.card.pb-4.pt-3.mb-3.wall-header
  .container
    .row.align-items-end.no-gutters
      .col-lg-9 
        .paragraph.pb-2 Welcome back to GoGetty.co
        h1 Latest news and articles
      .col-lg-3
        .my-3
          = current_user.decorate.avatar
        .text-center
        .paragraph.paragarph-user-details = current_user.full_name
        .label= current_user.decorate.company_title
