.container
  .row.pt-2.no-gutters
    .col-lg-3.hidden-md-down
      .card.card-border
        h6.p-3.horizontal-border Featured companies
        = render(partial: 'company_tile_wall',
                  collection: @featured.first(3),
                  as: :company) || '<div class="p-3"> No companies found. </div>'.html_safe
      .center-btn
        button.btn.btn-primary.btn-square.my-4 = link_to 'BROWSE ALL COMPANIES', company_searches_path
    == render 'show_stream'
    .col-12.hidden-lg-up
      .card.card-border
        h6.p-3.horizontal-border Featured companies
        = render(partial: 'company_tile_wall',
                  collection: @featured.first(3),
                  as: :company) || '<div class="p-3"> No companies found. </div>'.html_safe
      .center-btn
        button.btn.btn-primary.btn-square.my-4 = link_to 'BROWSE ALL COMPANIES', company_searches_path
    .col-lg-3
      .card.card-border.mb-4
        h6.p-3.horizontal-border Companies you follow
        = render(partial: 'company_stats',
                collection: @followed,
                as: :company) || '<div class="p-3"> No companies found. </div>'.html_safe
      .center-btn#show-list-btn
        button.btn.btn-primary.my-4.btn-square#show-full-list SHOW FULL LIST  