.container-fluid.about
  .container.about-container
    .row 
      .col-xl-5.col-lg-4.my-auto
        .pb-4
          h1.my-3 About us
          .paragraph.my-4 Diversity means better financial results, more innovative ideas, more satisfied customers and employees, who stay longer.
          .flex-display
            a href="#why"
              button.btn.btn-primary.btn--circle.btn--dark.btn-square WHY GOGETTY
            .paragraph-link.the-team.mx-3 
              a href="#team" The Team 
            i.fa.fa-arrow-right
      .col-lg-7
.container-fluid.background-light.about-content#why
  .container.background-white-about.container-space
    .row
      .col-lg-5 
        h3.my-2 Why GoGetty
        .paragraph-large
          | GoGetty is built on the vision that we can strengthen the push for diversity and inclusion in companies, as well as the society as a whole through digitisation and by making data on diversity and inclusion easily accessible to both talents, authorities and companies.
      .col-lg-1
      .col-lg-6.my-auto.pt-2
        .paragraph We aim to become the go-to diversity platform not only in Denmark, but globally. Data speaks volumes and makes it easy for everybody to determinate, whether there is action behind the words and progress on the journey towards more diversity and inclusion. Even more importantly, it makes it so much easier for you as a talent to make the right choice, when looking for a new employer. Diverse talents and companies all around the world need each other to grow and succeed.
.container-fluid.background-white-about.about-content
  .container
    .row 
      .col
        h5.mt-5.mb-3.pt-4 How it works
    .row
      .col-lg-5 
        .paragraph
          | GoGetty is an employer branding and diversity platform that makes diversity and inclusion measurable and transparent. Our goal is to bring innovative companies and diverse talents together. In its core, GoGetty is based on diversity scores given to each featured company. We currently offer scores for gender and ethnicity.
        .paragraph
          <br><br>
          strong Share your data and gain credibility
          <br>
          | The GoGetty gender diversity score represents the average percentage of women and men in top management – showing current status as well as the company’s goals for the future. An ideal GoGetty gender diversity score equals 50%. The more ambitious goals, the higher the score. 
          <br><br>
          | Through GoGetty’s unique ethnicity score, companies are also invited to share data on nationalities employed and languages spoken in their organisations. This little information can say a lot about how inclusive companies are towards different ethnicities.
        / ul.styled-list.py-3
        /   li 
        /     i.fa.fa-check-circle-o 
        /     span Board of Directors 
        /   li 
        /     i.fa.fa-check-circle-o 
        /     span CxO level
        /   li 
        /     i.fa.fa-check-circle-o 
        /     span VP level
        /   li 
        /     i.fa.fa-check-circle-o 
        /     span Middle management
      .col-lg-1
      .col-lg-6
        .paragraph
          strong Be part of a journey towards more diversity and inclusion
          <br>
          | Essentially, GoGetty is a one-stop diversity community, where career minded, ambitious and skilled women and men can easily find employers they identify themselves with.
          <br><br>
          strong Use your diversity efforts strategically
          <br>
          | Share your company’s ambitious goals and current diversity & inclusion policies. Use GoGetty actively in your strategic employer branding and recruitment work,but also as a valuable 
          span.link-item = link_to 'benchmarking tool', company_searches_path, class: '' 
          ' .
          <br><br>
          strong Find a diversity and inclusion expert
          <br>
          | Go to 
          span.link-item = link_to 'Our Solutions', page_path('solutions/companies'), class: ''  
          '  and find a solution partner for your specific diversity challenge.
        div.my-5.triple-logos-flex
          = link_to 'https://www.youtube.com/watch?v=SZcyUqpFQws'
            = image_tag('impact.png', class: 'triple-logos-links triple-logos-left')
          = image_tag('gogetty.png', class: 'triple-logos')
          = link_to 'https://ivaekst.dk/ivaekstprisen/ivaekstprisen-2017-de-nominerede'
            = image_tag('ivaekst.png', class: 'triple-logos-links triple-logos-right')
.container-fluid.background-lighter.about-content#team
  .container 
    .row.py-5
      .col-lg-5.my-auto
        h1.my-3 The Team
        .paragraph.my-4
          | GoGetty is a Danish start-up run by the two boss ladies, CEO and Founder Ewelina Reszke and Co-founder Helene Aagaard.
      .col-lg-1
      .col-lg-6
          = image_tag('team.png', class: 'team-photo')
    .row.mb-4.pt-4
      .col-lg-5 
        .py-5
          h4 Ewelina
          .paragraph-large-gray.mb-3.mt-2 Founder
          .paragraph
            | Ewelina founded GoGetty in 2016, as she saw an opportunity for companies to secure growth by attracting a more diverse pool of talents. She is a commercial engineer by profession and an experienced sales and business development executive – with companies such as: FLSmidth, Ramboll, Milestone Systems and ConWX on her CV. 
            <br><br>
            | Whenever given the opportunity, Ewelina can be seen climbing remote mountain tops, or drinking her favourite soy latte and people-watching at a big city cafe, together with her husband, Michael.
          .social-media.pb-4.pt-4
            = link_to 'https://www.linkedin.com/in/ewelinareszke/', target: '_blank' do
              i.fa.fa-linkedin aria-hidden="true"
      .col-lg-1
      .col-lg-6
          = image_tag('photo-ewelina.png', class: 'person-photo')
    .row
      .col-lg-6
          = image_tag('photo-helene.png', class: 'person-photo')
      .col-lg-6 
        .py-5
          h4 Helene
          .paragraph-large-gray.mb-3.mt-2 Co-founder
          .paragraph
            | Helene joined GoGetty as Co-founder in November 2018 with many years of experience within Communication, PR and branding from companies like A.P. Moller - Maersk and DONG Energy (now Ørsted). 
            <br><br>
            | When not dabbling with gender equality, you can find Helene in Vesterbro walking her French bulldog, Batman alongside her son Isaac and husband Frej or at the nearest wine bar sipping Brunello from her favourite vineyard in Italy.
          .social-media.pb-4.pt-4
            = link_to 'https://www.linkedin.com/in/heleneaagaard/', target: '_blank' do
              i.fa.fa-linkedin aria-hidden="true"
.container-fluid.background-white-about.about-content
  .container
    .row
      .col-lg-12.mx-auto
        h5.p-5.paragraph-center Watch a quick video from us
    .row
      .col-lg-8.paragraph-center.pb-2.offset-lg-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item allowfullscreen="" src="https://www.youtube.com/embed/SZcyUqpFQws" frameborder="0" 
    .row 
      .col-lg-12.paragraph-center
        h2.mt-5.mb-4 Contact Us Today!
        .paragraph.content-text-summary.my-4 We are to help with your journey towards more diveristy and inclusion. So reach out - your information is secure and encrypted. 
        form.content-text-summary.mt-3.mb-5.pb-3
          .form-group
            input.form-control aria-describedby="emailHelp" placeholder=("Enter Your email-adress") type="email"
            button.btn.btn-primary.btn-square.mt-3.ml-2 type="submit" SEND
