.header
  .header__wrapper
    .container
      .header__content.row.justify-content-start.align-items-center
        .col-12.col-lg-5.text-center
          h1
            | It’s all about Diversity
          .lead.mt-4.mb-5 The only diversity community bringing Talents and Companies together
          p
            - unless user_signed_in?
              = link_to 'Tjek Diversity Scores her', page_path('signup_types'), class: 'btn btn-lg btn-primary'
              br
              br
              - if policy(:users).platform_admin?
                = link_to 'Users:', user_logged_platform_settings_users_path
                = User.count
                |  registered

          = image_tag 'macbook_full.png', class: 'img-fluid d-block hidden-lg-up'
section.py-5.bg-white#scrollto
  .container
    .row.justify-content-center
      .col-12.col-lg-8
        h3.my-5.text-center GoGetty er den eneste employer branding, karriere- og diversitetsplatform i Danmark som gør diversitet og inklusion, D&I, målbart og transparent.
    .row.justify-content-center
      .col-12.col-lg-8
        h3.my-5.text-center Vi bringer innovative virksomheder, mangfoldige talenter og D&I partnere tættere sammen.
    .row.justify-content-center
      .col-12.col-lg-8
        h2.text-center.my-5
          | Blive en del af GoGetty som
          .mt-4
            .dropdown.dropdown--popover.d-inline-block
              button.btn-link data-toggle="dropdown"
                .dropdown.dropdown--popover__label
                  ' COMPANY
                  i.fa.fa-angle-down
              .dropdown-menu
                = link_to 'TALENTS', page_path('talents', anchor: 'scrollto'), class: 'dropdown-item p-3'
                = link_to 'COMPANIES', page_path('companies', anchor: 'scrollto'), class: 'dropdown-item mb-1 p-3'

    .row
      .col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-3
        .card.card--landing.border-0
          .card-block
            = image_tag 'icons/stats.svg', class: 'd-block mx-auto mb-4 h-150px'
            .card-title Del din virksomheds diversitetstal
            .card-text GoGetty gør kønsdiversitet, og snart også andre diversitetsparametre, i topledelsen synligt og målbart.
            .card-text Skab 100% gennemsigtighed på din rejse mod større mangfoldighed
      .col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-3
        .card.card--landing.border-0
          .card-block
            = image_tag 'icons/compare.svg', class: 'd-block mx-auto mb-4 h-150px'
            .card-title Benchmark jeres diversitetstal
            .card-text Benchmark og sammenlign jeres diversitetstal med andre virksomheder i Danmark.
            .card-text Find ud af hvor godt I klarer jer og lær fra de bedste.
      .col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-3
        .card.card--landing.border-0
          .card-block
            = image_tag 'icons/target.svg', class: 'd-block mx-auto mb-4 h-150px'
            .card-title Tag de rigtige beslutninger
            .card-text GoGetty gør det muligt for mangfoldige talenter og virksomheder at finde hinanden.
            .card-text Brug dine diversitetstal som en del af din virksomheds employer brand
      .col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-3
        .card.card--landing.border-0
          .card-block
            = image_tag 'icons/excel.svg', class: 'd-block mx-auto mb-4 h-150px'
            .card-title Brug diversitet til at vækste
            .card-text Høst alle fordele ved en mangfoldig arbejdsstyrke og gør nytte af hele talentpuljen i Danmark.
            .card-text Tiltræk og hold på mangfoldige talenter

section.bg-picture.py-5.section--join-gogetty
  .container
    .my-5
      .row.panel--working
        .col-12.col-lg-5.bg--working
        .col-12.col-lg-7.p-5.justify-content-start.align-content-center
          h4 Hvorfor mangfoldighed i topledelsen gør en forskel
          ul.mt-3
            li Virksomheder med den højeste diversitet i topledelsen tjener 12,6% mere (*)
            li Mangfoldige teams betyder langt mere innovative og kunde-orienterede organisationer
            li Kønsbalance giver også flere perspektiver og en mere fuldstændig forståelse af globale og mangfoldige markeds- og kundesegmenter
            li Mangfoldige organisationer har meget bedre forudsætninger for at løse komplekse udfordringer og have success med nye idéer i en til stadighed mere konkurrencepræget verden
          p
            | (*) ISS & proacteur, "Mangfoldig ledelse giver højere indtjening"
          .text-center.text-lg-left
            = link_to 'Tjek Diversity Scores her', page_path('signup_types'), class: 'btn btn-lg btn--gg-primary'

    .faq.py-5
      h2.mt-4.mb-5.text-center Hvordan kan GoGetty hjælpe din virksomhed med at vækste gennem diversitet
      .row.justify-content-start
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Få mest muligt ud af dine mangfoldighedsinitiativer
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Tiltræk nye, mangfoldige talenter
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Udvikl din talent- og ledelsespipeline
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Benchmark din virksomhed og lær fra de bedste
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Øg din konkurrenceevne i den globale verden
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Bliv bedre til at forstå dine kunder, deres forretning og kultur
section.section--how-works.py-5
  .container
    .text-center
      h2 Hvordan fungerer GoGetty for virksomheder
  .bg--arrow.py-5.my-5
    .container
      .row.justify-content-center
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Registrer dig og din virksomhed
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Vælg Diverse Business abonnement til virksomheder
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Opdater din virksomhedsprofil ved at tilføje information om diversitet i din organisation.
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Benchmark og sammenlign med andre virksomheder i Danmark
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Opbyg et employer brand, der er med til at tiltrække mangfoldige talenter
  .container
    .text-center
      = link_to 'Tjek Diversity Scores her', page_path('signup_types'), class: 'btn btn-lg btn--gg-primary'