.header
  .header__wrapper
    .container
      .header__content.row.justify-content-start.align-items-center
        .col-12.col-lg-5.text-center
          h1
            | It’s all about Diversity
          .lead.mt-4.mb-5 The only diversity community bringing Talents and Companies together
          p
            - unless user_signed_in?
              /! = link_to 'Check Diversity Scores here', page_path('signup_types'), class: 'btn btn-lg btn-primary'
              = link_to 'Check Diversity Scores here', page_path('signup_modes'), class: 'btn btn-lg btn-primary'
              br
              br
              - if policy(:users).platform_admin?
                = link_to 'Users:', user_logged_platform_settings_users_path
                = User.count
                |  registered

          = image_tag 'macbook_full.png', class: 'img-fluid d-block hidden-lg-up'
section.py-5.bg-white#scrollto
  .container
    .row.justify-content-center
      .col-12.col-lg-8
        h3.my-5.text-center GoGetty is the only employer branding, career and diversity platform that makes Diversity and Inclusion, D&I, measurable and transparent.
    .row.justify-content-center
      .col-12.col-lg-8
        h3.my-5.text-center We bring innovative companies, diverse talents and D&I partners together.
    .row.justify-content-center
      .col-12.col-lg-8
        h2.text-center.my-5
          | Join GoGetty as a
          .mt-4
            .dropdown.dropdown--popover.d-inline-block
              button.btn-link data-toggle="dropdown"
                .dropdown.dropdown--popover__label
                  ' COMPANY
                  i.fa.fa-angle-down
              .dropdown-menu
                = link_to 'TALENTS', page_path('talents', anchor: 'scrollto'), class: 'dropdown-item p-3'
                = link_to 'COMPANIES', page_path('companies', anchor: 'scrollto'), class: 'dropdown-item mb-1 p-3'

    .row
      .col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-3
        .card.card--landing.border-0
          .card-block
            = image_tag 'icons/stats.svg', class: 'd-block mx-auto mb-4 h-150px'
            .card-title Share your company’s diversity facts
            .card-text GoGetty makes gender and soon also other diversity parameters in Top Management in Denmark visible and hence measurable.
            .card-text Be 100% transparent on your diversity journey
      .col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-3
        .card.card--landing.border-0
          .card-block
            = image_tag 'icons/compare.svg', class: 'd-block mx-auto mb-4 h-150px'
            .card-title Benchmark your gender statistics
            .card-text Compare and benchmark your diversity numbers with other companies in Denmark.
            .card-text Find out where you stand, learn from the best and continue to improve.
      .col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-3
        .card.card--landing.border-0
          .card-block
            = image_tag 'icons/target.svg', class: 'd-block mx-auto mb-4 h-150px'
            .card-title Take informed decisions
            .card-text GoGetty enables ambitious and highly qualified women, and other diverse talents, as well as companies to find each other.
            .card-text Use your diversity facts as part of your Company’s employer brand.
      .col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-3
        .card.card--landing.border-0
          .card-block
            = image_tag 'icons/excel.svg', class: 'd-block mx-auto mb-4 h-150px'
            .card-title Grow your revenue
            .card-text Fully reap the benefits of a diverse workforce and tap into a rich pool of diverse talents.
            .card-text Attract and retain them!

section.bg-picture.py-5.section--join-gogetty
  .container
    .my-5
      .row.panel--working
        .col-12.col-lg-5.bg--working
        .col-12.col-lg-7.p-5.justify-content-start.align-content-center
          h4 Why Diversity in Top Management Matters
          ul.mt-3
            li Companies with the highest diversity in Top Management enjoy 12,6% higher profits (*)
            li Diverse management teams equal significantly higher innovation and more customer oriented organizations
            li Gender equality means more perspectives and a fuller understanding of global diverse market segments and your customer
            li Diverse organisations have much better chances of solving complex problems and succeed with new ideas in an increasingly more competitive world
          p
            | (*) In Danish only: ISS & proacteur, "Mangfoldig ledelse giver højere indtjening"
          .text-center.text-lg-left
            = link_to 'Check Diversity Scores here', page_path('signup_modes'), class: 'btn btn-lg btn--gg-primary'
    .faq.py-5
      h2.mt-4.mb-5.text-center How GoGetty can help your Company excel through diversity
      .row.justify-content-start
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Make your diversity initiatives work for you
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Attract and retain new, diverse talents
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Grow your talent and management pipeline
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Benchmark your company and learn from the best
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Improve your competitive edge in a global world
        .col-12.col-sm-6.col-md-4.col-lg.pb-5
          .faq__answer Increase your understanding of  your customer, their business and culture
section.section--how-works.py-5
  .container
    .text-center
      h2 How GoGetty Works for you as a Company
  .bg--arrow.py-5.my-5
    .container
      .row.justify-content-center
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Register you and your company
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Choose Diverse Business subscription plan
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Update your company profile, by adding diversity and inclusion data about your organisation
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Benchmark and compare with other companies in Denmark
        .col-12.col-lg
          .card.card--landing.justify-content-center.align-content-center.m-2
            .text-center Build an employer brand that helps you attract diverse Talents
  .container
    .text-center
      = link_to 'Check Diversity Scores here', page_path('signup_modes'), class: 'btn btn-lg btn--gg-primary'
