.container
  .row
    .col-12.text-center
      h1.signup.text-center.mb-3
        | JOIN GOGETTY!
        br
        | SIGN UP
  .row
    .col-12.text-center.mb-5
      = image_tag 'icons/progress_1.svg', class: 'align-self-center'
  .row.justify-content-center
    .col-lg-8
      .card-deck
        .card.card--signup-types.text-center.mb-4
          = link_to page_path('signup_modes') do
            .card-header
              .card-title FOR TALENTS
            .card-block
              .card-text
                | GoGetty is one stop for reaching your career goals
            .card-block
              = image_tag 'icons/for_clients.svg', class: 'align-self-center'
            .card-block
              .card-subtitle GoGetty is one stop for reaching your career goals
            .card-block
              .card-text Find and follow companies based on their diversity score, who will take your ambitions seriously
            .card-footer
              = link_to 'Join GoGetty today', page_path('signup_modes'), class: 'btn btn-lg btn-primary card-link mt-2'
        .card.card--signup-types.text-center.mb-4
          = link_to page_path('signup_modes'), class: 'right' do
            .card-header
              .card-title FOR COMPANIES
            .card-block
              .card-text
                | Use GoGetty to attract talents and grow your leadership pipeline
            .card-block
              = image_tag 'icons/for_companies.svg', class: 'card-img-top align-self-center'
            .card-block
              .card-subtitle Benchmark. Attract. Grow.
            .card-block
              .card-text Use GoGetty to attract talents and grow your leadership pipeline
            .card-footer
              = link_to 'Join GoGetty today', page_path('signup_modes'), class: 'btn btn-lg btn-primary card-link mt-2'
  .row.justify-content-center.mt-3
    .col-12
      .text-center
        = link_to 'Alredy registered? Sign in', new_user_session_path, class: 'btn btn-link btn-block signup'
