.container.bg-white
  .row.justify-content-center.mb-10
    table.table.table-responsive
      tr
        th width="40%"
          | Companies Subscriptions
        th
          | Diverse Business
        th
          | Diverse Business Plus
        th width="20%"
      tr
        td
          | Keep your company’s current Diversity & Inclusion (D&I) KPI’s up to date
          br
          br
          ul
            li Ratio of women/men on the Board of Directors
            li Ratio of women/men on CxO level
            li Ratio of women/men on VP/General Manager level
          | (your Company’s current D&I KPI’s are part of your Company’s Diversity Score)
        td √
        td √
        td rowspan='26'
          .text-center
            = image_tag 'icons/measure_compare.svg', class: 'align-self-center'
          h5
            | Measure and compare your Diversity & Inclusion
          | Give Talents a quick overview of how Diverse your Company’s Top Management is. Update your Company Profile with Diversity Status Facts.
          br
          br
          .text-center
            = image_tag 'icons/attract_talents.svg', class: 'align-self-center'
          h5
            | Attract Talents
          | The better your Diversity Score the more Talents will follow your Company. They will see your Company as progressive and modern; hence a perfect place to work.
          br
          br
          .text-center
            = image_tag 'icons/show_your_diversity.svg', class: 'align-self-center'
          h5
            | Show your Diversity Ambitions
          | Let Talents know that you will work with Diversity also in the future. Update your Company Profile with Diversity Goals.
      tr
        td Update Goals for your Diversity & Inclusion KPI’s for the next 12 months
        td √
        td √
      tr
        td Post Updates related to Diversity & Inclusion initiatives in your Company
        td √
        td √
      tr
        td
          | Share your Company’s Diversity & Inclusion friendly policies:
          br
          br
          ul
            li Parenthood (paternity/maternity leave)
            li General work-life balance
            li Equal pay
            li Upgrading qualifications after returning from parental leave
            li Child sick day
            li Other
        td
        td √
      tr
        td Post Job Adds
        td
        td √
      tr
        td View and contact Talents who follow your Company
        td
        td √
      tr
        td Display your Diversity Score on your onlineplatforms
        td
        td √
      tr
        td
        td= link_to 'Get Business!', new_subscription_path, class: 'btn btn-primary'
        td= link_to 'Coming soon!', '#', class: 'btn btn-secondary'
      tr
        td colspan='4'
          | &nbsp;
      tr
        th Talents Subscriptions
        th Talent Free
        th Talent Pro
        th
      tr
        td Search for Companies with Diversity & Inclusion on the agenda
        td √
        td √
      tr
        td View Companies latest added to GoGetty
        td √
        td √
      tr
        td
          | Search for Companies with a given:
          br
          br
          ul
            li Diversity Score
            li Diversity & Inclusion current KPI’s
            li Diverstity & Inclusion KPI Goals
            li Industry
        td √
        td √
      tr
        td View all Diversity & Inclusion KPIs a Company’s Diversity Score is based on
        td √
        td √
      tr
        td Send an anonymous request to your own employer asking for
        td √
        td √
      tr
        td Diversity & Inclusion Facts and Goals
        td √
        td √
      tr
        td Request any Company to post more Dversity & Inclusion information
        td √
        td √
      tr
        td Follow companies with diversity & inclusion on the agenda
        td √
        td √
      tr
        td View other Talents and who they follow
        td
        td √
      tr
        td Write anonymous reviews of Companies (coming soon)
        td √
        td √
      tr
        td View everyone who visited your GoGetty Talent Profile
        td
        td √
      tr
        td Tell your friends about interesting Diversity & Inclusion friendly Companies (FB, Linkedin, MSN)
        td √
        td √
      tr
        td Be seen and contacted by Companies you are following
        td
        td √
      tr
        td
        td= link_to 'Get Talent Free!', new_subscription_path, class: 'btn btn-primary'
        td= link_to 'Coming soon!', '#', class: 'btn btn-secondary'
