.talents
  .header
    .container-fluid.header-img
      .container
        .row
          .col 
            = link_to root_path, class: 'navbar-brand'
              = image_tag('logo.svg', class: 'w-100px')
      .container.container-fluid-content 
        .header__content.row
          .col-lg-6
            h1
              | Check your employer's diversity scores for free
            .lead.mt-5.mb-4 We believe that diversity on all organizational levels is utilizing available talent to the fullest.
            .flex-display
              = link_to 'REGISTER', new_user_registration_path, class: 'btn btn-primary btn--circle btn--dark btn-square'
              = link_to 'Log In', new_user_session_path, class: 'paragraph-link the-team mx-3 ml-4'
              i.fa.fa-arrow-right
            = image_tag 'macbook_full.png', class: 'img-fluid d-block hidden-lg-up mt-3 img-fluid-macbook'
          .col-lg-6
