.container
 .row
  .col-12
    h1
      | It's all about diversity
    .lead.mt-4.mb-5 The only diversity community bringing Talents and Companies together

    p
      - unless user_signed_in?
        = link_to 'Register now', page_path('signup_types'), class: 'btn btn-lg btn-primary'
        br
        br
      - if policy(:users).platform_admin?
        = link_to 'Users:', user_logged_platform_settings_users_path
        = User.count
        |  registered
