doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 Hello,
    p
      ' There is new request to administrate your company
      = "#{@company.name} on GoGetty send by #{@user.name} #{@user.surname}."
      ' To accept this request please visit
      = link_to 'this link', @url
      | .
    p Thanks for joining and have a great day!
