doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 Welcome to GoGetty,
    p
      ' Your admin request to administrate company profile
      = "for #{@company.name} was revoked."
    p Thanks for joining and have a great day!
