| Hello,
' There is new request to administrate your company
= "#{@company.name} on GoGetty send by #{@user.name} #{@user.surname}."
= "To accept this request please visit this link: #{@url}"
| Thanks for joining and have a great day!
