doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 Welcome to GoGetty,
    p
      ' You have been invited to administrate company profile
      = "for #{@company.name}."
    p
      ' To accept invitation just follow
      = link_to 'this link', @url
      | .
    p Thanks for joining and have a great day!
