doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 Hello,
    p
      ' Invitation to administrate company profile was accepted by
      = "#{@user.name} #{@user.surname}"
    p Thanks for joining and have a great day!
