| Welcome to GoGetty,
| 
= "You have been invited to administrate company profile for #{@company.name}."
= "To accept invitation just follow this link: #{@url}."
| Thanks for joining and have a great day!
