td
  = link_to company.name, user_logged_platform_settings_company_path(company)
td
td
  / = link_to("Delete company", user_logged_platform_settings_company_path(company), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs')
