.row.justify-content-center.mb-4
  = simple_form_for @company, url: @url do |f|
    = f.input :logo, as: :file
    = f.input :remove_logo, as: :boolean
    = f.input :name, autofocus: true
    = f.input :industry_id, collection: options_for_industry
    = f.input :website
    = f.input :employees_count_id, collection: options_for_employees_count
    = f.input :city
    = f.input :founded_year
    = f.input :owner_type_id, collection: options_for_owner_type
    = f.button :submit, 'Submit', class: 'button right'
