== render layout: 'user_logged/platform_settings/layout' do
  .row.justify-content-center.mb-4
    = "Edition of company '#{@company.name}'"
  .row.justify-content-center.mb-4
    = image_tag ActionController::Base.helpers.image_url(@company.logo) rescue image_tag('http://via.placeholder.com/95x95')
  .row.justify-content-center.mb-4
    = simple_form_for @company, url: user_logged_platform_settings_company_path do |f|
      == render partial: '/user_logged/company_settings/form', locals: {f: f}
