== render layout: 'user_logged/platform_settings/layout' do
  = link_to 'Add company', new_user_logged_platform_settings_company_path

  .pull-right
    = link_to 'Download as CSV with history', user_logged_platform_settings_companies_path(format: :csv, with_history: 'true')
    br
    = link_to 'Download as CSV without history', user_logged_platform_settings_companies_path(format: :csv)
  = paginate @companies
  table.table.table-responsive
    tr
      th Name
      th Editors
      th Admins
      th Actions
    - @companies.decorate.each do |company|
      tr
        td= link_to company.name, user_logged_company_path(company)
        td
          = "All: #{company.editors_all}"
          br
          = "Active: #{company.editors_active}"
        td
          = "All: #{company.admins_all}"
          br
          = "Active: #{company.admins_active}"
        td
          = link_to 'Edit', edit_user_logged_platform_settings_company_path(company)
          br
          = link_to 'Show details', user_logged_platform_settings_company_path(company)
          br
          = link_to('Delete company', user_logged_platform_settings_company_path(company), data: { confirm: "Are you sure? Operation is not reversible!" }, method: :delete, class: 'button-xs')
  = paginate @companies
