== render layout: 'user_logged/platform_settings/layout' do
  .row.justify-content-center.mb-4
    | Adding new company
  .row.justify-content-center.mb-4
    = simple_form_for @company, url: user_logged_platform_settings_companies_path, method: :post do |f|
        = f.input :name
        = f.button :submit, 'Create company'
