== render layout: 'user_logged/platform_settings/layout' do
  .container
    .row.justify-content-center.mb-4
      | Remember that this has to be consistent with plans configured in Stripe!
    .row.justify-content-center.mb-4
      = simple_form_for @plan, url: user_logged_platform_settings_plan_path do |f|
        = f.input :monthly_cost, label: 'Monthly cost (in cents)'
        = f.input :monthly_stripe_name
        = f.input :annual_cost, label: 'Monthly cost (in cents)'
        = f.input :annual_stripe_name
        = f.input :tax, label: 'Tax (%)'
        = f.button :submit, 'Update plan', class: 'button right'
