== render layout: 'user_logged/platform_settings/layout' do
  table.table.table-responsive
    tr
      th Name
      th Monthly cost
      th Monthly stripe name
      th Annual cost
      th Annual stripe name
      th Tax
      th Actions
    - @plans.each do |plan|
      tr
        td= plan.name
        td= plan.monthly_cost
        td= plan.monthly_stripe_name
        td= plan.annual_cost
        td= plan.annual_stripe_name
        td= plan.tax
        td
          - unless plan.monthly_cost_null
            = link_to 'Edit', edit_user_logged_platform_settings_plan_path(plan.id)
