.subscriptions.charges-completed
  .container
    .row
      .mx-auto.my-5
        i.fa.fa-check aria-hidden="true"
    .row
      .col-8.mx-auto
        h1= "Your plan has been successfully changed to #{@plan_name}"
  .subscriptions_footer
    .container
      .row
      - if current_user.company_id
        .btn.btn-default.btn-primary.btn-block.my-5.take-me-back-btn= link_to 'TAKE ME BACK TO MY COMPANY', user_logged_company_path(current_user.company)
      - elsif @company_id.present?
        = simple_form_for @become_admin_form,
                          url: user_logged_become_admin_path(@company_id),
                          method: :get do |f|
          = f.hidden_field :acceptance, value: 1
          - if current_user.name.nil? || current_user.surname.nil?
            .row.mt-3.pt-2
              .col-8.mx-auto.text-centered Before you can start editing Your company's profile, please update user settings.
            = f.button :submit, 'TAKE ME TO MY PROFILE', class: 'btn-primary btn-block my-5 take-me-back-btn'
          - else
            = f.button :submit, 'TAKE ME BACK TO MY COMPANY', class: 'btn-primary btn-block my-5 take-me-back-btn'
      - else
        button.btn.btn-default.btn-primary.btn-block.my-5 = link_to 'BACK TO HOME', user_logged_walls_path

