.subscriptions.charges-new
  = form_tag user_logged_charges_path do |f|
    = hidden_field_tag(:become_admin_company_id, @become_admin_company_id)
    .subscriptions_header.subscriptions_header-confirm
      .container
        - if flash[:error].present?
          #error_explanation
            p= flash[:error]
        .row 
          .col.col-md-6.col-xs-12.col-sm-8.justify-content-center.mx-auto.py-5
            h1.pb-4= @plan.name
            .paragraph-small Your information is secure.
        .row
          .mx-auto.pb-5.flex-header
            h1.mr-4= "#{@billing.payment_amount_to_charge} + #{@billing.plan.tax}% VAT (#{@billing.cost} total)"
    .subscriptions_body.subscriptions_body-confirm
      .container 
        .row
          .col.py-4.align-stripe
            script.stripe-button[data-amount="#{session[:payment_amount_to_charge]}"
              data-description=("A month's subscription")
              data-key="#{Rails.configuration.stripe[:publishable_key]}"
              data-locale="english"
              data-currency="dkk"
              src="https://checkout.stripe.com/checkout.js"]
        .subscriptions_body-details.mt-5
          .subscriptions_body-details-tile.horizontal-border.horizontal-border-top
            .subscriptions_body-details-tile-item
              | View Company Profiles
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Follow Companies
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Like and comment on Companies posts
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Request Adding Companies
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Request more information on Companies Scores, Policies and Goals
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Diversity benchmarks by Industry, Country, Company size and Diversity Score
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Access Diversity Solution Providers
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Company Profile Administration
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Diversity score & dashboard
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Ethnicity score & dashboard
              .new-label
                i.fa.fa-heart-o aria-hidden="true" 
                | NEW
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.inclusive_business_icon}")
    .subscriptions_footer
      .container
        .row
          .col.py-4.align-stripe
            script.stripe-button[data-amount="#{session[:payment_amount_to_charge]}"
              data-description=("A month's subscription")
              data-key="#{Rails.configuration.stripe[:publishable_key]}"
              data-locale="english"
              data-currency="dkk"
              src="https://checkout.stripe.com/checkout.js"]
