= link_to  page_path('solutions/partners')
  .solutions-card.py-5.my-2
    = image_tag 'for-solution-partners.svg', class: 'my-4'
    h4 For solution partners
    .paragraph Become the preferred diversity and inclusion Solution Partner