= link_to  page_path('solutions/companies')
  .solutions-card.py-5.my-2
    = image_tag 'for-companies.svg', class: 'my-4'
    h4 For companies
    .paragraph Join GoGetty as a Company and grow your revenue
  