.solutions__menu_content.solutions__menu_content--selected.solutions__menu_content--whole_link
  div.float-right
    = image_tag('logos/logo_axiom.png', size:'51x32')
  div.float-none
    h4= link_to 'Axiom', '#company-1', class: 'animateScroll'

.solutions__menu_content.solutions__menu_content--selected.solutions__menu_content--whole_link
  div.float-right
    = image_tag('logos/logo_ontheagenda.png', size: '80x26')
  div.float-none
    h4= link_to 'On The Agenda', '#company-2', class: 'animateScroll'

.solutions__menu_content.solutions__menu_content--selected.solutions__menu_content--whole_link
  div.float-right
    = image_tag('logos/logo_ibb.svg', size: '51x23')
  div.float-none
    h4= link_to 'Inspired Beyond Babies', '#company-3', class: 'animateScroll'

.solutions__menu_content.solutions__menu_content--selected.solutions__menu_content--whole_link
  div.float-right
    = image_tag('logos/logo_potential.png', size: '49x9')
  div.float-none
    h4= link_to 'Potential Company', '#company-4', class: 'animateScroll'

.solutions__menu_content.solutions__menu_content--selected.solutions__menu_content--whole_link
  div.float-right
    = image_tag('logos/logo_engaged.png', size: '50x35')
  div.float-none
    h4= link_to 'Engaged Leadership', '#company-5', class: 'animateScroll'

.solutions__menu_content.solutions__menu_content--selected.solutions__menu_content--whole_link
  div.float-right
    = image_tag('logos/logo_introdus.png', size: '45x30')
  div.float-none
    h4= link_to 'introDus', '#company-6', class: 'animateScroll'

.solutions__menu_content.solutions__menu_content--selected.solutions__menu_content--whole_link
  div.float-right
    = image_tag('logos/logo_girls.png', size: '60x40')
  div.float-none
    h4= link_to 'Girls are Awesome', '#company-7', class: 'animateScroll'
