#solutions_more_info.modal.fade aria-hidden="true" aria-labelledby="solutions_more_info_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/modal_solution_1.svg')
          #how_this_works_add_company_label.modal-title.px-5 Please confirm Your request
      .modal-body.px-5
        | And take an important step towards more diversity and inclusion. The GoGetty Team will put you in contact with 
        span id="solutions_more_info__company"
        | .
      .modal-footer
        = simple_form_for :solution_request, url: user_logged_solution_requests_path do |f|
          = f.input :name, as: :hidden
          = f.input :company, as: :hidden
          = f.hidden_field :back_url, value: request.path
          = f.button :submit, 'Confirm', class: "btn btn-secondary", id: 'proceed'