== render 'pages/solutions/partner_request'
.container
  .row
    .col
      h1.my-4 Our Solution Partners
.container.solutions
  .row
    .col-12.col-lg-4.push-lg-8.solutions__menu
      .solutions__menu_header
        h6 Currently provided services:
      .solutions__menu--sticky
        == render 'pages/solutions/menu'
    .col-12.col-lg-8.pull-lg-4.solutions__content
      / TODO: transform this into loop after transfering offers to DB
      .row
        .col-lg-6 
          .solution-card
            == render 'pages/solutions/axiom/partner'
        .col-lg-6
          .solution-card
            == render 'pages/solutions/ontheagenda/partner'
        .col-lg-6
          .solution-card
            == render 'pages/solutions/inspired_beyond_babies/partner'
        .col-lg-6
          .solution-card
            == render 'pages/solutions/engaged_leadership/partner'
        .col-lg-6
         .solution-card
            == render 'pages/solutions/introdus/partner'
        .col-lg-6
          .solution-card
            == render 'pages/solutions/girls/partner'