.solutions-page
  nav.navbar.navbar-light.bg-light.flex-display-row
    = link_to 'For companies', page_path('solutions/companies'), class: 'navbar-brand navbar-brand-active'
    = link_to 'For talents', page_path('solutions/talents'), class: 'navbar-brand'
    = link_to 'For solution partners', page_path('solutions/partners'), class: 'navbar-brand'
  .solutions-header.solutions-companies
    .header-content
      h1 Join GoGetty as a Company and grow your revenue
      .paragraph.my-5.paragraph-gray Diversity means better financial results, more innovative ideas, more satisfied customers and employees, who stay longer.
      = link_to 'TAKE OVER YOUR PROFILE ON GOGETTY', new_user_registration_path, class: 'btn btn-default btn-block btn-transparent'
  .solutions-content
    .container
      .row
        .col-lg-1
        .col-lg-10
          .container
            .row.py-5.my-4
              .col-lg-6
                .mobile-center
                  = image_tag 'for-companies.svg', class: 'my-4'
              .col-lg-6.my-auto
                .flex-display-column.content-column
                  h2 Share your company’s diversity facts
                  .paragraph.mt-3
                    | GoGetty makes gender and soon also other diversity parameters in Top Management in Denmark visible and hence measurable.
                    <br>
                    | Be 100% transparent on your diversity journey
            .row.py-5.my-4
              .col-lg-6.my-auto
                .flex-display-column.content-column
                  h2 Benchmark Your gender statistics
                  .paragraph.mt-3
                    | Compare and benchmark your diversity numbers with other companies in Denmark.
                    <br>
                    | Find out where you stand, learn from the best and continue to improve.
              .col-lg-6
                .flex-display-img
                  = image_tag 'AB.svg', class: 'my-4'
            .row.py-5.my-4
              .col-lg-6
                .mobile-center
                  = image_tag 'arrow.svg', class: 'my-4'
              .col-lg-6.my-auto
                .flex-display-column.content-column
                  h2 Take informed decisions
                  .paragraph.mt-3
                    | GoGetty enables ambitious and highly qualified talents as well as companies to find each other. 
                    <br>
                    | Use your diversity facts as part of your Company’s employer brand.
            .row.py-5.my-4
              .col-lg-6.my-auto
                .flex-display-column.content-column
                  h2 Grow your revenue
                  .paragraph.mt-3
                    | Fully reap the benefits of a diverse workforce and tap into a rich pool of diverse talents. Attract and retain them!
              .col-lg-6
                .flex-display-img
                  = image_tag 'increased-charts.svg', class: 'my-4'
        .solutions-footer
          .container
            .row
              .col-lg-6
                == render "pages/solutions/for_talents_card"
              .col-lg-6
                == render "pages/solutions/for_partners_card"
        .col-lg-1
    == render "pages/solutions/solutions_content" 
    == render 'pages/solutions/more_info'
