= render 'pages/solutions/partner_request' 
.solutions-page
  nav.navbar.navbar-light.bg-light.flex-display-row
    = link_to 'For companies', page_path('solutions/companies'), class: 'navbar-brand'
    = link_to 'For talents', page_path('solutions/talents'), class: 'navbar-brand'
    = link_to 'For solution partners', page_path('solutions/partners'), class: 'navbar-brand navbar-brand-active'
  .solutions-header.solutions-partners
    .header-content
      h1 Become the preferred diversity and inclusion Solution Partner
      .paragraph.my-5.paragraph-gray Diversity means better financial results, more innovative ideas, more satisfied customers and employees, who stay longer.
      = link_to 'BECOME GOGETTY SOLUTION PARTNER', '#', data: {target: '#partner_request', toggle: 'modal'}, class: 'btn btn-default btn-block btn-transparent'
  .solutions-content
    .container
      .row
        .col-lg-1
        .col-lg-10
          .container
            .row.py-5.my-4
              .col-lg-6
                .mobile-center
                  = image_tag 'keyboard-hands.svg', class: 'my-4'
              .col-lg-6.my-auto
                .flex-display-column.content-column
                  h2 Offer your D&I services on the GoGetty diversity platform
                  .paragraph.mt-3
                    | As many of 2,000 Danish companies can today become your customers. Become their preferred solution partner and offer your services
            .row.py-5.my-4
              .col-lg-6.my-auto
                .flex-display-column.content-column
                  h2 Easily find companies who need your help
                  .paragraph.mt-3
                    | GoGetty makes diversity in management visible and hence measurable. Compare diversity numbers, goals and policies between different companies of your interest. Find out where they stand and offer your services, where you can help.
              .col-lg-6
                .flex-display-img
                  = image_tag 'group.svg', class: 'my-4'
            .row.py-5.my-4
              .col-lg-6
                .mobile-center
                  = image_tag 'garland.svg', class: 'my-4'
              .col-lg-6.my-auto
                .flex-display-column.content-column
                  h2 Learn from what other D&I Solution Partners are offering
                  .paragraph.mt-3
                    | Find out where you stand, learn from the best and continue to improve. And contribute to the community with your knowledge within the field of diversity and inclusion.
            .row.py-5.my-4
              .col-lg-6.my-auto
                .flex-display-column.content-column
                  h2 Grow your D&I service offering and your business
                  .paragraph.mt-3
                    | The market for diversity and inclusion is expanding rapidly. On GoGetty, you can find your next customer and grow your business.
              .col-lg-6
                .flex-display-img
                  = image_tag 'balance-people.svg', class: 'my-4'
        .solutions-footer
          .container
            .row
              .col-lg-6
                == render "pages/solutions/for_talents_card"
              .col-lg-6
                == render "pages/solutions/for_companies_card"
        .col-lg-1
    == render "pages/solutions/solutions_content" 
    == render 'pages/solutions/more_info'