.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_growth.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 Preboarding
    h4 Having employees come back from parental leave or a longer period of absence
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'introDus', name: 'Re-onboarding after parental leave made easy' }, class: 'btn btn-secondary full-offer-button'

.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_bulb.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 Onboarding
    h4 Getting your employee up-to- speed from day 1 after a leave
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'introDus', name: 'Re-onboarding after parental leave made easy' }, class: 'btn btn-secondary full-offer-button'

.row.solutions__step.pb-1
  .col-12
    hr.pb-md-3.hr--dark.pt-0.mt-3.mb-4
  .col-12.col-xl-1.col-md-2.pt-2
    .image-container
      = image_tag('icons/icon_conversation.svg')
  .col-12.col-md-9
    h1.pb-2.pt-2 Offboarding
    h4 Saying goodbye in the best possible way
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'introDus', name: 'Re-onboarding after parental leave made easy' }, class: 'btn btn-secondary full-offer-button'
