.anchor id="company-6"
.row.solutions__header
  .col-12
    h5.pb-3
      ' In cooperation with
      <br>
      strong introDus
    h1.pr-5.pb-1 Re-onboarding after parental leave made easy
    h3.pb-3 introDus provides an innovative, user-friendly and cloud-based Re- & Onboarding platform that works with any HR system. introDus helps companies produce happier and more satisfied employees through better integration and reducing costs significantly. Good Re- & Onboarding will help minimize the frequent replacement of employees and accelerate the time-to-performance curve by up to 85%...
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_bulb.svg')
    h3 Onboarding
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_growth.svg')
    h3 Re-onboarding
  .col-12.flex-icons
    .image-container
      = image_tag('icons/icon_conversation.svg')
    h3 Offboarding
  .col-12
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'introDus', name: 'Re-onboarding after parental leave made easy' }, class: 'btn btn-primary my-3 full-offer-button'
  
