== render layout: 'user_logged/platform_settings/layout' do
  = link_to 'Add new', new_user_logged_platform_settings_nationality_path
  table.table.table-responsive
    tr
      th Name
      th Actions
    - @nationalities.each do |nationality|
      tr
        td= nationality.name
        td
          = link_to 'Edit', edit_user_logged_platform_settings_nationality_path(nationality)
          br
          = link_to('Delete', user_logged_platform_settings_nationality_path(nationality), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs')
