== render layout: 'user_logged/platform_settings/layout' do
  .row.justify-content-center.mb-4
    | Adding new
  .row.justify-content-center.mb-4
    = simple_form_for @nationality, url: user_logged_platform_settings_nationalities_path, method: :post do |f|
        == render partial: 'form', locals: {f: f}
