== render layout: 'user_logged/platform_settings/layout' do
  == render partial: 'user_logged/platform_settings/requests/company_form'
  h2 GoGetty Diversity Score requests
  = paginate @diversity_requests
  table.table.table-responsive
    tr
      th Created at
      th Created by
      th Creator email
      th Company
      / th Response
      / th Resolved?
    - @diversity_requests.each do |diversity_request|
      tr
        td= diversity_request.created_at
        td= diversity_request.user.full_name
        td= diversity_request.user.email
        td= diversity_request.company.name
        / td= diversity_request.response
        / td= diversity_request.resolved.humanize
  = paginate @diversity_requests
