.subscriptions.charges-new
  = form_tag update_subscription_path, method: :put do
    .subscriptions_header.subscriptions_header-confirm
      .container
        - if flash[:error].present?
          #error_explanation
            p= flash[:error]
        .row 
          .col.col-md-6.col-xs-12.col-sm-8.justify-content-center.mx-auto.py-5
            h1.pb-4= @plan_name.humanize.titleize
            .paragraph-small Your information is secure.
        .paragraph-small.coupon.mb-2 = @billing.coupon
        .row
          .mx-auto.pb-5.flex-header
            h1.mr-4= "#{@billing.payment_amount_to_charge} + #{@billing.plan.tax}% VAT (#{@billing.cost} total)"
    .subscriptions_body.subscriptions_body-confirm
      .container 
        .row.confirm-flex.my-4
          = hidden_field_tag(:plan_name, @plan_name)
          = hidden_field_tag(:coupon, @billing.object.coupon)
          = submit_tag 'Confirm', class:'btn btn-primary'
          br
          = link_to 'Cancel', edit_subscription_path
        .subscriptions_body-details.mt-5
          .subscriptions_body-details-tile.horizontal-border.horizontal-border-top
            .subscriptions_body-details-tile-item
              | View Company Profiles
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Follow Companies
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Like and comment on Companies posts
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Request Adding Companies
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Request more information on Companies Scores, Policies and Goals
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Diversity benchmarks by Industry, Country, Company size and Diversity Score
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Access Diversity Solution Providers
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Company Profile Administration
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Diversity score & dashboard
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.paid_plan_icon}")
          .subscriptions_body-details-tile.horizontal-border
            .subscriptions_body-details-tile-item
              | Ethnicity score & dashboard
              .new-label
                i.fa.fa-heart-o aria-hidden="true" 
                | NEW
            .subscriptions_body-details-tile-item
              i.fa(class="fa-#{@plan.inclusive_business_icon}")
    .subscriptions_footer
      .container
        .row.confirm-flex.my-4
          = submit_tag 'Confirm', class:'btn btn-primary'
          br
          = link_to 'Cancel', edit_subscription_path
