.subscriptions
  = simple_form_for @subscription_form, url: subscriptions_path, method: :post, html: {id: 'subscription_form'} do |f|
    = hidden_field_tag(:become_admin_company_id, @become_admin_company_id)
    .subscriptions_header
      .container
        .row
          .col.col-md-6.col-xs-12.col-sm-8.justify-content-center.mx-auto.py-5
            h1.pb-4 Subscriptions
            .paragraph-small Your information is secure.
        .row
          .mx-auto.pb-5
            = f.input :coupon, label: 'Discount code'
            = f.check_box :annual, label: 'Yearly', checked: true, hidden: true
            - if current_user.monthly_billing_permission
              .switch-button
                button.btn.btn-toggle.active#switch-button aria-pressed="true" autocomplete="off" data-toggle="button" type="button"
                  .handle  
    .subscriptions_body
      .container
        .row.no-gutters
          .col-lg-4.subscriptions_body-card
            .card-header.py-4
              h6 Basic
            div.strong-opacity
              .card-subheader.py-4
                h1 FREE
                | &nbsp
              .card-body
                .card-body-item.py-4.px-5
                  = button_tag :submit, name: 'commit', value: @subscription.business_basic_commit, class: 'btn btn-default btn-primary btn-block btn-transparent' do
                    'YOUR CURRENT PLAN
                .card-body-item
                  | Diversity score & dashboard
                  i.fa.fa-times aria-hidden="true"
                .card-body-item.card-flex
                  | Ethnicity score & dashboard
                  .new-label
                    i.fa.fa-heart-o aria-hidden="true"
                    | NEW
                  i.fa.fa-times aria-hidden="true"
                .card-body-item
                  | View Company Profiles
                  i.fa.fa-check aria-hidden="true"
                .card-body-item
                  | Follow Companies
                  i.fa.fa-check aria-hidden="true"
                .card-body-item
                  | Like and comment on Companies posts
                  i.fa.fa-check aria-hidden="true"
                .card-body-item
                  | Request Adding Companies
                  i.fa.fa-check aria-hidden="true"
                .card-body-item
                  | Request more information on Companies Scores, Policies and Goals
                  i.fa.fa-check aria-hidden="true"
                .card-body-item
                  | Diversity benchmarks by Industry, Country, Company size and Diversity Score
                  i.fa.fa-check aria-hidden="true"
                .card-body-item
                  | Access Diversity Solution Providers
                  i.fa.fa-check aria-hidden="true"
                .card-body-item
                  | Company Profile Administration
                  i.fa.fa-times aria-hidden="true"
                .card-body-item.py-4.px-5
                  = button_tag :submit, name: 'commit', value: @subscription.business_basic_commit, class: 'btn btn-default btn-primary btn-block btn-transparent' do
                    'YOUR CURRENT PLAN
          .col-lg-4.subscriptions_body-card
            .card-header.py-4
              h6 Diverse Business
            .card-subheader.py-4
              .annual_cost
                h1= @subscription.diverse_business_annual
                | per month (billed annually)
              h1.monthly_cost style="display:none"
                = @subscription.diverse_business_monthly
            .card-body
              .card-body-item.py-4.px-5
                = button_tag :submit, name: 'commit', value: @subscription.diverse_business_commit, class: 'btn btn-default btn-primary btn-block btn-transparent' do
                  | BUY THIS PLAN
              .card-body-item
                | Diversity score & dashboard
                i.fa.fa-check aria-hidden="true"
              .card-body-item.card-flex
                | Ethnicity score & dashboard
                .new-label
                  i.fa.fa-heart-o aria-hidden="true"
                  | NEW
                i.fa.fa-times aria-hidden="true"
              .card-body-item
                | View Company Profiles
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Follow Companies
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Like and comment on Companies posts
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Request Adding Companies
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Request more information on Companies Scores, Policies and Goals
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Diversity benchmarks by Industry, Country, Company size and Diversity Score
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Access Diversity Solution Providers
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Company Profile Administration
                i.fa.fa-check aria-hidden="true"
              .card-body-item.py-4.px-5
                = button_tag :submit, name: 'commit', value: @subscription.diverse_business_commit, class: 'btn btn-default btn-primary btn-block btn-transparent' do
                  | BUY THIS PLAN
          .col-lg-4.subscriptions_body-card.mb-5
            .card-header.py-4
              h6 Inclusive Business
            .card-subheader.py-4
              .annual_cost
                h1= @subscription.inclusive_business_annual
                | per month (billed annually)
              h1.monthly_cost style='display:none'
                = @subscription.inclusive_business_monthly
            .card-body
              .card-body-item.py-4.px-5
                = button_tag :submit, name: 'commit', value: @subscription.inclusive_business_commit, class: 'btn btn-default btn-primary btn-block btn-transparent' do
                  | BUY THIS PLAN
              .card-body-item
                | Diversity score & dashboard
                i.fa.fa-check aria-hidden="true"
              .card-body-item.card-flex
                | Ethnicity score & dashboard
                .new-label
                  i.fa.fa-heart-o aria-hidden="true"
                  | NEW
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | View Company Profiles
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Follow Companies
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Like and comment on Companies posts
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Request Adding Companies
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Request more information on Companies Scores, Policies and Goals
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Diversity benchmarks by Industry, Country, Company size and Diversity Score
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Access Diversity Solution Providers
                i.fa.fa-check aria-hidden="true"
              .card-body-item
                | Company Profile Administration
                i.fa.fa-check aria-hidden="true"
              .card-body-item.py-4.px-5
                = button_tag :submit, name: 'commit', value: @subscription.inclusive_business_commit, class: 'btn btn-default btn-primary btn-block btn-transparent' do
                  | BUY THIS PLAN

