.about,
.about-content {
  background-color: $white;
  h1 {
    font-size: 60px;
    line-height: 48px;
    font-weight: 600;
    font-family: "Poppins";
  }
  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    font-family: "Poppins";
  }
  h4 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    margin: 0;
  }
  h5 {
    color: $blue;
  }
  .paragraph {
    font-size: 16px;
    color: $black;
  }
  .paragraph-center {
    text-align: center;
  }
  .paragraph-large {
    font-size: 20px;
    color: $gray-dark;
  }
  .paragraph-large-gray {
    font-size: 20px;
    color: $gray;
  }
  .flex-display {
    display: flex;
    align-items: center;
  }
  .the-team {
    text-decoration: underline;
    cursor: pointer;
  }
  .fa-arrow-right {
    color: $black;
  }
  .form-group {
    padding: 0;
    display: flex;
    align-items: baseline;
    input {
      background: $white;
      font-family: "Poppins", sans-serif;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $gray-light;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $gray-light;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $gray-light;
    }
  }
  .triple-logos {
    width: 220px;
    height: 220px;
    z-index: 100;
  }
  .triple-logos-links {
    width: 170px;
    height: 170px;
    transform: scale(0.9);
  }
  .triple-logos-left {
    margin-right: -40px;
    cursor: pointer;
  }
  .triple-logos-right {
    margin-left: -40px;
    cursor: pointer;
  }
  .triple-logos-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .styled-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-size: 16px;
      margin: 24px;
      margin-left: 0;
      display: flex;
      align-items: center;
    }
    .fa-check-circle-o {
      color: $blue-secondary;
      font-size: 24px;
      margin-right: 16px;
      margin-bottom: 4px;
      line-height: 20px;
    }
  }
  .social-media {
    i {
      margin-right: 30px;
    }
  }
  .fa-twitter,
  .fa-facebook,
  .fa-linkedin {
    display: inline-block;
    border-radius: 60px;
    padding: 14px 15px;
    color: $white;
    font-size: 24px;
    background-color: $blue-secondary;
    cursor: pointer;
    &:hover {
      background-color: $gray-light;
    }
  }
  .fa-facebook {
    padding: 14px 19px;
  }
  .fa-linkedin {
    padding: 14px 16px;
  }
  .content-text-summary {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }
  .team-photo {
    width: 706px;
    @media (max-width: 1440px) {
      width: 100%;
    }
  }
  .person-photo {
    width: 100%;
  }
}
.background-light {
  background-color: $gray-lighter;
  padding: 90px;
  @media (max-width: 992px) {
    padding: 40px;
  }
}
.background-lighter {
  background-color: $gray-lightest;
  padding: 40px;
}
.background-white-about {
  background-color: $white;
}
.container-space {
  padding: 48px;
  @media (max-width: 992px) {
    padding: 16px;
  }
}

.about {
  background-image: url("../../../../assets/images/first_team_pic.jpg");
  background-repeat: no-repeat;
  min-height: 520px;
  background-position: right;
  background-size: contain;
  @media (max-width: 1200px) {
    background-size: 640px;
  }
  @media (max-width: 992px) {
    background-image: none;
    min-height: auto;
    padding: 48px 0;
  }
  .about-container {
    min-height: 520px;
    display: flex;
    @media (max-width: 992px) {
      min-height: auto;
    }
  }
}

.link-item {
  text-decoration: underline;
}
