.alert {
	min-height: 45px;
  min-width: 290px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  &__sign {
  	color: #FFFFFF;
  	font-family: FontAwesome;
  	font-size: 20px;
  	line-height: 20px;
  }
  &__title {
  	color: #FFFFFF;
  	font-family: Roboto;
  	font-size: 14px;
  	font-weight: bold;
    text-transform: capitalize;
  }
  &__text {
  	color: #FFFFFF;
  	font-family: Roboto;
  	font-size: 14px;
  }
  button.close {
  	color: #FFFFFF;
  	font-family: FontAwesome;
  	font-size: 16px;
  	line-height: 16px;
	}
	.close {
		top: -0.55rem;
	}
}

.alert-danger {
	border: 2px solid #DF3959;
	background-color: rgba(198,14,49,0.5);
}

.alert-success {
	border: 2px solid #29CD97;
	background-color: rgba(20,179,127,0.5);
}

.alert-info {
	border: 2px solid #5CBEFF;
	background-color: rgba(14,147,236,0.5);
  .alert__title {
    text-transform: uppercase;
  }
  .alert__title:after {
    content: ':';
  }
}

.alert-warning {
	border: 2px solid #FFA84E;
	background-color: rgba(236,131,14,0.5);
}
