body {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 60px;
  font-family: "Poppins", sans-serif;
  color: $gray;
  @media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }
}

body.body--static {
  background-image: url("../../../../assets/images/background_img.jpg");
  background-repeat: repeat-x;
}

body.body--mixed {
  background: #14284b;
  background-repeat: repeat-x;
  padding-top: 65px;
  .white-bg {
    background: white;
  }
}

abbr {
  display: none !important;
}

/* add css for margin fix -- this will not be needed after beta */
.card-deck .card {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.card-deck .card:not(:last-child) {
  margin-right: 15px;
}

.card-deck .card:not(:first-child) {
  margin-left: 15px;
}

.spacer {
  width: 100%;
  border-top: 1px solid $gray-lighter;
  margin-top: 25px;
  margin-bottom: 25px;
}

.youtube-video {
  border: none;
}

h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  margin: 0;
}

h5 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: $gray-dark;
  margin: 0;
}

h6 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  color: $black;
}

.paragraph {
  font-size: 16px;
  line-height: 20px;
  color: $gray-dark;
  &-dark {
    color: $black;
  }
  &-bold {
    font-weight: 600;
    color: $gray-dark;
    font-size: 16px;
  }
  &-black {
    text-align: left;
    color: $black;
    font-weight: 600;
  }
  &-small {
    font-size: 14px;
    color: $gray;
  }
  &-link {
    font-size: 14px;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
  }
  &-gray {
    font-size: 16px;
    line-height: 20px;
    color: $gray;
    &-light {
      font-weight: 200;
    }
  }
}

.post-text {
  color: $black;
}

.label {
  font-size: 12px;
  line-height: 16px;
  color: $gray;
  font-weight: 200;
  margin-bottom: 7px;

  &-link {
    a {
      color: $blue-secondary;
      font-size: 12px;
    }
  }

  &-white {
    font-size: 12px;
    line-height: 16px;
    font-weight: 200;
    color: $white;
  }

  &-dark {
    color: $gray-dark;
  }
}

.chart-title {
  height: 60px;
}

.text-align-left {
  text-align: left;
}

.top-info {
  width: 100%;
  background-color: $white;
  .card-primary-action__wrapper--right-corner {
    right: 0px;
  }
}

.bottom-info {
  background-color: rgba(68, 107, 168, 0.04);
}

.flex-xs-column-reverse {
  flex-direction: column-reverse;
}

.top-management-section {
  background-color: $gray-lightest;
}

.hidden-soft {
  visibility: hidden;
  opacity: 0;
}

.hidden {
  display: none !important;
}

.vertical-border {
  border-right: 1px solid $gray-lighter;
}

.horizontal-border {
  border-bottom: 1px solid $gray-lighter;
}

.horizontal-border-top {
  border-top: 1px solid $gray-lighter;
}
.videos-container {
  display: flex;
  justify-content: space-between;

  .video {
    width: 100%;
    padding-left: 5px;
    &:first-child {
      padding-right: 5px;
      padding-left: 0px;
    }
    img {
      width: 100%;
    }
    iframe {
      background: $black;
    }
  }
}
@media only screen and (max-width: 576px) {
  .videos-container {
    flex-direction: column;
    .video {
      padding: 0;
      &:first-child {
        padding: 0;
        padding-bottom: 10px;
      }
    }
  }
}

.list-inline-item {
  a {
    &:hover {
      color: $blue-secondary;
    }
  }
}

.list-inline-item-active {
  .nav-link {
    color: $blue-secondary;
  }
}

.card-footer {
  padding: 0.85rem 1.25rem;
  .input-group {
    padding: 0;
    input {
      background: $white;
      font-family: "Poppins", sans-serif;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $gray-light;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $gray-light;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $gray-light;
    }
  }
}

.centered {
  z-index: 1000;
  position: fixed;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-wrap {
  min-height: 60%;
}

.fixed-top,
.full-width-fixed-navbar {
  max-width: 1440px;
  margin: 0 auto;
}

.background-white {
  background-color: $white;
  min-height: 600px;
}

.sign_up-modes {
  margin-top: -60px;
}

.width-100 {
  width: 100%;
}

#form_company_search_new_ethnicity_score {
  display: none;
}

ol#company_information_list {
  list-style-position: inside;
  padding-inline-start: 0px;
}

#company_nationality_nationality_id,
#company_language_language_id {
  width: 183px;
  height: 45px;
  background: white;
}

.pagination {
  text-align: center;
  margin: auto;
  span {
    margin: 5px;
  }
}

.text-monospace {
  font-family: "Courier New";
}

.bb_link {
  bottom: 24px !important;
  transform: scale(0.75);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mt-8 {
  margin-top: 80px !important;
}

.media-body {
  p {
    a {
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }
}
