.btn--gg-primary {
  min-height: 45px;
  min-width: 220px;
  border-radius: 100px;
  background: linear-gradient(90deg, #446ba8 0%, #5281cc 100%);
  box-shadow: 0 22px 50px 0 rgba(68, 107, 168, 0.8);
  color: #fff;

  &:hover,
  &:active {
    background: linear-gradient(
      90deg,
      darken(#446ba8, 0.15) 0%,
      darken(#5281cc, 0.15) 100%
    );
    box-shadow: 0 22px 50px 0 rgba(68, 107, 168, 0.8);
    color: #fff;
  }
}

.btn--large-circle {
  border-radius: 200px;
  height: 170px;
  width: 170px;
  box-shadow: 0 22px 50px 0 rgba(68, 108, 169, 0.25);
  color: rgb(68, 108, 169);
  font-size: 120px;
  font-weight: 300;
  &:hover {
    color: rgb(235, 0, 41);
    box-shadow: 0 22px 50px 0 rgba(235, 0, 41, 0.25);
  }
  &:active,
  &:focus {
    box-shadow: 0 22px 50px 0 rgba(68, 108, 169, 0.25);
    color: rgb(68, 108, 169);
  }
}

.btn--small-circle {
  margin-top: 30px;
  border-radius: 200px;
  height: 70px;
  width: 70px;
  box-shadow: 0 11px 25px 0 rgba(68, 108, 169, 0.25);
  color: rgb(68, 108, 169);
  font-size: 30px;
  font-weight: 300;
  line-height: 46px;
  &:hover {
    color: rgb(235, 0, 41);
    box-shadow: 0 15px 30px 0 rgba(235, 0, 41, 0.25);
  }
  &:active,
  &:focus {
    box-shadow: 0 11px 25px 0 rgba(68, 108, 169, 0.25);
    color: rgb(68, 108, 169);
  }
}

.btn--pink {
  border: 1px solid rgb(68, 108, 169);
  margin-top: 35px;
  color: rgb(68, 108, 169);
  border-radius: 0px;
  &:hover {
    color: rgb(235, 0, 41);
    border: 1px solid rgb(235, 0, 41);
  }
}

.button-transparent {
  font-size: 12px;
  color: $blue-secondary;
  border: 1px solid $blue-secondary;
  padding: 11px 28px;
  &:hover {
    background-color: $gray-lighter;
  }
}

.button-like {
  margin-bottom: 7px;
  button {
    padding: 5px;
    .fa-heart-o,
    .fa-heart {
      color: $red;
      margin-right: 3px;
    }
  }
}
