$cpa_width: 30px;
$cpa_height: 30px;

.card-primary-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $cpa_width;
  height: $cpa_height;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);

  &__wrapper {
    position: absolute;
    z-index: 10;

    &--right-corner {
      top: -$cpa_height/2;
      right: -$cpa_width/2;
    }
  }
}