.card {
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.05);
}

.card--landing {
  box-shadow: none;
  background: transparent;

  .card-title {
    font-size: 21px;
    color: #14284b;
    letter-spacing: 0.7px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      min-height: 150px;
    }
  }

  .card-text {
    font-size: 17px;
    color: #14284b;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    font-weight: 100;
  }
}
