.nav-tabs {
  border: 0;
  padding: 0 7px;
  .nav-item {
    background-color: $blue-secondary;
    width: 100%;
    text-align: center;
    .nav-link {
      color: $white;
      font-size: 16px;
      padding: 12px 0;
      border-radius: 0;
      &:hover {
        border-color: $blue-secondary;
      }
    }
    .tab-shadow-right {
      -webkit-box-shadow: inset -9px 0px 12px -5px rgba(0, 0, 0, 0.65);
      -moz-box-shadow: inset -9px 0px 12px -5px rgba(0, 0, 0, 0.65);
      box-shadow: inset -9px 0px 12px -5px rgba(0, 0, 0, 0.65);
    }
    .tab-shadow-left {
      -webkit-box-shadow: inset 9px 0px 12px -5px rgba(0, 0, 0, 0.65);
      -moz-box-shadow: inset 9px 0px 12px -5px rgba(0, 0, 0, 0.65);
      box-shadow: inset 9px 0px 12px -5px rgba(0, 0, 0, 0.65);
    }
    .active {
      color: $gray-dark;
      box-shadow: none;
      border: 1px solid $gray-lighter;
      &:hover {
        border-color: $gray-lighter;
      }
    }
  }
}

.nav-tabs-plan {
  padding: 0;
}

.float-tabs {
  @media only screen and (min-width: 992px) {
    margin-top: -56px;
  }
  .container-management {
    margin-top: 1px;
  }

  .fa-angle-down,
  .fa-angle-up {
    line-height: 22px;
    cursor: pointer;
  }
}
.chart-value,
.chart-value-small {
  font-size: 16px;
  font-weight: 200;
  color: $gray;
}
.chart-value-small {
  font-size: 14px;
  padding: 10px;
}
.chart-desc {
  font-weight: 200;
  font-size: 14px;
  color: $gray-dark;
}
.chart-tile {
  text-align: left;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  padding: 2px 8px;
  margin: 2px 0;
  font-family: "Poppins", sans-serif;
}
.square {
  &-1 {
    color: #f44336;
  }
  &-2 {
    color: #9c27b0;
  }
  &-3 {
    color: #ffce56;
  }
  &-4 {
    color: #03a9f4;
  }
  &-5 {
    color: #009688;
  }
  &-6 {
    color: #8bc34a;
  }
  &-7 {
    color: #ffeb3b;
  }
  &-8 {
    color: #231f20;
  }
}
.fa-circle {
  color: $red;
  font-size: 10px;
  margin-right: 8px;
  vertical-align: middle;
  margin-bottom: 3px;
}
.disabled-chart {
  opacity: 0.7;
  background-color: $white;
  position: absolute;
  width: 100%;
  height: 88%;
  z-index: 9;
}
.disabled-chart-2 {
  opacity: 0.4;
  background-color: $white;
  position: absolute;
  width: 100%;
  height: 88%;
  z-index: 9;
}
.disabled-tooltip {
  position: relative;
  transition: visibility 0.1s linear, opacity 0.1s linear;
}
.upgrade-tooltip {
  opacity: 0.75;
  padding: 10px;
  background-color: #000;
  position: absolute;
  z-index: 10;
  text-align: left;
  color: $white;
  border-radius: 4px;
  a {
    color: $white;
    text-decoration: underline;
  }
}
.gender-title {
  margin-right: 4px;
}

#plan-diversity-active,
#plan-ethnicity-active {
  margin-right: 4px;
}
