.company-tiles {
  .card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .card:not(:last-child) {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .card:not(:first-child) {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .card {
    box-shadow: none;
    // width: 20rem;
    flex: 0 0 196px;
    margin: 0px;
  }

  .company-tile-svg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .card-title {
    color: #446ba8;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  .card-subtitle {
    color: #14284b;
    font-family: Optima;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
  }
  .card-text {
    color: #999999;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
  }
  .card-block {
    padding: 0px;
  }
  .card-footer {
    background-color: white;
    padding: 0px;
  }
  a {
    color: #999999;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
    text-align: center;

    &.btn-link {
      text-decoration: underline;
    }
  }
}

.company-tile-diversity {
  svg {
    width: 13px;
    height: 17px;
  }

  span {
    vertical-align: text-bottom;
  }

  .progress {
    width: 40px;
    margin: 0 8px;
    margin-bottom: 0px !important;
    vertical-align: super;
  }

  p {
    display: none;
  }

  &--small {
    .progress {
      width: 20px;
    }
  }
}

.wall__container_featured .company-tiles .card {
  flex: 0 0 144px;
}
