.companies-page {
  *:focus {
    outline: none;
  }

  .numeric {
    display: initial;
    padding: 0;
  }

  .input-group,
  .form-group {
    padding: 0;
    input {
      background: $white;
      font-family: "Poppins", sans-serif;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $gray-light;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $gray-light;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $gray-light;
    }
  }
  select {
    background: $white;
    font-family: "Poppins", sans-serif;
    color: $gray-light;
    max-width: 240px;
  }
  .general-filters {
    .paragraph {
      margin-bottom: 8px;
    }
    .filters-inputs {
      display: flex;
      margin-right: 0;
    }
    div {
      margin-right: 6px;
      input {
        border-radius: 4px;
        height: 38px;
      }
    }
    .add_company_button {
      a,
      input {
        font-family: "Poppins", sans-serif;
        height: 38px;
        font-size: 12px;
        margin-left: -6px;
        padding: 10px 16px;
      }
    }
  }
  .filters-background {
    background-color: $gray-lighter;
  }
  .paragraph {
    color: $black;
    font-size: 16px;
    font-weight: 600;
  }
  .sort-by {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .form-group {
      margin-bottom: 0;
    }
    .amount-companies {
      font-size: 16px;
      span {
        font-weight: 200;
      }
    }
    .sort-by-flex {
      display: flex;
      align-items: baseline;
      select {
        border-bottom: 1px solid $gray-lighter !important;
        border: none;
      }
    }
  }
}
