$container-grid-gap: 16px;
.container-grid {
  @include make-container();
  @include make-container-max-widths();
  display: -ms-grid;
  -ms-grid-columns: 100%;
  -ms-grid-rows: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "summary"
    "diversity-score"
    "ethnicity-score"
    "management"
    "information"
    "stream";
}

.container-summary {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
}

.container-stream {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
  .form-group {
    padding: 0;
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $gray-light;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $gray-light;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $gray-light;
    }
  }
}

.container-management {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
}

.container-information {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
}

.container-policies {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
}

.container-goals {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
}

.container-diversity-score {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: diversity-score;
}

.container-ethnicity-score {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ethnicity-score;
}

.container-summary {
  grid-area: summary;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container-diversity-score-score {
  height: 100%;
  grid-area: diversity-score-score;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container-diversity-score-diversity {
  grid-area: diversity-score-diversity;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.container-stream {
  grid-area: stream;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.container-management {
  grid-area: management;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container-information {
  grid-area: information;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container-policies {
  grid-area: policies;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container-goals {
  grid-area: goals;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.progress {
  background-color: #4f7cc1;
  height: 2px;
  display: inline-flex;
  width: 100%;
}

.progress-bar {
  background-color: #ff2e63;
  height: 2px;
}

.bb_link{
  position: relative;
  bottom: 27px;
}

.bb_mobile{
  display: none;
}

@media only screen and (min-width: 768px) {
  .container-policies {
    //margin: $container-grid-gap;
    margin-right: $container-grid-gap/4;
  }

  .container-goals {
    margin-left: $container-grid-gap/4;
  }

  .container-grid {
    display: -ms-grid;
    -ms-grid-columns: 50% 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: 2;
    grid-template-rows: 4;
    grid-template-areas:
      "summary summary"
      "diversity-score ethnicity-score"
      "management management"
      "information information"
      // 'policies goals'
      "stream stream";
  }

  .container-diversity-score {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .container-ethnicity-score {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .container-summary {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .container-diversity-score-score {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .container-diversity-score-diversity {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .container-stream {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .container-management {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .container-information {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .container-policies {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .container-goals {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

@media only screen and (min-width: 992px) {
  .container-grid {
    display: -ms-grid;
    -ms-grid-columns: 7fr 2.5fr 2.5fr;
    display: grid;
    grid-template-columns: 7fr 2.5fr 2.5fr;
    grid-template-rows: 4;
    grid-template-areas:
      "summary diversity-score ethnicity-score"
      "stream management management"
      "stream information information"
      // 'stream policies goals'
      "stream none none";
  }

  .container-diversity-score {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column-span: 2;
  }

  .container-ethnicity-score {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column-span: 2;
  }

  .container-summary {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column-span: 1;
  }

  .container-diversity-score-score {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .container-diversity-score-diversity {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .container-management {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column-span: 1;
  }

  .container-information {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column-span: 1;
  }

  .container-stream {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column-span: 1;
  }

  .container-policies {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .container-goals {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

.container-summary {
  .list-unstyled {
    .fa {
      margin-right: 6px;
    }
  }
}
@media only screen and (min-width: 310px) and (max-width:767px){

  .bb_mobile{
    display:block;
  }
  .bb_desktop{
    display:none;
  }

  .bb_link {
    position: static;
    margin-bottom: 25px;
  }
}