.dropdown--popover{
  &__label {
    color: #446BA8;
    text-decoration: underline;
  }
  .dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0 0 25px 0 rgba(68,106,168,0.20);
    border-radius: 5px;
    border-width: 0;
    margin-top: 20px;
    padding: 30px;
    &::before {
      content: '';
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: #fff;
      border-radius: 0;
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -10px;
    }
  }
}