.edit-diversity {
  .level-name-input-wrapper {
    display: block;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 8px;
      bottom: 8px;
      width: 25px;
      height: 25px;
      background-image: url("icons/rename-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      z-index: 0;
    }
  }

  .level-name-input {
    background-color: transparent !important;
    border-width: 0;
    padding-left: 0;
    padding-right: 30px;
    font-size: 20px;
    border-radius: 0 !important;
    position: relative;
    z-index: 1;
    color: #14284b;
    font-weight: bold;
    &:focus {
      border-bottom: 1px dashed $red;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 1px;
    background-color: $red;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(15px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .cstn_frm {
    border-bottom: 1px solid #dfdfdf;
    margin: 20px 0;
  }

  .cstn_frm label {
    font-size: 12px;
    float: left;
    margin-bottom: 5px;
  }
  .cstn_frm_num {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .pad_rt {
    padding-right: 0px;
  }
  .pad_lt {
    padding-left: 0px;
  }

  .input_wrap {
    width: 100%;
    float: left;
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  .input_wrap input {
    display: table-cell;
  }

  .perc {
    padding: 6px 12px;
    background: #eee;
    margin-left: -3px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #000;
  }
  .perc > img {
    width: 16px;
  }

  .emp_level {
    width: 100%;
    float: left;
    background: #fcfcfc;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 10px 10px 35px 10px;
  }

  .emp_level h5 {
    font-size: 14px;
    color: #737373;
  }

  .emp_level_input {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  .emp_level_input .form-group {
    width: 50%;
    margin-bottom: 0px;
    padding: 0 15px;
  }

  .emp_level_input .form-group:first-child {
    padding-left: 0px;
    border-right: 1px solid #dfdfdf;
  }

  .emp_level_input .form-group:last-child {
    padding-right: 0px;
  }

  .emp_level_input label {
    float: none !important;
  }

  .cstm_switch {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }

  .red_text {
    color: $red;
  }
}

.show-data {
  .card-block {
    padding: 8px;
  }
  .btn--small-circle {
    display: block;
    margin: 0 auto;
  }
  .container-policies, .container-goals {
    margin: 0;
    width: auto;
  }
  .card-footer {
    padding: 8px;
    .nav-link {
      padding: 0;
    }
  }
}
