.ethnicity-graph {
  &-container {
    width: 174px;
    height: 174px;
    margin: 0 auto;
    position: relative;
  }
  &__desc {
    position: absolute;
    z-index: 0;
    left: 29%;
    top: 21%;
    color: $gray;

    &--text {
      font-size: 12px;
      line-height: 16px;
    }
    &--value,
    &--value-small {
      font-size: 38px;
      font-weight: 600;
      line-height: 48px;
      color: $gray-dark;
    }
    &--value-small {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
