.footer {
  background: $white;
  color: $white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
  border-top: 1px solid $gray-light;
  .navbar-brand {
    padding-top: 0;
  }
  a {
    color: $gray;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 16px;
  }
  .contest_logo {
    margin: auto;
    width: 44%;
  }
  .badge_wrapr {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
  }
  .badge-logo {
    img {
      max-width: 100%;
      width: 100%;
    }
  }
  .contest_logo {
    margin-left: 0;
    margin-right: 0px;
  }
  .contest_logo--badge {
    max-width: 100%;
  }
  p {
    font-size: 14px;
    color: $gray;
    letter-spacing: 0;
    line-height: 21px;
    font-weight: 100;
  }
  h4 {
    color: $gray-dark;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
  }
  h6 {
    color: $gray-dark;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 200;
  }
  ul {
    li {
      font-size: 14px;
      color: $gray;
      letter-spacing: 0;
      font-weight: 100;
      margin: 10px 0;
      &:hover {
        text-decoration: underline;
      }
    }
    .subscribe_btn {
      height: 39px;
      width: 207px;
      border-radius: 100px;
      background-color: $white;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      -webkit-box-shadow: 0 17px 45px 0 #446ba8;
      box-shadow: 0 0px 16px 0 #446ba8;
      color: #446ba8;
      opacity: 1;
      margin-top: 20px;
      line-height: 38px;
      a {
        opacity: 1;
        color: #446ba8;
        font-weight: 500;
      }
    }
  }
  .phone-number {
    &:hover {
      text-decoration: none;
    }
  }
  .social-media {
    display: flex;
    justify-content: space-between;
    i {
      cursor: pointer;
      color: $gray-dark;
      font-size: 20px;
      &:hover {
        color: $gray-light;
      }
    }
  }
  .terms {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 500px) {
      flex-direction: column;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
