.header {
  padding-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    margin-top: -200px;
    margin-bottom: -100px;
    &__content {
      height: 100vh;
    }
  }

  &__wrapper {
    @include media-breakpoint-up(lg) {
      background: url("macbook.png") center right no-repeat;
      padding: 100px 0;
      background-size: 50% auto;
    }
  }

  h1 {
    color: $white;
    font-family: Optima;
    font-size: 44px;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    text-transform: uppercase;
  }

  .lead {
    color: $white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }

  .btn-primary {
    font-size: 2rem;
    border-radius: 100px;
    background: linear-gradient(90deg, #446ba8 0%, #5281cc 100%);
    box-shadow: 0 22px 50px 0 rgba(68, 107, 168, 0.8);
    @include media-breakpoint-down(xs) {
      font-size: 0.75rem;
    }
  }
}
