.bg-white {
  background: #F3F3F3;
}

.section--join-gogetty {
  background: url(working-bg-2.png) no-repeat top center #14284B;
  background-size: cover;

  h2 {
    // font-size: 44px;
    color: #FFFFFF;
    // letter-spacing: 0.5px;
    // line-height: 47px;
    // text-transform: uppercase;
  }
  .panel--working {
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(19,39,75,0.60);
    border-radius: 5px;

    .bg--working {
      background: url('working.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-position-x: right;
    }

    h4 {
      font-size: 21px;
      color: #14284B;
      letter-spacing: 0.7px;
      text-transform: none;
    }

    ul {
      list-style: none;
      text-align: left;
      padding-left: 0;

      li {
        font-size: 20px;
        color: #7F7F7F;
        letter-spacing: 0.67px;
        text-transform: none;
        font-weight: 100;
        margin-left: 25px;
        position: relative;

        &:before {
          content: '';
          background: url(icons/ok.svg) no-repeat;
          background-size: contain;
          width: 10px;
          height: 8px;
          display: inline-block;
          position: absolute;
          left: -25px;
          top: 10px;
          vertical-align: middle;
        }
      }
    }

  }

  .faq {
    &__question {
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.5px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 80px;
    }

    &__answer {
      font-size: 14px;
      color: #F8F8F8;
      letter-spacing: 0;
      line-height: 24px;
      border-top: 1px solid #446BA8;
      padding-top: 20px;
      font-weight: 100;
    }
  }
}

.section--how-works {
  background: #F8F8F8;

  .card {
    background: #FFFFFF;
    box-shadow: none;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    color: #446BA8;
    letter-spacing: 0.5px;
    font-weight: 100;
    padding: 15px;
    @include media-breakpoint-up(lg) {
      min-height: 200px;
    }
  }

  .bg--arrow {
    @include media-breakpoint-up(lg) {
      background-image: url(landing_arrow.png);
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 95% auto;
    }

    @include media-breakpoint-down(md) {
      background-image: url(landing_arrow_vertical.png);
      background-repeat: no-repeat;
      background-position:  top center;
      background-size: auto 100%;
    }
  }

  .card-deck {

  }
  //background: url(arrow-bg.svg);
  //background-repeat: no-repeat;
  //background-size: auto 100%;
  //background-position: left center;
}
