.modal {
  margin-top: 20px;
  padding-top: 100px;
  .modal-header {
    justify-content: center;
    border-bottom: 0px;
  }
  .modal-title-image {
    margin-top: -80px;
  }
  .modal-title {
    color: #14284b;
    font-family: Optima;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
  }
  .modal-body {
    color: #999999;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    input[type="checkbox"] {
      margin-right: 10px;
    }
    input[type="text"],
    select,
    textarea {
      border-radius: 5px;
      background-color: #f8f8f8;
    }
  }

  .modal-footer {
    justify-content: center;
    border-top: 0px;
    width: 100%;
  }

  .modal-footer-dark {
    background: #446ba8;
  }

  .btn-secondary {
    height: 45px;
    width: 217px;
    border-radius: 100px;
    background: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #446ba8;
    border-color: #446ba8;
  }

  .btn-primary {
    height: 45px;
    width: 217px;
    border-radius: 100px;
    background: #446ba8;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-color: #ffffff;
  }

  .btn-small {
    border-radius: 100px;
    background: #446ba8;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-color: #ffffff;
  }
  .modal-background {
    background-color: $gray-lightest;
    height: 100px;
    .close {
      float: none;
    }
    .modal-header {
      padding: 0;
    }
  }
  .share-post {
    *:focus {
      outline: none;
    }
    text-align: center;
    input {
      border: 1px solid $gray-lighter;
      border-radius: 4px;
      padding: 12px;
      color: $gray;
      width: 100%;
    }
    .copy-btn {
      display: flex;
      .btn-primary {
        width: auto;
        height: 46px;
        font-family: "Poppins", sans-serif;
        border-radius: 4px;
      }
    }
    .copy-tooltip {
      position: absolute;
      top: -20px;
      top: -14px;
      right: 32px;
      font-size: 10px;

    }
  }
}

#edit_ethnicity {
  *:focus {
    outline: none;
  }
  .modal-body {
    padding: 0px;
    font-family: "Poppins", sans-serif;
    .nav-tabs {
      padding: 0;
    }
    .input-group-select {
      display: flex;
    }
    .input-group {
      padding: 0;
      input {
        background: $white;
      }
    }
    .tabs-assets {
      max-width: 280px;
      margin: 0 auto;
      .input-group {
        padding: 0;
        input {
          background: $white;
          font-family: "Poppins", sans-serif;
        }
        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $gray-light;
          opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $gray-light;
        }

        ::-ms-input-placeholder {
          /* Microsoft Edge */
          color: $gray-light;
        }
      }
    }
    .chart-tile {
      color: $gray-dark;
      display: flex;
      padding: 4px 8px;
      width: 100%;
      justify-content: space-between;
      .fa-square {
        margin: 0 4px;
      }
    }
    .chart-value-small {
      color: $gray-dark;
      input {
        border: none;
        background-color: $white;
        color: $gray-dark;
      }
    }
    .chart-desc {
      width: 24px;
      height: 26px;
      background-color: $gray-lighter;
      border: 1px solid $gray-light;
      border-radius: 3px;
      text-align: center;
    }
    .remove-tile {
      display: flex;
      align-items: center;
      width: 112%;
      .fa-times {
        margin: 0 12px;
        cursor: pointer;
        color: $gray;
        &:hover {
          color: $gray-dark;
        }
      }
    }
  }
  .btn-square {
    border-radius: 4px;
    width: auto;
    font-family: "Poppins", sans-serif;
    margin: 0;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    &:hover {
      color: #ffffff;
      background-color: #286090;
      border-color: #204d74;
    }
  }
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 28px;
    .btn-square {
      border-radius: 4px;
      padding: 8px 32px;
    }
    .cancel-btn {
      cursor: pointer;
      color: $gray-dark;
      margin: 0 32px;
      &:hover {
        color: $blue-secondary;
      }
    }
  }
}
