.navbar {
  font-family: "Poppins", sans-serif;
  .nav-item {
    white-space: nowrap;
  }
}

.body--static {
  .navbar {
    color: #ffffff;
    font-size: 12px;
    background-color: #224580;
    .btn-link {
      color: white;
      padding: 0px;
      margin: 0px;
      border: 0px;
    }
    .btn-link:hover {
      color: rgba(255, 255, 255, 0.75);
    }
    .nav-link {
      margin-top: 7px;
    }
    a {
      font-size: 12px;
    }
    .btn-signup {
      height: 30px;
      width: 84.81px;
      border-radius: 15px;
      background: linear-gradient(90deg, #446ba8 0%, #5281cc 100%);
      box-shadow: 0 7px 20px 0 rgba(68, 107, 168, 0.6);
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #eeeeee;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #eeeeee;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #eeeeee;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #eeeeee;
    }
    .form-control--dark {
      border: 0px;
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
      line-height: 14px;
    }
    .btn--bright {
      background-color: white;
      color: #446ba8;
    }
  }
}
.body--mixed {
  .navbar {
    .btn-link {
      color: rgba(0, 0, 0, 0.5);
      padding: 0px;
      margin: 0px;
      border: 0px;
    }
    .btn-link:hover {
      color: rgba(0, 0, 0, 0.7);
    }
    .nav-link {
      margin-top: 7px;
    }
    font-size: 12px;
    background-color: #224580;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    a {
      font-size: 12px;
    }
  }
  .form-control--bright {
    border: 0px;
    background-color: white;
    color: #446ba8;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
  }
  .btn--dark {
    background: linear-gradient(90deg, #446ba8 0%, #5281cc 100%);
    color: #ffffff;
  }
}

.body--app,
.body--static,
.body--mixed {
  .new-nav {
    *:focus {
      outline: none;
    }
    .navbar {
      background-color: $blue;
      color: $white;
      font-size: 12px;
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;
      padding: 8px 12px;
    }
    .btn-link {
      padding: 0px;
      margin: 0px;
      border: 0px;
      color: $white;
      outline: none;
    }
    .nav-link {
      margin: 2px;
      display: inline-block;
      color: $white;
      font-size: 14px;
      font-weight: 200;
      &:hover,
      &:active,
      &:visited,
      &:focus {
        color: $white;
      }
      .dropdown {
        &:hover {
          text-decoration: underline;
          color: $white;
        }
      }
    }
    .nav-item {
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    a {
      font-size: 12px;
    }
    .input-search {
      border-radius: 3px;
      border: none;
      height: 38px;
      padding-left: 16px;
    }
    .dropdown {
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      cursor: pointer;
      .fa-user-o {
        font-size: 18px;
      }
    }
    .input-group-btn-main-nav {
      .btn {
        margin-left: -35px;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 10px 10px 9px 10px;
        .fa-search {
          color: $gray;
        }
        &:hover {
          background-color: $gray-lightest;
        }
      }
    }
    .navbar-nav {
      width: 100%;
      font-size: 14px;
      font-weight: 200;
      white-space: nowrap;
      .fa-user-o {
        margin: 10px;
        @media only screen and (max-width: 991px) {
          margin-left: 3px;
        }
      }
      form,
      input {
        width: 100%;
      }
      form {
        margin-right: 12px;
        @media only screen and (max-width: 991px) {
          margin-bottom: 12px;
        }
      }
    }
    .fa-caret-down {
      color: $blue-secondary;
      margin-left: 8px;
    }
    .search-group {
      display: flex;
      width: 100%;
      @media only screen and (max-width: 991px) {
        margin-top: 20px;
      }
    }

    .dropdown-menu {
      background-color: $white;
      .dropdown-item {
        padding: 16px;
        color: $gray;
        &:hover {
          background-color: $gray-lighter;
          color: $gray;
        }
      }
      .disabled {
        background-color: $gray-lightest;
        color: $gray-lighter;
      }
    }
    .navbar-toggler {
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: rgba(68, 107, 168, 0.2);
      }
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }
    }

    .navbar-collapse {
      background-color: $blue;
      color: $white;
    }

    .form-control--bright {
      border: 0px;
      background-color: white;
      color: #446ba8;
      font-size: 12px;
      font-weight: bold;
      line-height: 14px;
    }
    .btn--dark {
      background: linear-gradient(90deg, #446ba8 0%, #5281cc 100%);
      color: $white;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    .container {
      width: 100%;
    }
  }
}

#navbar {
  justify-content: space-between;
}

.bg-faded {
  background-color: $blue;
  height: 60px;
}

.vertical-border-nav {
  border-right: 1px solid rgba(68, 107, 168, 0.2);
  @media only screen and (max-width: 991px) {
    border: none;
  }
}

.navbar-brand {
  img {
    margin-top: 4px;
  }
}

.navbar-nav-logout {
  .links-logout {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @media only screen and (max-width: 991px) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
