.post-card {
  padding-top: 160px;
  margin-top: -160px;
  .post {
    display: flex;
    flex-direction: column;
    &__author {
      display: flex;
      align-items: center;
      width: 100%;
    }
    &__date {
      margin-left: auto;
      align-self: center;
      text-align: right;
      p {
        margin-bottom: 0;
      }
    }
    &__actions {
      display: flex;
      justify-content: space-between;
    }
    .spacer {
      margin-top: 0;
    }
  }

  .toggle-data {
    width: 25px;
    height: 25px;
    display: inline-block;
    &:hover {
      background-color: $gray-lighter;
    }
    .fa-ellipsis-v {
      position: relative;
      left: 43%;
      top: 12%;
      color: $blue;
    }
  }

  .dropdown {
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    background-color: $gray-lightest;
    cursor: pointer;
  }
}

.post {
  &__comments {
    .input-group {
      padding: 0;
      input {
        background: $white;
        font-family: "Poppins", sans-serif;
      }
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $gray-light;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $gray-light;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $gray-light;
      }
    }
    .no-padding > :first-child {
      padding: 0;
    }
    #comment_text {
      border-radius: 4px;
    }
  }

  &__actions {
    .fa-share-alt {
      margin-left: 7px;
      margin-bottom: 11px;
      color: $blue-secondary;
      cursor: pointer;
    }
    .fa-angle-down,
    .fa-angle-up {
      margin-left: 14px;
    }
  }
}

.container-stream {
  .card-block {
    padding: 25px;
  }
}

.card {
  .fa-comment-o {
    margin-left: 5px;
  }
}

.container-video {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: inherit;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.gogetty-post {
  display: inline;
  cursor: default;
  img {
    margin: 6px 10px 4px 12px;
  }
}

.btn-square {
  border-radius: 4px;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  font-weight: 200;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.btn-square-post {
  border-radius: 4px;
  margin-left: 8px !important;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  font-weight: 200;
  font-size: 12px;
}

.show-post-log-out {
  .bottom-info {
    background-color: $gray-lightest;
  }
}
