.range-sliders {
  display: flex;
  justify-content: start;
}
.range-slider-gender,
.range-slider-ethnicity {
  .range-line {
    display: flex;
    width: 108px;
    margin: 0 auto;
  }
  input {
    box-shadow: 0;
    outline: 0;
  }
  .inputs {
    input {
      font-size: 14px !important;
      font-weight: 200;
      width: 38px;
      height: 38px;
      border-radius: 4px;
      margin: 0 8px;
    }
  }
  .range-slider {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 6em;
  }
  .range-slider svg,
  .range-slider input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  input[type="number"] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"]:invalid,
  input[type="number"]:out-of-range {
    border: 2px solid $red;
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #9ad1dc;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: $gray-light;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: $gray-light;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #9ad1dc;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 2px solid $black;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: $white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: $gray-light;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type="range"]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 2px solid $black;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: $white;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower,
  input[type="range"]::-ms-fill-upper {
    background: $gray-light;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type="range"]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 2px solid $black;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: $white;
    cursor: pointer;
  }
  .slider-input {
    width: 90px;
    margin-left: 8px;
    height: 6px;
  }
  .ui-slider-handle {
    border: 2px solid $black !important;
    border-radius: 50% !important;
    background: $white !important;
    top: -7px !important;
  }
  .ui-slider-range {
    background: #9ad1dc;
  }
  .ui-widget.ui-widget-content {
    border: 0;
    background-color: $gray-light;
  }
}
