.score-graph {
  position: relative;
  width: 174px;
  margin: 0 auto;

  &__value-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__value {
    font-size: 38px;
    text-transform: uppercase;
    color: $gray-dark;
    font-weight: 600;
 
    &-label {
      position: absolute;
      left: 54px;
      bottom: 42px;
      color: #4F7CC1;
      font-size: 12px;
    }
  }

  &__logo {
    background: -webkit-linear-gradient(#446BA8, #68A5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .score-graph-small {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;

    &__value-wrapper {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 4px;
      left: 4px;
      bottom: 13px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #fff;
      border-radius: 50%;
    }

    &__desc { 
      &--women, &--men {
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
      }
      &--women {
        color: #FF2E63;
      }
    }

    &__value {
      color: #446BA8;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;

      &--women, &--men {
        margin-bottom: 0;
        display: inline-block;
        line-height: 20px;
        font-size: 16px;
      }

      &--women {
        color: #FF2E63;
      }
    }

    &__head-wrapper {
      position: relative;
    }

    &__head {
      width: 13px;
      height: 18px;
      margin-left: 5px;
    }
  }

  &--thumb {
    width: 50px;
    height: 50px;
    .score-graph__value {
      font-size: 14px;
    }
  }

  &--tile {
    width: 95px;
    height: 95px;
    .score-graph__value {
      font-size: 14px;
    }
  }
}
