::-ms-clear {
  display: none;
}

.search {
  background-color: $blue;
  .search_and_button {
    display: flex;
  }
  .search_input {
    width: 100%;
  }

  .form-control {
    border-radius: 4px;
    height:40px;
  }

  @media only screen and (max-width: 768px) {
    .search_and_button {
      display: inherit;
      text-align: center;
    }
  }

  h1 {
    color: $white;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
  }
  h3 {
    color: $white;
    font-size: 24px;
    text-align: center;
  }
  .btn-square {
    width: 120px;
  }
  .add_company_button {
    display: flex;
    justify-content: center;
    .btn-square {
      width: auto;
    }
  }
  .btn-link {
    padding: 2px;
    color: #999;
  }

  .btn-link--current {
    color: $black;
  }

  .btn-link:hover {
    color: #446ba8;
  }

  .btn-secondary {
    height: 45px;
    width: 150px;
    background: transparent;
    border-radius: 100px;
    color: #446ba8;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #446ba8;
  }
  .btn-secondary:hover {
    background: white;
  }
  #form_company_search_new_diversity_score {
    color: #999;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    width: 105%;
    text-align: center;
    margin-left: -5px;
  }
  .search__caption {
    line-height: 33px;
  }
  .form-control--transparent {
    background: transparent;
  }
  .form-control--transparent:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .simple {
    color: #464a4c;
    border: 0px;
    border-radius: 5px;
    height: 35px !important;
  }
  #slider-range-0-50 {
    width: 80%;
    margin: auto;
  }
  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #464a4c;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #464a4c;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #464a4c;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #464a4c;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #464a4c;
  }
}

.container-search {
  margin: 0;
  padding: 0;
  width: 100% !important;
}
