.secondary-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  .follow,
  .unfollow {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    padding: 10px 24px;
    margin: 0;
  }
  .breadcrumbs {
    display: flex;
    justify-content: space-evenly;
    .breadcrumb-nav {
      a {
        color: $gray;
        cursor: pointer;
        &:hover {
          color: $blue-secondary;
        }
      }
    }
    .separator {
      font-size: 12px;
      color: $gray;
      margin: 0 12px;
    }
    .label-active {
      color: $blue-secondary;
    }
  }
  .admin-section {
    display: flex;
    align-items: center;
  }
}

.horizontal-border {
  margin-bottom: 20px;
}

// fixed navbar
.secondary-navbar-fixed {
  justify-content: space-between;
  min-height: 98px;

  .admin-actions,
  .company-details {
    display: flex;
    align-items: center;
  }
  .secondary-navbar__company-logo {
    width: 65px;
    height: 65px;
    img {
      width: auto;
      height: auto;
    }
  }
  .secondary-navbar__company-name {
    font-size: 24px;
  }
  .paragraph-gray {
    font-size: 14px;
    margin: 0;
  }
  .female {
    color: $red;
  }
  .male {
    color: $blue-secondary;
  }
}

.full-width-fixed-navbar {
  z-index: 12;
  background-color: $white;
  position: fixed;
  top: 60px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.1);
}

.show-fixed-navbar {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.admin {
  white-space: nowrap;
  text-decoration: underline;
  &:after {
    content: "  +";
  }
}
