.settings_screen {
  input[type=text], input[type=email], input[type=password], select {
  	border-radius: 5px;
  	background-color: #F7F7F7;
    color: #999999;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
  }

  input[type=checkbox] {
    margin-right: 10px;
  }

  h4 {
  	height: 16px;
  	width: 108px;
  	color: #14284B;
  	font-family: Roboto;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 16px;
  }

  .btn-secondary {
    box-sizing: border-box;
    height: 46px;
    width: 218px;
    border: 1px solid #5177B4;
    border-radius: 100px;
    color: #5177B4;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  .btn-primary {
    height: 40px;
    width: 100px;
  }

  label {
    display: none;
  }

  label.boolean {
    display: initial;
  }

  a {
		color: #A3A3A3;
  	font-family: Roboto;
  	font-size: 14px;
  	line-height: 24px;
  	text-align: center;
  }
  span.help-block {
    color: red;
  }
	font-family: Roboto;
  font-size: 14px;
  min-height: 600px;

  .subscribe_btn {
      height: 46px;
      width: 218px;
      border-radius: 100px;
      background-color:#446BA8;
      font-family: Roboto;
      font-size: 14px;
      text-align: center;
      color: #fff;
      opacity: 1;
      margin-top: 20px;
      line-height: 46px;
       a {
          opacity: 1;
          color: #fff;
          font-weight: 500;
       }
    }

  .back_btn {
      line-height: 28px;
  }
}
.platform_settings {
  label {
    display: inherit;
    float: left;
  }
  label.boolean {
    display: contents;
  }
}
