h1.signup {
  color: white;
  font-family: Optima;
  font-size: 44px;
  font-weight: bold;
  line-height: 47px;
  text-align: center;
}

a.signup {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.btn--mail-signup {
  box-sizing: border-box;
  height: 46px;
  width: 218px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.btn--linkedin-signup {
  height: 45px;
  width: 217px;
  border-radius: 100px;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  box-shadow: 0 17px 45px 0 #446ba8;
  color: #446ba8;
}

.card--greyed {
  opacity: 0.5;
}

.card--signup-types {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(20, 40, 75, 0.6);

  a.right {
    .card-block {
      padding: 25px 20px;
    }
  }

  .card-title {
    color: #14284b;
    font-family: Optima;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
  }

  .big {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
  }

  .card-subtitle {
    color: #14284b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
  }

  .card-text {
    color: #999999;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

  .card-header {
    background-color: #ffffff;
    padding: 3rem 0.75rem 1.25rem;
  }

  .card-footer {
    background-color: #ffffff;
    padding-bottom: 60px;
  }

  .card-text--under-title {
    min-height: 48px;
  }

  //.card-block--240 {
  //  height: 240px;
  //}

  .btn-primary {
    height: 45px;
    width: 217px;
    border-radius: 100px;
    background: linear-gradient(90deg, #446ba8 0%, #5281cc 100%);
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    box-shadow: 0 22px 50px 0 rgba(68, 107, 168, 0.8);
  }

  .btn-secondary {
    height: 45px;
    width: 217px;
    border-radius: 100px;
    border: 1px solid #5177b4;
    border-radius: 100px;
    color: #5177b4;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}

.signup-form__container {
  position: relative;
  height: 562px;
}
.signup-form__container--under {
}
.signup-form__container--over {
  float: right;
  position: absolute;
  min-width: 40%;
  max-width: 500px;
  height: 700px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(20, 40, 75, 0.6);
  right: 0px;
  top: 0px;
  padding-bottom: 50px;
  margin-top: -90px;

  h1 {
    color: #14284b;
    font-family: Optima;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    padding: 30px;
  }

  input[type="email"],
  input[type="password"] {
    height: 45px;
    border-radius: 5px;
    background-color: #f7f7f7;
  }

  .btn {
    height: 45px;
    width: 217px;
    border-radius: 100px;
    color: #4a6eaf;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .signup-form__container--under {
    display: none;
  }
  .signup-form__container--over {
    float: none;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.login-image {
  background-image: url("../../../../assets/images/login-BG-v2.png");
  background-size: cover;
  background-position: right;
  height: 100vh;
}

.forms {
  padding: 80px 80px 0 0;
  @media (max-width: 600px) {
    padding: 60px 10px 0 0;
  }
  h6 {
    font-weight: 200;
    font-size: 16px;
  }
  .btn-square {
    width: 280px;
  }
  .nav-pills {
    .nav-item {
      font-size: 20px;
      .active {
        background: $white;
        font-weight: 600;
        color: $black;
      }
      a {
        padding: 0;
      }
    }
  }
  .paragraph-link {
    color: $gray;
    font-size: 12px;
  }
  .form-group {
    input {
      background: $white;
      font-family: "Poppins", sans-serif;
      border-radius: 4px;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $gray-light;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $gray-light;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $gray-light;
    }
  }
  .fa-linkedin {
    margin-right: 48px;
  }
  .btn-linkedin {
    border: 0;
    text-align: left;
    color: $blue-secondary;
    background-color: #d9e9f4;
    &:hover {
      background-color: $gray-lighter;
    }
  }
  .no-decoration {
    text-decoration: none;
  }
  .terms-checkbox {
    label.with-square-checkbox {
      cursor: pointer;
    }
    label.with-square-checkbox span {
      line-height: 16px;
    }
    label.with-square-checkbox span::before {
      margin-right: 12px;
      width: 24px;
      height: 24px;
      border: 1px solid $gray-lighter;
      border-radius: 4px;
      display: inline-block;
      line-height: 16px;
      font-family: FontAwesome;
      content: "\f00c";
      color: $white;
      padding-left: 5px;
      padding-top: 3px;
    }
    label.with-square-checkbox input[type="checkbox"] {
      display: none;
    }
    label.with-square-checkbox input[type="checkbox"]:checked + span::before {
      font-family: FontAwesome;
      content: "\f00c";
      color: $gray;
      background-color: $gray-lighter;
      padding-left: 5px;
      padding-top: 3px;
    }
    li {
      list-style-type: none;
    }
  }
  .form-group-flex {
    display: flex;
  }
}

.forgot-password {
  h3 {
    color: $white;
    font-family: "Poppins", sans-serif;
  }
}
