.anchor {
  display: block;
  position: relative;
  top: -58px;
  visibility: hidden;
  &__lower {
    top: -140px;
  }
}

.solutions {
  position: relative;
  font-family: "Poppins", sans-serif;
  .btn-primary {
    width: 148px;
    border-radius: 100px;
    background: linear-gradient(90deg, #446ba8 0%, #5281cc 100%);
    color: $white;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    font-weight: normal;
    &:hover {
      color: $gray-lighter;
    }
    &--small {
      height: 30px;
      width: 138.07px;
      border-radius: 15px;
      line-height: 12px;
      font-size: 12px;
    }
    &--narrow {
      width: 180px;
    }
  }
  .btn-secondary {
    height: 30px;
    width: 143px;
    border-radius: 15px;
    color: #446ba8;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    border: #446ba8 1px solid;
  }
  #become_partner_btn {
    width: unset;
  }
}

input[type="email"] {
  border-radius: 5px;
  background-color: $gray-lightest;
}

.solutions__content {
  z-index: 1;
  margin-bottom: 50px;
}

.solution-card {
  margin: 12px;
  height: 100%;
  padding-bottom: 20px;
}

.solutions__header {
  border: 1px solid $gray-lighter;
  border-radius: 4px;
  background: linear-gradient(188.91deg, $gray-lightest 0%, $white 60%);
  padding: 20px;
  height: 100%;
  h1 {
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
  h3 {
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
  }
  h5 {
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
  }
}

.solutions__header_img {
  margin-top: -50px;
  img {
    @media only screen and (max-width: 1200px) {
      width: 220px;
    }
  }
}

.margin-negative {
  margin-bottom: -50px;
}

.solutions__step {
  background: $white;
  padding: 10px 20px;
  @media only screen and (min-width: 990px) {
    padding-left: 70px;
    padding-right: 70px;
  }
  hr {
    margin-top: 30px;
  }
  .hr--dark {
    border-top: 1px solid $gray-light;
  }
  h1 {
    line-height: 27px;
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  h2 {
    text-transform: uppercase;
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
  }
  h4 {
    color: $gray;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
    font-weight: normal;
  }
  .image-container {
    height: 44px;
    width: 44px;
    border: 1px solid $red;
    background-color: $white;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    img {
      margin-top: 5px;
    }
    &--big {
      img {
        margin-top: 9px;
        height: 42px;
        width: 42px;
      }
      height: 64px;
      width: 64px;
    }
  }
  &--detailed {
    justify-content: center;
    h1 {
      text-align: center;
    }
    hr {
      border-top: 2px solid $red;
      width: 60px;
      padding-bottom: 20px;
      @media only screen and (min-width: 990px) {
        padding-bottom: 60px;
      }
    }
    .keynote {
      border: 2px solid #5177b4;
      margin-bottom: 50px;
      @media only screen and (min-width: 990px) {
        margin-bottom: 130px;
      }
      .bg-white {
        background: $white;
        color: $blue-secondary;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 19px;
        margin: -0.7em 2em;
        padding: 0px 8px;
      }
      h1 {
        color: $black;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: normal;
        line-height: 23px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 0px;
        padding-left: 38px;
        padding-right: 38px;
      }
      hr {
        width: 60px;
        border-top: 2px solid $gray-lighter;
        margin-top: 30px;
        padding: 0px;
      }
      h2 {
        color: $gray;
        font-family: "Poppins", sans-serif;
        text-align: justify;
        font-size: 14px;
        line-height: 19px;
        font-weight: normal;
        text-transform: none;
      }
      h3 {
        color: $blue-secondary;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        line-height: 19px;
        font-weight: normal;
      }
      h4 {
        color: $gray;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        line-height: 19px;
        padding: 0px;
        margin: 0px;
        font-weight: normal;
      }
    }
  }
  .step__header {
    padding-top: 90px;
    padding-bottom: 40px;
  }
}

.keynote-content {
  padding: 25px 38px;
}

.keynote__button_container {
  float: left;
  margin-top: 30px;
  @media only screen and (min-width: 990px) {
    margin-top: 60px;
  }
  width: 100%;
  height: 1px;
  .keynote__button {
    margin-top: -23px;
    margin-left: 30px;
  }
}

.solutions__steps_divider {
  margin: 0px -15px;
  hr {
    margin: 11px auto;
    height: 2px;
    width: 70px;
    border: 0px;
    background-color: $red;
  }
}

.solutions__footer-cardlike {
  box-sizing: border-box;
  border: 1px solid $gray-lighter;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 12px 28px 0 rgba(197, 141, 141, 0.04);
  padding: 20px;
  @media only screen and (min-width: 990px) {
    margin-left: -70px;
    margin-right: -40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  h3 {
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 22px;
  }
  h5 {
    color: $gray;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
  }
}

.solutions__footer {
  background: $white;
  padding: 0px 20px;
  padding-bottom: 20px;
  @media only screen and (min-width: 990px) {
    padding-left: 100px;
    padding-right: 70px;
    padding-bottom: 50px;
  }
  &--detailed {
    @media only screen and (min-width: 990px) {
      margin-top: -80px;
    }
  }
}

.solutions__footer--gradiented {
  margin-bottom: 0px;
  border-radius: 0 0 0 5px;
  background: linear-gradient(187.97deg, #ecf1f4 0%, $white 100%);
  padding-top: 30px;
  @media only screen and (min-width: 990px) {
    padding-top: 90px;
  }
  h1 {
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
  }
  h4 {
    color: $gray;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    padding-bottom: 12px;
  }
  .img-bg {
    opacity: 0.06;
    margin-right: -50px;
    margin-top: -70px;
    height: 350px;
    width: 350px;
  }
  .img-services {
    margin-left: -10px;
    margin-right: 12px;
  }
}

.solutions__menu {
  border-radius: 0 5px 0 0;
  background-color: $gray-lightest;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.02);
  padding: 0px;
  margin-top: 12px;
  h1 {
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
  }
}

.solutions__menu--sticky {
  padding-bottom: 60px;
  @media only screen and (min-width: 990px) {
    position: sticky;
    top: 60px;
    overflow-y: scroll;
    height: calc(100vh - 62px);
    padding-bottom: 0px;
  }
}

.solutions__menu_header {
  padding: 20px;
}

.solutions__menu_content--selected {
  background-color: $white;
}

.solutions__menu_content--whole_link {
  position: relative;
  a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.solutions__menu_content {
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.02);
  width: 100%;
  img {
    margin-right: 20px;
    margin-top: -10px;
  }
  h4 {
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    a {
      font-family: "Poppins", sans-serif;
      font-weight: 200;
    }
  }
  h5 {
    padding-bottom: 20px;
    color: $gray;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
  }
  ul {
    list-style-type: decimal;
    color: $black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding-left: 15px;
    ul {
      list-style-type: disc;
    }
    a.active {
      font-weight: bold;
      color: #9ad1dc !important;
      text-shadow: $black;
    }
    a {
      padding: 0px;
    }
  }
}

body {
  position: relative;
}
.solutions-companies {
  background-image: url("../../../../assets/images/BG-for-companies.svg");
}
.solutions-talents {
  background-image: url("../../../../assets/images/BG-for-talents.svg");
}
.solutions-partners {
  background-image: url("../../../../assets/images/BG-for-solution-partners.svg");
}
.solutions-page {
  background-color: $white;
  h2 {
    font-size: 38px;
  }
  .paragraph {
    color: $black;
    font-size: 18px;
  }
  .paragraph-gray {
    color: $white;
  }
  .content-column {
    max-width: 472px;
    @media (max-width: 996px) {
      margin: 0 auto;
    }
  }
  .flex-display-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .flex-display-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .flex-display-img {
    display: flex;
    justify-content: center;
  }
  .mobile-center {
    @media (max-width: 996px) {
      justify-content: center;
      display: flex;
    }
  }
  .navbar-light {
    background-color: #273a5c;
  }
  .navbar-brand {
    color: $white;
    font-size: 16px !important;
    margin: 12px 16px;
    &:hover {
      color: $gray-light;
    }
    &:active,
    &:visited,
    &:focus {
      color: $white;
    }
  }
  .navbar-brand-active {
    font-weight: 600;
  }
  .solutions-header {
    background-color: $blue;
    padding: 120px 10px;
    .header-content {
      max-width: 800px;
      margin: 0 auto;
      .paragraph {
        max-width: 560px;
        margin: 0 auto;
      }
    }
    h1 {
      color: $white;
      font-family: "Poppins", sans-serif;
      font-size: 48px;
    }
    .paragraph,
    h1 {
      text-align: center;
    }
    .btn-transparent {
      color: $blue-secondary;
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      max-width: 280px;
      margin: 0 auto;
    }
  }
  .solutions-footer {
    background-color: $gray-lightest;
    padding: 120px 10px;
    text-align: center;
    .solutions-card {
      background-color: $white;
      box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.05);
      img {
        min-height: 212px;
      }
    }
    h4 {
      color: $blue;
      font-size: 24px;
    }
  }
}

.image-container {
  height: 32px;
  width: 32px;
  border: 1px solid $red;
  background-color: $white;
  border-radius: 50px;
  text-align: center;
  margin-right: 16px;
  img {
    margin-top: 6px;
    width: 20px;
  }
}

.flex-icons {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
