.sub-card-deck .card {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 0 0 257px;
  width: 257px;
}

.sub-card-deck .card:not(:last-child) {
  margin-right: 10px;
}

.sub-card-deck .card:not(:first-child) {
  margin-left: 10px;
}

hr.subscription {
  max-width: 2.5rem;
}

.subscriptions {
  width: 100%;
  height: 100%;
  background-color: $white;
  &_header {
    background-color: $blue;
    text-align: center;
    padding-bottom: 80px;
    &-confirm {
      padding-bottom: 0px;
    }
    .control-label {
      color: $gray;
      font-size: 12px;
    }
    .form-control {
      border-radius: 3px;
    }
  }
  .text-centered {
    text-align: center;
  }
  .flex-header {
    display: flex;
    align-items: center;
  }
  &_body {
    margin-top: -93px;
    &-confirm {
      max-width: 800px;
      margin: 0 auto;
    }
    &-details-tile {
      display: flex;
      justify-content: space-between;
      padding: 20px 16px;
    }
    &-details-tile-item {
      color: $gray-dark;
    }
    .horizontal-border {
      margin: 0;
    }
    &-card {
      border-radius: 3px;
      text-align: center;
      margin: 20px 0px;
      .card-header {
        background-color: $gray-lighter;
        &:first-child {
          border-radius: 0;
        }
        h6 {
          color: $gray;
          margin: 0;
          font-weight: 200;
        }
      }
      .card-subheader {
        border: 1px solid #f9f9f9;
        h1 {
          color: $blue;
        }
      }
      .card-body {
        .card-body-item {
          color: $gray;
          padding: 20px;
          border: 1px solid #f9f9f9;
          .fa-check,
          .fa-times {
            margin-left: 3px;
          }
        }
        .btn-default {
          border-radius: 6px;
          font-family: "Poppins", sans-serif;
          padding: 14px;
        }
        .btn-transparent {
          background-color: $white;
          border: 1px solid $blue-secondary;
          color: $blue-secondary;
          &:hover {
            background-color: $gray-lighter;
          }
        }
        .card-flex {
          display: flex;
          justify-content: center;
          .fa-check,
          .fa-times {
            align-self: center;
            margin-left: 3px;
          }
        }
        .new-lable {
          float: none;
        }
      }
    }
  }
  &_footer {
    .btn-default {
      border-radius: 4px;
      width: 240px;
      font-family: "Poppins", sans-serif;
      margin: 0 auto;
      a {
        color: $white;
        font-family: "Poppins", sans-serif;
      }
    }
    input.take-me-back-btn {
      width: 250px;
    }
    .paragraph-small {
      margin: 0 auto;
    }
    .fa-lock {
      margin-right: 5px;
    }
  }
  h1 {
    color: $white;
    text-align: center;
    margin: 0 auto;
  }
  .paragraph-small {
    color: $gray;
  }
  .new-label {
    float: right;
    font-size: 10px;
    .fa-heart-o {
      color: $red;
      margin: 0 3px;
    }
  }
}
.align-stripe {
  text-align: center;
}
.stripe-button-el {
  border-radius: 3px;
  span {
    background: $blue-secondary !important;
    border: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    font-size: 14px;
    background-image: none;
  }
}

.charges-new {
  margin-top: 0;
}

.charges-completed {
  margin-top: 0;
  h1 {
    color: $blue;
  }
  .fa-check {
    font-size: 60px;
    color: $blue;
    display: inline-block;
    border-radius: 82px;
    box-shadow: 0px 0px 24px $gray-lighter;
    padding: 50px;
    background-color: $white;
  }
}

.confirm-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.strong-opacity {
  opacity: 0.3;
  .card-header {
    opacity: 1;
  }
}

.coupon {
  font-size: 20px;
  color: $white;
}