.talents {
  background-image: url("../../../../assets/images/people-BG.svg");
  background: linear-gradient(180deg, #14284b 0%, #224580 100%);
  height: 100vh;
  margin-top: -60px;
  display: flex;
  align-items: center;
  .navbar-brand {
    img {
      width: 140px;
    }
  }
  .header {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .header-img {
    background-image: url("../../../../assets/images/laptop-min.png");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 660px;
    background-size: 46vw auto;
    @media (max-width: 996px) {
      background-image: none;
    }
  }
  .container-fluid-content {
    min-height: 620px;
    display: flex;
    align-items: center;
  }
  .header__content {
    height: auto;
    @media (max-width: 996px) {
      padding-top: 0 !important;
    }
  }
  .img-fluid-macbook {
    @media (min-width: 700px) and (max-width: 996px) {
      max-width: 540px;
      margin: 0 auto;
    }
  }
  .flex-display {
    display: flex;
    align-items: center;
  }
  .background-float {
    position: absolute;
    top: 7%;
    left: 4%;
    max-width: 600px;
    opacity: 0.6;
  }
  .background-float-2 {
    position: absolute;
    top: 100px;
    right: 0;
  }
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    text-align: left;
    text-transform: none;
  }
  .lead {
    text-align: left;
    font-family: "Poppins", sans-serif;
  }
  .btn-square {
    border-radius: 4px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 200;
    padding: 12px 56px;
    background: $white;
    color: $blue-secondary;
    &:hover {
      background: $gray-lighter;
    }
  }
  .the-team,
  .fa-arrow-right {
    color: $white;
  }
  .the-team:hover {
    color: $gray-lighter;
    text-decoration: underline;
  }
}
