.card_update_form{
	max-width: 650px;
	width: 100%;
	margin:30px auto;
	padding: 30px;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
}

.card_update_form .card{
	box-shadow: 0px 0px 0px;
}

.pay_btn{
	display: inline-block;
	padding: 8px 12px;
	background: #446BA8;
	color: #fff;
	border:none;
	border-radius: 30px;
}

.payment{
  text-align: center;
  color: red;
  margin-bottom: 20px;
}
