@for $i from 1 through 50 {
  .w-#{$i * 10}px { width: $i * 10px; }
  .h-#{$i * 10}px { height: $i * 10px; }
}

.lh-16 {
  line-height: 16px;
  height: 16px;
}

.text-blue {
  color: #446BA8;
}

.text-pink {
  color: #FF2E63;
}

.fs-12 {
  font-size: 12px;
}
