.wall {
  font-family: "Poppins", sans-serif;
  background-color: rgba(68, 107, 168, 0.04);
  .card-img-top {
    box-shadow: 0px 0px 8px $gray-light;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .card-border {
    border: 1px solid $gray-lighter;
  }
  .wall-header {
    background-color: $blue;
    border-radius: 0;
    .paragraph {
      color: $gray;
    }
    .paragarph-user-details,
    .label {
      color: $white;
    }
  }
  h1 {
    color: $white;
  }
  h6 {
    color: $black;
  }
  .card {
    box-shadow: 0 8px 24px -4px rgba(20, 40, 75, 0.1);
  }
  .company_tile {
    box-shadow: none;
    border: 1px solid $gray-lighter;
    .card-subtitle,
    .paragraph-small {
      text-align: left;
    }
    .card-subtitle {
      font-size: 14px;
      color: $black;
      font-weight: 600;
    }
    .company_info-featured {
      display: flex;
      align-items: flex-end;
      .card-title {
        margin-bottom: 0px;
        .paragraph-small {
          color: $black;
        }
      }
    }
    .company_info-values {
      text-align: left;
      display: flex;
      .label-scores {
        position: absolute;
        font-size: 10px;
        bottom: 12px;
      }
      .label-extra-small {
        font-size: 10px;
        margin-bottom: 0;
        line-height: 12px;
        .span-value {
          color: $black;
          font-weight: 600;
        }
      }
      .paragraph-small {
        position: relative;
      }
    }
  }
  .score-graph--tile {
    width: 60px;
    height: 60px;
  }
  .company_info-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $gray-lightest;
  }
  .learn-more,
  .show-profile {
    display: flex;
    align-items: center;
    .btn-link {
      text-decoration: underline;
      padding: 0;
      margin-right: 3px;
    }
  }
  .show-profile {
    width: 100%;
  }
  .fa-info-circle,
  .fa-arrow-right {
    color: $blue;
    font-size: 12px;
    margin-left: 3px;
  }
  .center-btn {
    display: flex;
    justify-content: center;
    .btn-primary {
      font-family: "Poppins", sans-serif;
      min-width: 232px;
      a {
        color: $white;
      }
    }
  }
  .horizontal-border {
    margin-bottom: 0;
  }
  .horizontal-border-top {
    padding: 16px;
  }
  .follow,
  .unfollow {
    font-size: 12px;
    margin: 0;
    @extend .btn-square;
  }
  .recently-posts {
    border-left: 1px solid #9ad1dc;
    background-color: #f4fafb;
    text-align: left;
    padding: 4px 16px;
    .recently-flex {
      display: flex;
      align-items: baseline;
    }
    .paragraph-small {
      color: $gray-dark;
    }
    .label-scores {
      margin-bottom: 0px;
    }
    .fa-comment-o {
      color: #9ad1dc;
      margin-left: 0;
      margin-right: 4px;
    }
  }
}

.wall-search {
  background-color: $white;
  .card {
    border: 1px solid $gray-lighter;
    border-radius: 0;
    box-shadow: 0px 0px 8px $gray-lighter;
    height: 100%;
  }
  .card-img-top {
    margin: 0 auto;
  }
  .company_info-values {
    text-align: left;
    padding: 15px;
  }
  .card-title {
    margin-bottom: 0;
    .label {
      margin-bottom: 0;
    }
  }
  .chart-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fa-info-circle {
      font-size: 14px;
      color: $blue-secondary;
      cursor: pointer;
    }
    .chart-result {
      display: flex;
      align-items: center;
      .paragraph-small {
        font-size: 14px;
        color: $black;
      }
      h6 {
        margin-left: 4px;
      }
      .label-extra-small {
        font-size: 10px;
        .span-value {
          color: $black;
          font-weight: 600;
        }
      }
    }
  }
  .card-subtitle {
    font-size: 16px;
    color: $black;
    font-weight: 600;
    line-height: 20px;
  }
}
