$container-grid-gap: 16px;
.wall__container_grid {
  @include make-container();
  @include make-container-max-widths();
  display: -ms-grid;
  -ms-grid-columns: 100%;
  -ms-grid-rows: auto;
  //margin-left: auto;
  //margin-right: auto;
  display: grid;
  //max-width: 1440px;
  // grid-gap: 20px;
  grid-template-columns: 100%;
  grid-template-columns: 3;
  grid-template-rows: 4;
  grid-template-areas:
          'wall__container_summary'
          'wall__container_featured'
          'wall__container_search'
          'wall__container_followed'
          'wall__container_stream';
  h1 {
  	color: #14284B;
  	font-family: Optima;
  	font-size: 15px;
  	font-weight: bold;
  	line-height: 18px;
  	text-align: center;
  }
}

.wall__container_summary {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
  grid-area: wall__container_summary;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  h3 {
  	color: #14284B;
  	font-family: Optima;
  	font-size: 18px;
  	font-weight: bold;
  	line-height: 22px;
  	text-align: center;
    margin-bottom: 0;
  }
  h4 {
  	color: #999999;
  	font-family: Roboto;
  	font-size: 14px;
  	line-height: 24px;
  	text-align: center;
  }
}

.wall__container_featured {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
  grid-area: wall__container_featured;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.wall__container_search {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
  grid-area: wall__container_search;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
	height: 149px;
	border-radius: 5px;
	background: linear-gradient(90deg, #446BA8 0%, #5281CC 100%);
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.02);
  .btn--bright {
    border: 0px;
    background: white;
    color: #446BA8;
  }
  .form-control--bright {
      border: 0px;
      background: #EEEEEE;
      color: #446BA8;
      font-family: Roboto;
      font-size: 12px;
      font-weight: bold;
      line-height: 14px;
      width: 100%;
    	height: 45px;
  }
  p.white a {
  	color: #FFFFFF;
  	font-family: Roboto;
  	font-size: 14px;
  	line-height: 24px;
  }
}

.wall__container_stream {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
  grid-area: wall__container_stream;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.wall__container_followed {
  width: calc(100% - 16px);
  margin: $container-grid-gap/2;
  grid-area: wall__container_followed;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  h3 {
  	color: #14284B;
  	font-family: Optima;
  	font-size: 15px;
  	font-weight: bold;
  	line-height: 18px;
    margin-bottom: 0px;
  }
  h4 {
  	color: #999999;
  	font-family: Roboto;
  	font-size: 12px;
  	line-height: 20px;
    margin-bottom: 0px;
  }
  .score {
  	color: #446BA8;
  	font-family: Roboto;
  	font-size: 14px;
  	line-height: 24px;
  	text-align: center;
    .col-6 {
      white-space: nowrap;
      padding: 0px;
    }
    .right-border {
      border-right: 1px #446BA8 solid;
    }
  }
}

@media only screen and (min-width: 992px) {
  .wall__container_grid {
    display: -ms-grid;
    -ms-grid-columns: 25% 50% 25%;
    //margin-left: auto;
    //margin-right: auto;
    display: grid;
    //max-width: 1440px;
    grid-template-columns: 25% 50% 25%;
    grid-template-columns: 3;
    grid-template-rows: 4;
    grid-template-areas:
            'wall__container_summary wall__container_featured wall__container_followed'
            'none wall__container_featured wall__container_followed'
            'none wall__container_search wall__container_followed'
            'none wall__container_stream wall__container_followed'
  }
  .wall__container_summary {
    grid-area: wall__container_summary;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .wall__container_featured {
    grid-area: wall__container_featured;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-span: 2;
  }

  .wall__container_search {
    grid-area: wall__container_search;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .wall__container_stream {
    grid-area: wall__container_stream;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  .wall__container_followed {
    grid-area: wall__container_followed;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-row-span: 4;
  }
}
