== render layout: 'user_logged/company_settings/layout' do
  h2 Diversity & Inclusion Policies requests
  = paginate @policy_requests
  table.table
    tr
      th Created at
      th Comment
      th Response
      / th Resolved?
      th Sub requests
    - @policy_requests.each do |policy_request|
      tr
        td= policy_request.created_at
        td= policy_request.comment
        td= policy_request.response
        / td= policy_request.resolved.humanize
        td
          - policy_request.diversity_policies_policy_requests.each do |diversity_policies_policy_request|
            = "- #{diversity_policies_policy_request.diversity_policy.name}"
            br
  = paginate @policy_requests
