td
  = link_to user.email, user_logged_platform_settings_user_path(user)
td
  = simple_form_for(user, url: user_logged_platform_settings_users_path) do |f|
    = f.input :role, collection: options_for_roles_select, include_blank: false
    = f.button :submit, 'Change Role', class: 'button-xs'
td
  = link_to("Delete user", user_logged_platform_settings_user_path(user), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs') unless user == current_user
