== render layout: 'user_logged/platform_settings/layout' do
  = link_to 'Download as CSV', user_logged_platform_settings_user_exports_path
  = paginate @users
  table.table.table-responsive
    tr
      th Nr
      th Date joined
      th Name
      th Mail
      th Account Type
      th Admin for
      th Can be billed monthly
      th Platform Role
      th Actions
    - @users.each_with_index do |user, index|
      tr
        td= number_for_order(index)
        td= user.created_at.strftime('%d-%m %Y')
        td= "#{user.name} #{user.surname}"
        td= user.email
        td
          - if UsersPolicy.new(user, current_user).pro?
            | Paid
          - else
            | Free
        td
          = user.company.name if user.company
        td
          = simple_form_for(user, url: user_logged_platform_settings_user_path(user.id), method: :patch) do |f|
            = f.input :monthly_billing_permission, collection: [true, false], label: false
            = f.button :submit, 'Change', class: 'button-xs'
        td
          = simple_form_for(user, url: user_logged_platform_settings_user_path(user.id), method: :patch) do |f|
            = f.input :role, collection: options_for_roles_select, include_blank: false, label: false
            = f.button :submit, 'Change Role', class: 'button-xs'
        td
          = link_to("Delete user", user_logged_platform_settings_user_path(user), data: { confirm: "Are you sure? User created content such as posts and comments will be destroyed as well." }, method: :delete, class: 'button-xs') unless user == current_user
          hr
          = link_to "Show details", user_logged_platform_settings_user_path(user)
  = paginate @users
