.solutions__menu_content.solutions__menu_content--selected
  div.float-right
    = image_tag('logos/logo_potential.png', size: '49x9')
  div.float-none
    h5 Potential Company
    div.float-none
      nav id="navbar-solutions"
        h4= link_to "Unfold your talents’ full potential - Create diverse careers", '#company-4', class: 'animateScroll'
        ul.nav.flex-column
          li.nav-item
            = link_to 'Parental Leave Forum', '#step-1', class: 'animateScroll'
          li.nav-item
            = link_to 'Project Paternity Leave', '#step-2', class: 'animateScroll'
          li.nav-item
            = link_to 'Balanced Talent Pipeline', '#step-3', class: 'animateScroll'
.solutions__menu_content
  div.float-none
    h4= link_to 'Back to overview', solutions_path
