.anchor id="step-1"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_growth.svg')
        h2.pt-3 Parental Leave Forum
      .col-12
        hr.pb-md-5
    / KEYNOTE
  .col-12.keynote
    .anchor id="step-1"
    .row
      .col-12
        .float-left.bg-white
          | Consulting
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Stop losing talents to parental leave
          hr
    .row.justify-content-center.keynote-content
      .col-12
        .pt-2.pb-5
          p What if parental leave became the source of new product development, an optimized management culture with new paradigm leaders spearheading the change, less stress-fighting expenses, more efficient and motivated employees or simply became a growth driver for the entire company?
          p It is possible. We offer tools to change your parental leave culture, so you can help lift your employee on leave and optimize the result of employees on leave for your company. We can e.g. help you develop a customized “leave off- and onboarding” program, deliver workshops that change your leaders’ way of perceiving and handling parental leave among their employees, and set a standard for parental leave that creates results on the bottom line.
          p Our offering is backed by Denmark’s largest expert panel on parental leave. The panel members are ready to assist you in maternity and paternity issues such as company and private finance issues related to parental leave planning, leave law or working parent norms and stereotypes.
          p Parental Leave Forum is a cooperation between Inspired Beyond Babies and Potential Company.
        h4
          = image_tag('logos/logo_potential.png', size: '172x30')
          .pull-right= image_tag('logos/logo_ibb.svg', style: "width: 100px")
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Potential Company', name: 'Parental Leave Forum'}, class: 'keynote__button btn btn-primary btn-primary--small'

/ STEP 2
.solutions__steps_divider
  hr
.anchor id="step-2"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_bulb.svg')
        h2.pt-3 Project Paternity Leave
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor id="step-2"
    .row
      .col-12
        .float-left.bg-white
          | Consulting
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Send new fathers on paternity leave and take diversity to a new level
          hr
    .row.justify-content-center.keynote-content
      .col-12
        .pt-2.pb-5
          p Sending more fathers on paternity leave has large potential at both micro and macro levels. Among many corporate benefits are the possibilities to make use of the full potential of your talent base, regardless of gender, without compromising competencies. The full horizon of potentials is however much wider.
          p At Project Paternity Leave you become part of a project that sets new fathers (and mothers) free to take exactly the amount of parental leave they wish – free of norms, stereotypes and financial worries.
          p
            ' When you become part of Project Paternity Leave we combine qualitative and quantitative research and innovation methods to detect and overcome barriers and prejudice toward paternity leave in your organization. We subsequently assist you in starting concrete initiatives that will create the change your organization needs.
            ' We benchmark all the results against the remaining participating companies, so you will both have your internal research results delivered, and a benchmark status based on the pool of other companies that are part of the project.
          p
            ' The project runs in parallel with the Danish government’s campaign “Aktion Fars Orlov” and allows corporate campaign participants to act immediately on their signage of the campaign charter.
            ' Project Paternity Leave is a cooperation between the NGO DareGender and Potential Company.
        h3 Pricing
        h4.pb-5
          ' Full project participation:
          strong DKK 100.000,-
        h4
          = image_tag('logos/logo_daregender.png', style: "width: 90px")
          .pull-right= image_tag('logos/logo_potential.png', size: '172x30')

    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Potential Company', name: 'Project Paternity Leave'}, class: 'keynote__button btn btn-primary btn-primary--small'
/ STEP 3
.solutions__steps_divider
  hr
.anchor id="step-3"
.row.solutions__step.solutions__step--detailed
  .col-12
    .row.step__header.justify-content-center
      .col-12.col-lg-8
        .image-container.image-container--big
          = image_tag('icons/icon_conversation.svg')
        h2.pt-3 Balanced Talent Pipeline
      .col-12
        hr.pb-md-5
  / KEYNOTE
  .col-12.keynote
    .anchor id="step-3"
    .row
      .col-12
        .float-left.bg-white
          | Consulting
        .float-right.bg-white.hidden-xs-down
          ' Duration:
          strong customized
        h1
          strong Make your talent pipeline gender- and value balanced at all career stages
          hr
    .row.justify-content-center.keynote-content
      .col-12
        .pt-2
          p In the Balanced Talent Pipeline program, we work to ensure a gender balanced talent pipeline at all career stages but most importantly during the years when the female leak intensifies – namely while the talents are in their 30s.
          p
            ' Our starting point is this: The time when it is most crucial for talents to show and develop their talent potential coincides with the life phase when they start a family. For several reasons, this circumstance affects men and women differently and therefore has different effects on men’s and women’s career paths.
            ' We first establish a baseline of your HR-data and create a talent pipeline “diagnosis” for your company. Based in this, and through life phase focused interactive workshops with management and employees from your organization, we provide a full catalogue of suggested solutions to remedy the problem areas of your organization’s talent pipeline.
            ' Our work takes its beginning in your HR data and from this, we build a combined quantitative and qualitative 5-step innovation program with concrete actions to build and retain your talents through the crucial “leak years”.
    .col-12.keynote__button_container
      .float-left = link_to '+ Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Potential Company', name: 'Balanced Talent Pipeline'}, class: 'keynote__button btn btn-primary btn-primary--small'
