.anchor id="company-4"
.row.solutions__header
  .col-12.col-lg-8
    h1.pr-5.pb-1 Unfold your talents’ full potential - Create diverse careers
    h5.pb-4
      ' In cooperation with
      strong Potential Company
    h3.pb-3 At Potential Company we help organisations step wisely into the field of gender, careers and the combination of work and family lives. We do this because we acknowledge stereotyping coming from the competition between career progression and family care to be a major barrier for the diversity of gender, values and perspectives across private and public organisations. We offer individual consulting services as well as company network benchmarking projects for a small group of likeminded companies and organisations.
    = link_to 'Request an offer', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Potential Company', name: 'Unfold your talents’ full potential - Create diverse careers' }, class: 'btn btn-primary full-offfer-button'
  .hidden-md-down.col-lg-4.pl-1.solutions__header_img
    = image_tag('icons/services_1_axiom.svg')
/ TODO: transform this into loop after transfering offers to DB
.row.solutions__step.margin-negative
  .col-12
    hr.hr--dark
== render 'offer'
