.anchor id="company-3"
.row.solutions__header
  .col-12
    h5.pb-3
      ' In cooperation with
      <br>
      strong Inspired Beyond Babies
    h1.pr-5.pb-1 Retain your talents during parental leave
    h3.pb-3
      | Retain your talents during parental leave and pave the way for more gender diversity by investing in your employees’ skill development while on parental leave, so they return to work even more motivated and resource-full...
    = link_to 'Learn more', '#', data: {target: '#solutions_more_info', toggle: 'modal', company: 'Inspired Beyond Babies', name: 'Retain your talents during parental leave'}, class: 'btn btn-primary my-3 full-offer-button'
