== render layout: 'user_logged/company_settings/layout' do
  h2 How we will reach the goals information requests
  = paginate @goal_requests
  table.table.table-responsive
    tr
      th Created at
      th Response
      / th Resolved?
    - @goal_requests.each do |goal_request|
      tr
        td= goal_request.created_at
        td= goal_request.response
        / td= goal_request.resolved.humanize
  = paginate @goal_requests
