| Logo:
= f.input :logo, as: :file
= f.input :remove_logo, as: :boolean
= f.input :stock_listed, as: :boolean
= f.input :cvr_number, label: 'Company registration number', placeholder: 'Company registration number'
= f.input :name, autofocus: true, placeholder: 'Name'
= f.input :industry_id, collection: options_for_industry, include_blank: 'Industry'
= f.input :website, label: '', placeholder: 'Website'
= f.input :employees_count_id, collection: options_for_employees_count, include_blank: 'Employee count'
= f.input :country_id, collection: options_for_country, include_blank: 'Country'
= f.input :city, placeholder: 'City'
= f.input :founded_year, placeholder: 'Founded year'
= f.input :owner_type_id, collection: options_for_owner_type, include_blank: 'Owner type'
- if policy(:users).platform_admin? 
  = f.input :always_visible, as: :boolean, label: false,  hint: 'If checked, diversity data is visible even if neither admin has active subscription.'
= f.button :submit, 'Update settings', class: 'btn btn-secondary right mr-5'
= link_to "Back to dashboard", user_logged_company_settings_path
