.container
  .row
    .hidden-md-down.col-lg-3.pt-5.pb-5
      | &nbsp;
      br
      br
      br
      br
      br
    .col-12.col-lg-9.white-bg.pt-5.pb-5.settings_screen
      == render 'user_logged/company_settings/navbar'
      = yield
