.text-right
  ul.list-inline
    li.list-inline-item= link_to 'Profile', edit_user_logged_company_settings_path, class: 'nav-link'
    li.list-inline-item= link_to 'Info requests', user_logged_company_settings_info_requests_path, class: 'nav-link'
    li.list-inline-item= link_to 'Followers stats', user_logged_company_settings_followers_stats_path, class: 'nav-link'
    - if policy(:users).any_company_superadmin?
      li.list-inline-item= link_to 'Admins', user_logged_company_settings_admins_path, class: 'nav-link'
