== render layout: 'user_logged/company_settings/layout' do
  .row
    .col-md-1.col-lg-2
    .col-12.col-md-10.col-lg-8
      .row.mb-5
        .col.col-auto
          =current_user.company.decorate.logo
        .col.m-auto
          h4= current_user.company.name
          p.lead= current_user.company.decorate.industry_city
          ul.list-unstyled
            li= "Employees: #{current_user.company.company_profile.decorate.employees_count}"
            li= "Liabilities info: #{current_user.company.company_profile.decorate.c_liabilities}"
            li= "Revenue info: #{current_user.company.company_profile.decorate.c_revenue}"
  .row
    .col-md-1.col-lg-2
    .col-12.col-md-10.col-lg-8
      = simple_form_for @company, url: user_logged_company_settings_path do |f|
        == render partial: 'form', locals: {f: f}
