= form_for :user, url: session_path(:user) do |f|
  .form-group
    = f.email_field :email, class: 'form-control', placeholder: 'Email'
  .form-group
    = f.password_field :password, class: 'form-control', placeholder: 'Password'
  .form-check.pt-2
    .terms-checkbox
      li
        label.with-square-checkbox
          = f.check_box :remember_me
          span.paragraph-link.no-decoration
            = f.label :remember_me, class: 'mx-2'
  .paragraph-link.my-4
    = link_to "Forgot your password?", new_password_path(:user)
  = f.submit 'LOG IN', class: 'btn btn-primary btn-square mt-3'
  .mt-3
    = link_to ('<i class="fa fa-linkedin" aria-hidden="true"></i> LOG IN WITH LINKEDIN').html_safe, user_linkedin_omniauth_authorize_path, class: 'btn btn-primary btn-square btn-linkedin'

/ Social media meta tags
meta property="og:title" content="GoGetty - It's all about diversity!"
meta property="og:image" content="#{image_url('gogetty_ogimage.png')}" 
