= simple_form_for resource, url: registration_path(resource) do |f|
  = devise_error_messages!
  .form-group
    = f.email_field :email, label: false, placeholder: 'Email', class: 'form-control', id: 'register_user_email'
  .form-group.form-group-flex
    = f.password_field :password, label: false, placeholder: 'Password', class: 'form-control mr-3', id: 'register_user_password'
    = f.password_field :password_confirmation, label: false, placeholder: 'Repeat password', class: 'form-control'
  .form-check.pt-2
    .terms-checkbox
      li
        label.with-square-checkbox
          = f.check_box :terms_agreed
          span.paragraph-link.no-decoration Agree to terms of service
  button.btn.btn-primary.btn-square.mt-3 type="submit" CREATE ACCOUNT
  .mt-3
    = link_to ('<i class="fa fa-linkedin" aria-hidden="true"></i> LOG IN WITH LINKEDIN').html_safe, user_linkedin_omniauth_authorize_path, class: 'btn btn-primary btn-square btn-linkedin'

