.container
  .row.justify-content-center
    .col-6
      .card.card--signup-types.text-center
        .card-block
          = image_tag 'icons/congratulations.svg', class: 'align-self-center'
          h4.card-title
            = user.congratulations_part1
            - if user.congratulations_part2
              br
            = user.congratulations_part2
          .card-text.mb-3
            ' #{user.congratulations_all}
            ' #{I18n.t('devise.registrations.signed_up_but_unconfirmed')}
            ' #{user.congratulations_another_email}
