.container
  .row
    .hidden-md-down.col-lg-2.pt-5.pb-5
      | &nbsp;
      br
      br
      br
      br
      br
    .col-12.col-lg-10.white-bg.pt-5.pb-5.settings_screen.platform_settings
      == render 'user_logged/platform_settings/navbar'
      = yield
