.text-right
  ul.list-inline
    li.list-inline-item= link_to 'Users', user_logged_platform_settings_users_path, class: 'nav-link'
    li.list-inline-item= link_to 'Companies', user_logged_platform_settings_companies_path, class: 'nav-link'
    li.list-inline-item= link_to 'Requests', user_logged_platform_settings_requests_path, class: 'nav-link'
    li.list-inline-item= link_to 'Plans', user_logged_platform_settings_plans_path, class: 'nav-link'
    li.list-inline-item= link_to 'Employee counts', user_logged_platform_settings_employees_counts_path, class: 'nav-link'
    li.list-inline-item= link_to 'Industries', user_logged_platform_settings_industries_path, class: 'nav-link'
    li.list-inline-item= link_to 'Nationalities', user_logged_platform_settings_nationalities_path, class: 'nav-link'
    li.list-inline-item= link_to 'Languages', user_logged_platform_settings_languages_path, class: 'nav-link'
    li.list-inline-item= link_to 'Platform settings', user_logged_platform_settings_path, class: 'nav-link'
