== render layout: 'user_logged/platform_settings/layout' do
  | You are in platform settings console now.
  = simple_form_for @platform_settings, url: user_logged_platform_settings_path do |f|
    = f.input :google_analytics_head, label: 'Google Analytics Tracking Code HEAD', as: :text, input_html: {class: 'h-200px text-monospace'}
    = f.input :google_analytics_body, label: 'Google Analytics Tracking Code BODY', as: :text, input_html: {class: 'h-200px text-monospace'}
    = f.button :submit