== render layout: 'user_logged/account_settings/layout' do
  - if @admin_invites.count.positive?
    | Invites list:
    table.table.table-responsive
      tr
        th Company
        th Cancelled?
        th Accepted?
        th Actions
      - @admin_invites.each do |admin_invite|
        tr
          td= admin_invite.company.name
          td= admin_invite.cancelled
          td= admin_invite.accepted
          td
            - if admin_invite.acceptable
              = simple_form_for admin_invite, url: user_logged_account_settings_admin_invite_path(admin_invite), html: {class: 'form-inline'} do |f|
                = f.button :submit, 'Accept', class: 'button-xs'
  - else
    | There's no admin invites.
