== render layout: 'user_logged/company_settings/layout' do
  h2 Information requests
  table.table
    tr
      th
      th Requests
    tr
      td Total
      td= @requests.count
    tr
      td Today:
      td= @requests.today.count
    tr
      td Last week:
      td= @requests.week.count
    tr
      td Last month:
      td= @requests.month.count
    tr
      td This year:
      td= @requests.year.count
  = paginate @requests_list
  table.table.table-responsive
    tr
      th Created at
      th Comment
    - @requests_list.each do |request|
      tr
        td= request.created_at
        td= request.comment
  = paginate @requests_list
