nav.navbar.navbar-light.bg-light.flex-display-row
  a.navbar-brand href="#"  For companies
  a.navbar-brand.navbar-brand-active href="#"  For talents
  a.navbar-brand href="#"  For solution partners
.solutions-header.solutions-talents
  .header-content
    h1 Use GoGetty to create a meaningful career
    .paragraph.my-5 Diversity means better financial results, more innovative ideas, more satisfied customers and employees, who stay longer.
    .btn.btn-default.btn-block.btn-transparent BECOME GOGETTY TALENT
.solutions-content
  .container
    .row
      .col-lg-1
      .col-lg-10
        .container
          .row.py-5.my-4
            .col-lg-6
              .mobile-center
                = image_tag 'for-companies.svg', class: 'my-4'
            .col-lg-6.my-auto
              .flex-display-column.content-column
                h2 Find out which companies can help you reach all the way to the top
                .paragraph.mt-3
                  | GoGetty makes diversity in management visible and hence measurable. Our first goal is to accelerate the process of more women, like yourself, reaching top management positions.
          .row.py-5.my-4
            .col-lg-6.my-auto
              .flex-display-column.content-column
                h2 Compare diversity numbers, goals and policies between different companies of your interest.
                .paragraph.mt-3
                  | Find out where they stand and follow their development towards more diverse and inclusive management.
            .col-lg-6
              .flex-display-img
                = image_tag 'AB.svg', class: 'my-4'
          .row.py-5.my-4
            .col-lg-6
              .mobile-center
                = image_tag 'arrow.svg', class: 'my-4'
            .col-lg-6.my-auto
              .flex-display-column.content-column
                h2 Take informed decisions
                .paragraph.mt-3
                  | GoGetty enables ambitious and highly qualified women, and soon also other diverse talents, as well as companies to find each other.
          .row.py-5.my-4
            .col-lg-6.my-auto
              .flex-display-column.content-column
                h2 Use GoGetty to create a meaningful career of your dreams
                .paragraph.mt-3
                  | Reap the benefits of the global D&I trend and choose between a rich pool of innovative companies in Denmark who have a strategic focus on diversity and inclusion
            .col-lg-6
              .flex-display-img
                = image_tag 'increased-charts.svg', class: 'my-4'
      .solutions-footer
        .container
          .row
            .col-lg-6
              == render "for_companies_card"
            .col-lg-6
              == render "for_partners_card"
      .col-lg-1