#partner_request.modal.fade aria-hidden="true" aria-labelledby="partner_request_label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .text-right.py-2.px-3
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      .modal-header
        .text-center
          .modal-title-image.py-3=image_tag('icons/modal_solution_1.svg')
          add_company_label.modal-title Let us contact You
      = simple_form_for :partner_request, url: partner_requests_path do |f|
        .modal-body.px-5
          .mb-4 Our staff will contact You to consult all required details for the offer

          = f.input :name,
            label: false,
            placeholder: 'Name',
            input_html: {value: current_user&.name}

          = f.input :surname,
            label: false,
            placeholder: 'Surname',
            input_html: {value: current_user&.surname}

          = f.input :email,
            label: false,
            placeholder: 'Email',
            input_html: {value: current_user&.email}

          = f.input :company_name,
            label: false,
            placeholder: 'Company name',
            input_html: {value: current_user&.company_name}

          = f.input :product, as: :text,
            label: false,
            placeholder: 'Short description of your D&I service'

        .modal-footer
          = f.button :submit, 'Confirm', class: 'button btn btn-secondary', id: 'proceed'
