- if policy(@company).company_superadmin?
  .paragraph-link.mr-4
    == render 'invite_admin'
    = link_to 'Add an admin', '#', data: {target: '#add_admin', toggle: 'modal'}, class: 'admin'
- elsif !policy(@company).company_admin?
  .paragraph-link.mr-4
    == render 'become_admin'
    = link_to 'Become an admin', '#', data: {target: '#how_this_works_become_admin', toggle: 'modal'}, class: 'admin'
- if user_signed_in?
  = follow_helper(@company, current_user)