.bg-faded.fixed-top.new-nav
  nav.navbar.navbar-toggleable-md
    button.navbar-toggler.navbar-toggler-right aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbar" data-toggle="collapse" type="button" id='navbar-button'
      span.navbar-toggler-icon
    - if user_signed_in?
      = link_to user_logged_walls_path, class: 'navbar-brand'
        = image_tag('logo.svg', class: 'w-100px')
    - else
      = link_to root_path, class: 'navbar-brand'
        = image_tag('logo.svg', class: 'w-100px')
    #navbar.collapse.navbar-collapse
      ul.navbar-nav
        - if user_signed_in?
          == render 'company_searches/company_search_simple'
      ul.navbar-nav.navbar-nav-logout
        - if user_signed_in?
          == render 'layouts/nav_links_for_auth'
        - else 
          == render 'layouts/nav_links_for_auth-logout'