.full-width-fixed-navbar#fixed-navbar
  .container
    .secondary-navbar.secondary-navbar-fixed
      .company-details
        .secondary-navbar__company-logo
          =@company.logo
        .secondary-navbar__company-name.pl-3
          h6=@company.name
          p.lead.paragraph-gray=@company.industry_city
      .secondary-navbar__score.hidden-md-down
        p.lead.paragraph-gray Gender Score
        .paragraph-bold="#{@company_profile.total_diversity_score}%"
        p.lead.paragraph-gray
          span.female="#{@company_profile.women_number}f "
          span 
          | / 
          span.male="#{@company_profile.men_number}m"
      .secondary-navbar__score.hidden-md-down
        p.lead.paragraph-gray Ethnicity Score
        .paragraph-bold="#{@languages.count} languages"
        p.lead.paragraph-gray="#{@nationalities.count} nationalities"
      .admin-actions.hidden-xs-down
        == render 'layouts/admin_actions'
        