.container.pt-5.pb-2
  .row
    .col-lg-6
      = link_to root_path, class: 'navbar-brand'
        = image_tag('gog-logo-footer.svg', class: 'w-100px')
      p.pr-5
        = link_to 'GoGetty is the only employer branding and diversity platform that makes diversity numbers and inclusion strategies measurable and transparent.', page_path('about')
    .col-lg-2.col-md-3.col-sm-4
      h6 MENU
      ul.list-unstyled
        li= link_to 'Home', root_path
        li= link_to 'About', page_path('about')
        li= link_to 'Companies', company_searches_path
        li= link_to 'Subscriptions', new_subscription_path
    .col-lg-2.col-md-3.col-sm-4
      h6 SERVICES
      ul.list-unstyled
        li= link_to 'Tell a friend', '#', data: {target: '#tell_friend', toggle: 'modal'}
        - if user_signed_in?
          li= link_to 'Take a TOUR', '#', id: 'restart_tour'
        li= link_to 'Sign up to our newsletter', 'http://eepurl.com/drkCB9', target: '_blank'
    .col-lg-2.col-md-3.col-sm-4
      h6 CONTACT
      ul.list-unstyled
        li= link_to 'welcome@gogetty.co', 'mailto:welcome@gogetty.co'
        li.phone-number +45 23 46 76 33
  .row  
    .col-lg-2.col-md-3.col-sm-4.col-4
      .social-media.pb-4.pt-3
        = link_to 'https://twitter.com/gogetty_co', target: '_blank' do
          i.fa.fa-twitter aria-hidden="true"
        = link_to 'https://www.facebook.com/gogetty.co/', target: '_blank' do
          i.fa.fa-facebook aria-hidden="true"
        = link_to 'https://www.instagram.com/gogetty.co/', target: '_blank' do
          i.fa.fa-instagram aria-hidden="true"
        = link_to 'https://www.linkedin.com/company/gogetty/', target: '_blank' do
          i.fa.fa-linkedin aria-hidden="true"
  .row 
    .col-12
      .terms
        p = link_to 'Terms and conditions', asset_path('GoGetty_Privacy_Policy.pdf'), target: "_blank"
        p &#9400; 2019 - GoGetty  |  All rights reserved
