/ Rails flash messages styled for Bootstrap 3.0
.container.centered#alert-container
  - flash.each do |name, msg|
    - if name.to_s == 'notice'
      - name = 'success'
    - if msg.is_a?(String)
      div class="alert alert-dismissible alert-#{name.to_s == 'notice' ? 'success' : (name.to_s == 'error' || name.to_s == 'alert') ? 'danger' : name}"
        button.fa.fa-times.close[type="button" data-dismiss="alert" aria-hidden="true"]
        div id="flash_#{name}"
          - if name.to_s == 'success' || name.to_s == 'notice'
            span.alert__sign.pr-2.fa.fa-check-circle
          - elsif name.to_s == 'error' || name.to_s == 'danger' || name.to_s == 'alert'
            span.alert__sign.pr-2.fa.fa-times-circle
          - elsif name.to_s == 'info'
            span.alert__sign.pr-2.fa.fa-info-circle
          - elsif name.to_s == 'warning'
            span.alert__sign.pr-2.fa.fa-excamation-circle
          span.pr-2.alert__title class='alert__title'
            = "#{name}!"
          span.alert__text
            = msg
