- if user_signed_in?
  / - if policy(:users).pro?
  /   | PRO
  / li.nav-item= link_to 'Home', user_logged_walls_path, class: 'nav-link', id: 'home-nav-link'
- if user_signed_in?
  - if current_user.company_id
    li.nav-item= link_to 'My company', user_logged_company_path(current_user.company), class: 'nav-link'
.dropdown.d-inline-block.nav-link
  button.btn-link data-toggle="dropdown"
    .dropdown
      ' Our solutions
      i.fa.fa-caret-down
  .dropdown-menu
    = link_to 'For companies', page_path('solutions/companies'), class: 'dropdown-item'
    = link_to 'For talents', page_path('solutions/talents'), class: 'dropdown-item'
    = link_to 'For solution partners', page_path('solutions/partners'), class: 'dropdown-item'
li.nav-item= link_to 'Companies', company_searches_path, class: 'nav-link'
/ - if current_user&.pro?
/   ri.nav-item= link_to 'Subscriptions', edit_subscription_path, class: 'nav-link'
/ - else
/   li.nav-item= link_to 'Subscriptions', new_subscription_path, class: 'nav-link'
li.nav-item= link_to 'Tell a friend', '#', data: {target: '#tell_friend', toggle: 'modal'}, class: 'nav-link'
li.nav-item= link_to 'About', page_path('about'), class: 'nav-link'
- if user_signed_in?
  li.vertical-border-nav.nav-item= link_to 'Contact', 'mailto:welcome@gogetty.co', class: 'nav-link'
  #avatar_dropdown_menu.dropdown.vertical-border-nav
    a.brn.brn-secondary id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      i.fa.fa-user-o
      i.fa.fa-caret-down.hidden-lg-up
    .dropdown-menu.dropdown-menu-right
      =link_to 'My profile', user_logged_account_settings_path, class: 'dropdown-item'
      - if policy(:users).any_company_admin? && current_user.company_id
        = link_to 'Company profile', edit_user_logged_company_settings_path, class: 'dropdown-item'
      - if policy(:users).platform_admin?
        = link_to 'Platform console', user_logged_platform_settings_users_path, class: 'dropdown-item'
      = link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'dropdown-item'
- else
  li.nav-item= link_to 'Contact', 'mailto:welcome@gogetty.co', class: 'nav-link'
  li.nav-item= link_to 'Sign in', new_user_session_path, class: 'nav-link'
  li.nav-item= link_to 'Sign up', page_path('signup_types'), class: "nav-link btn btn-signup #{'btn-primary' unless controller.controller_name == 'company_searches'}"
- if !user_signed_in? && ([root_path, page_path('companies'), page_path('talents')].include?(request.env['PATH_INFO']))
  .dropdown.d-inline-block.nav-link
    button.btn-link data-toggle="dropdown"
        .dropdown
          - if session[:locale] == :en
            | ENG
            i.fa.fa-caret-down
          - if session[:locale] == :da
            | DA
            i.fa.fa-caret-down
    .dropdown-menu
      - if session[:locale] == :en
        = link_to 'Dansk', "#{request.env['PATH_INFO']}?locale=da", class:'dropdown-item'
      - if session[:locale] == :da
        = link_to 'English', "#{request.env['PATH_INFO']}?locale=en", class:'dropdown-item'
