.links-logout
  li.nav-item= link_to 'About', page_path('about'), class: 'nav-link'
  li.nav-item= link_to 'Contact', 'mailto:welcome@gogetty.co', class: 'nav-link'
  - if !user_signed_in? && ([root_path, page_path('companies'), page_path('talents')].include?(request.env['PATH_INFO']))
    .dropdown.d-inline-block.nav-link
      button.btn-link data-toggle="dropdown"
          .dropdown
            - if session[:locale] == :en
              | ENG
              i.fa.fa-caret-down
            - if session[:locale] == :da
              | DA
              i.fa.fa-caret-down
      .dropdown-menu
        - if session[:locale] == :en
          = link_to 'Dansk', "#{request.env['PATH_INFO']}?locale=da", class:'dropdown-item'
        - if session[:locale] == :da
          = link_to 'English', "#{request.env['PATH_INFO']}?locale=en", class:'dropdown-item'
