.container
  .horizontal-border
    .secondary-navbar
      .breadcrumbs.hidden-sm-down
        .breadcrumb-nav.label = link_to 'home', root_path 
        span.separator
          | /
        .breadcrumb-nav.label= link_to 'companies', company_searches_path
        span.separator
          | /
        .breadcrumb-nav.label.label-active=@company.name
      .admin-section
        == render 'layouts/admin_actions'
  