/ navigation styled for Bootstrap 3.0
nav.navbar.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.mb-5
  button.navbar-toggler.navbar-toggler-right data-type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    i.navbar-toggler-icon
  - if user_signed_in?
    = link_to user_logged_walls_path, class: 'navbar-brand'
      = image_tag('logo.svg', class: 'w-130px')
  - else
    = link_to root_path, class: 'navbar-brand'
      = image_tag('logo.svg', class: 'w-130px')
  #navbar.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      == render 'company_searches/company_search_simple'
    ul.navbar-nav
      == render 'layouts/nav_links_for_auth'
