#tell_friend.modal.fade aria-hidden="true" aria-labelledby="tell_friend" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    .modal-content
      .modal-header
        h5#edit_summary_label.modal-title Tell a friend
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true" ×
      = simple_form_for @tell_friend,
                        url: tell_friends_path,
                        html: {class: 'form-inline', id: 'tell_friend'},
                        method: :post do |f|
        .modal-body
          | Spread the word!
          br
          ' Hi
          = f.text_field :name, placeholder: 'Your friend\'s name', label: ''
          |  !
          br
          | Take a look at this new cool career and diversity platform, GoGetty.
          br
          = f.input :email, label: "Your friend's email"
          - if current_user.nil? || (current_user.full_name == ' ')
            = f.input :full_name, label: "Your name"
        .modal-footer
          button.btn.btn-secondary data-dismiss="modal" type="button" Discard
          = f.button :submit, 'Send', class: 'button btn btn-primary'
