doctype html
html
  head
    - if @platform_settings
      == @platform_settings.google_analytics_head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    == render 'layouts/favicon'
    title
      = content_for?(:title) ? yield(:title) : "GoGetty - It's all about diversity!"
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Gogetty'}"
    == stylesheet_pack_tag 'application'
    == csrf_meta_tags
    script src="https://js.stripe.com/v2/" type="text/javascript"
    javascript:
      Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');
  body.body--mixed style="background-image:url('#{asset_path('background_img.jpg')}')"
    - if @platform_settings
      == @platform_settings.google_analytics_body
    header
      == render 'layouts/application_navigation'
    main[role="main"]
      == render 'layouts/messages'
      == render 'layouts/tell_friend'
      == yield
    == render 'layouts/footer_no_margin'
    == javascript_pack_tag 'application'
