doctype html
html
  head
    - if @platform_settings
      == @platform_settings.google_analytics_head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    == render 'layouts/favicon'
    title
      = content_for?(:title) ? yield(:title) : "GoGetty - It's all about diversity!"
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Gogetty'}"
    == stylesheet_pack_tag 'application'
    == csrf_meta_tags
  body.body--static#bodyStatic data-spy="scroll" data-target="#navbar-solutions"
    - if @platform_settings
      == @platform_settings.google_analytics_body
      header
        - if user_signed_in?
          == render 'layouts/application_navigation'
    .main-wrap
      main[role="main"]
        == render 'layouts/messages'
        == render 'layouts/tell_friend'
        == yield
    - if user_signed_in?
      == render 'layouts/footer'
    == javascript_pack_tag 'application'
